{% load staticfiles %}

<!--   Core JS Files   -->
<script src="{% static 'backoffice24/js/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'backoffice24/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'backoffice24/js/material.min.js' %}" type="text/javascript"></script>
<script src="{% static 'backoffice24/js/perfect-scrollbar.jquery.min.js' %}" type="text/javascript"></script>
<!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js' %}"></script>
<!-- Library for adding dinamically elements -->
<script src="{% static 'backoffice24/js/arrive.min.js' %}" type="text/javascript"></script>
<!-- Forms Validations Plugin -->
<script src="{% static 'backoffice24/js/jquery.validate.min.js' %}"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="{% static 'backoffice24/js/moment.min.js' %}"></script>
<!--  Charts Plugin, full documentation here: https://gionkunz.github.io/chartist-js/ -->
<script src="{% static 'backoffice24/js/chartist.min.js' %}"></script>
<!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
<script src="{% static 'backoffice24/js/jquery.bootstrap-wizard.js' %}"></script>
<!--  Notifications Plugin, full documentation here: http://bootstrap-notify.remabledesigns.com/    -->
<script src="{% static 'backoffice24/js/bootstrap-notify.js' %}"></script>
<!--   Sharrre Library    -->
<script src="{% static 'backoffice24/js/jquery.sharrre.js' %}"></script>
<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
<script src="{% static 'backoffice24/js/bootstrap-datetimepicker.js' %}"></script>
<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
<script src="{% static 'backoffice24/js/jquery-jvectormap.js' %}"></script>
<!-- Sliders Plugin, full documentation here: https://refreshless.com/nouislider/ -->
<script src="{% static 'backoffice24/js/nouislider.min.js' %}"></script>

<!--  Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="{% static 'backoffice24/js/jquery.select-bootstrap.js' %}"></script>
<!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
<script src="{% static 'backoffice24/js/jquery.datatables.js' %}"></script>
<!-- Sweet Alert 2 plugin, full documentation here: https://limonte.github.io/sweetalert2/ -->
<script src="{% static 'backoffice24/js/sweetalert2.js' %}"></script>
<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="{% static 'backoffice24/js/jasny-bootstrap.min.js' %}"></script>
<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
<script src="{% static 'backoffice24/js/fullcalendar.min.js' %}"></script>
<!-- Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
<script src="{% static 'backoffice24/js/jquery.tagsinput.js' %}"></script>
<!-- Material Dashboard javascript methods -->
<script src="{% static 'backoffice24/js/material-dashboard.js' %}"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="{% static 'backoffice24/js/demo.js' %}"></script>