{% load i18n staticfiles %}


<div class="sidebar" data-active-color="rose" data-background-color="black" data-image="{% static 'backoffice24/img/sidebar-1.jpg' %}">
            
    <div class="logo">
        <a href="#" class="simple-text logo-mini">
            JJ
        </a>
        <a href="#" class="simple-text logo-normal">
            BackOffice24
        </a>
    </div>
    <div class="sidebar-wrapper">
      
        <ul class="nav">
            <li class="active">
                <a href="dashboard.html">
                    <i class="material-icons">dashboard</i>
                    <p> Dashboard </p>
                </a>
            </li>
            <li>
                <a data-toggle="collapse" href="dashboard.html#pagesExamples">
                    <i class="material-icons">image</i>
                    <p> Employers
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="pagesExamples">
                    <ul class="nav">
                        <li>
                            <a href="pages/rtl.html">
                                <span class="sidebar-mini"> E </span>
                                <span class="sidebar-normal"> Employers List</span>
                            </a>
                        </li>
                        <li>
                            <a href="pages/pricing.html">
                                <span class="sidebar-mini"> P </span>
                                <span class="sidebar-normal"> Pricing Table</span>
                            </a>
                        </li>
                        <li>
                            <a href="pages/timeline.html">
                                <span class="sidebar-mini"> I </span>
                                <span class="sidebar-normal"> Invoices&Payments </span>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="dashboard.html#formsExamples">
                    <i class="material-icons">content_paste</i>
                    <p> Candidates
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="formsExamples">
                    <ul class="nav">
                        <li>
                            <a href="forms/regular.html">
                                <span class="sidebar-mini"> C </span>
                                <span class="sidebar-normal"> Candidates List</span>
                            </a>
                        </li>
                        <li>
                            <a href="forms/extended.html">
                                <span class="sidebar-mini"> S </span>
                                <span class="sidebar-normal"> Search Resume </span>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#widgets">
                    <i class="material-icons">widgets</i>
                    <p> Blog 
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="widgets">
                    <ul class="nav">
                        <li>
                            <a href="maps/google.html">
                                <span class="sidebar-mini"> C </span>
                                <span class="sidebar-normal"> Categories </span>
                            </a>
                        </li>
                        <li>
                            <a href="maps/vector.html">
                                <span class="sidebar-mini"> A </span>
                                <span class="sidebar-normal"> Articles </span>
                            </a>
                        </li>
                        <li>
                            <a href="maps/vector.html">
                                <span class="sidebar-mini"> MF </span>
                                <span class="sidebar-normal"> Media Files </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            
            <li>
                <a data-toggle="collapse" href="dashboard.html#componentsExamples">
                    <i class="material-icons">apps</i>
                    <p> Components
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="componentsExamples">
                    <ul class="nav">
                        <li>
                            <a href="components/buttons.html">
                                <span class="sidebar-mini"> CL </span>
                                <span class="sidebar-normal"> Categories List </span>
                            </a>
                        </li>
                        <li>
                            <a href="components/grid.html">
                                <span class="sidebar-mini"> L </span>
                                <span class="sidebar-normal"> Locations </span>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </li>
            
            
            
            <li>
                <a href="charts.html">
                    <i class="material-icons">timeline</i>
                    <p> Statistics </p>
                </a>
            </li>
            
        </ul>
    </div>
</div>