{% extends "base_layout.html" %}
{% load staticfiles %}


{%  block title %}Тонкощі угорської мови - {%  endblock %}

{%  block titlebar %}
<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo.jpg' %});">
    <div class="container">

        <div class="sixteen columns">
            <h2>Тонкощі угорської мови</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>Ви тут:</li>
                    <li><a href="{% url 'blog:home' %}">Блог</a></li>
                    <li>Тонкощі угорської мови</li>
                </ul>
            </nav>
        </div>

    </div>
</div>

{%  endblock %}


{%  block content %}
<!-- Content
================================================== -->
<div class="container">

    <!-- Blog Posts -->
    <div class="eleven columns">
        <div class="padding-right">

            <!-- Post -->
            <div class="post-container">
                <div class="post-img"><img src="{% static 'images/about_lang.jpg' %}" alt=""></div>
                <div class="post-content">
                    <h1>Тонкощі угорської мови</h1>
                    <div class="meta-tags">
                        <span>1 Січня 2018</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="margin-bottom-25"></div>

                    <p>Угорщина - дуже цікава країна з давньою і насиченою історією. І немає нічого дивного в тому, що її народ спілкується надзвичайно багатою мовою.</p>

                    <div class="post-quote">
                        <span class="icon"></span>
                        <blockquote>
                            Угорська мова входить в число найскладніших мов, поряд з японською, арабською і китайською. Але, навіть не зважаючи на це, кількість людей, бажаючих її вивчити зростає з кожним роком.
                        </blockquote>
                    </div>

                    <p>В першу чергу, знання угорської мови надає перевагу при працевлаштуванні в міжнародні компанії або при переїзді в Європу, адже сучасних роботодавців вже не здивуєш навіть досконалим володінням англійської чи німецької.</p>
                    <p>По-друге, згадаємо той факт, що туристичний напрямок Угорщини активно розвивається з кожним днем. Безліч бальнео-санаторіїв, курортів, туристичних маршрутів, а також красива природа, невисокі ціни і смачна кухня — в Угорщині є все необхідне для ідеального відпочинку. Однак, англійською мовою в Угорщині володіє переважно молодь, старші ж покоління здебільшого не розмовляють жодною мовою, окрім рідної угорської. А це означає, що під час візиту в цю дивовижну країну, Вам стануть в нагоді навіть найелементарніші знання угорської.
                    </p>
                    <p>
                        І, звичайно ж, вивчення такої незвичної для нас, словʼян, мови захоплює все більше поліглотів, для яких структура і особливе звучання угорської це своєрідний виклик.
                    </p>
                    <p>
                        Історія виникнення мови, як і самої держави бере свій початок з Азії. Угорська мова повністю відрізняється від діалектів, якими розмовляють сусідні держави з індоєвропейської мовної сім'ї. Фактично, угорська мова виникла в уральському регіоні Азії і відноситься до угро-фінської мовної групи, що свідчить про те, що найближчі сучасні родичі угорської це фінська і естонська мови.
                    </p>
                    <p>
                        За своє довге існування угорська мова розвивалася разом з народом і підпадала під вплив безлічі інших мов, що належали як ворожим племенам, так і дружнім сусідам. Угорська мова ввібрала в себе потроху від кожної мови, з якою контактувала. В угорській мові ми знаходимо сліди запозичень англіцизмів, галліцізмов і якусь схожість з німецькою і турецькою мовами. Важливий внесок в розвиток і формування угорської мови мали і слов'янські мови. Однак, зберігаючи вірність своєму стародавньому корінню, угорська мова містить колосальні 68% від своїх початкових слів. Порівняйте це з чотирма відсотками, що залишилися в англійській мові, або п'ятьма відсотками, що збереглися в івриті, і цей масштаб вразить ще більше.
                    </p>
                    <p>
                        Угорською розмовляють приблизно 17 млн осіб у всьому світі. Велика частина мовців проживає в Карпатському басейні: 10 млн - в Угорщині 2,5 млн - в Румунії, 1 млн - в Словаччині, 700 000 - на території колишньої Югославії, 250 000 - на території Карпат, 50 000 - в Австрії, і близько 300 000 в інших європейських країнах.
                    </p>
                    <h3 class="margin-top-35 margin-bottom-25">                 
                        Так що ж робить угорську мову настільки складною у вивченні?
                   </h3>
                   <p>
                        У той час як думки розходяться, більшість погоджуються з тим, що угорська мова перебуває в рейтингу "Топ 10 складних мов світу" завдяки своїм 26 відмінками і численним складним правилам.
                    </p>
                    <p>
                        Ще одна причина ховається в самому алфавіті. В угорській мові є 40 букв, 14 з яких голосні. Окрім основних голосних "a, e, i, o, u", угорська мова також включає в себе ще 9 варіацій: á, é, í, ó, ö, ő, ú, ü, ű. Вимова кожної з цих літер відрізняється лише протяжністю та мʼякістю, але може повністю змінити зміст слова. Що ж стосується приголосних, тут теж маємо невелику особливість. В угорському алфавіті вже зібрані деякі буквосполучення, що позначають певний звук. Цю закономірність слід вивчити ще на початку знайомства з угорською мовою. З найцікавіших виділимо незвичні нам букви "gy" [дь], "sz" [с], "zs" [ж], "cs" [ч], і "ly", що є еквівалентом нашого [й].
                    </p>
                    <p>
                        Характерна риса угорської мови це специфіка словотвору. Слова здебільшого утворюються методом аглютинації ( "приклеювання"). Наприклад, те, що в українській ми висловлюємо за допомогою прийменника, в угорської додається до кінця слова як відмінкове закінчення. Закінченнями, суфіксами, префіксами і приставками позначені в угорській також обставини місця і часу, та багато іншого. В якості яскравого прикладу візьмемо слово "barátainkról", що перекладемо словосполученням "про наших друзів".
                    </p>
                    <p>
                        Завдяки цьому "Суфіксальному нанизуванню" угорської мови, в 1996 році в Книгу рекордів Гіннеса було внесено найдовше слово, що складалось з 44 букв. У наш час одне з лідерів серед найдовших слів без дефісів займає майже цілий рядок - "folyamatellenőrzésiügyosztályvezetőhelyettesképesítésvizsgálat" (62 літери) - що приблизно означатиме "запит про кваліфікацію заступника начальника відділу управління процесами".
                    </p>
                    <p>
                        Як бачимо, слова угорської мови нерідко виходять дуже довгими. Щоб прочитати те чи інше слово, часто доводиться ділити його на частини або ж на склади. Як правило, наголос падає на перший склад, але в особливо довгих словах існують і побічні наголоси, що розставляються на кожному непарному складі (першому, третьому, п'ятому, сьомому).
                    </p>
                    <p>
                        Отож, так — угорська мова це справжня головоломка, і не випадково знаменитий кубик Рубіка був винайдений саме в Угорщині. І в той же час, як тільки зайві відмовки були відкинуті, і "мова поглинає з головою", обов'язково настає час приємного здивування і навіть зачарування гармонією і логікою цієї надзвичайної мови.
                    </p>
                    <p>
                        Ми щиро бажаємо Вам не боятися неповторності угорської мови. Спробуйте вивчити декілька граматичних структур і побутових фраз, і неодмінно приїжджайте практикуватися в Угорщину!
                    </p>
                    <p>
                        І наостанок, давайте разом розучимо відому крилату фразу: "Вчитися, вчитися і ще раз вчитися!", що в перекладі угорською: "Tanulni, tanulni és még egyszer tanulni!"
                    </p>
                    
                </div>
            </div>

            <!-- Comments -->
            


            <div class="clearfix"></div>
            <div class="margin-top-35"></div>


            <!-- Add Comment -->
            
        </div>
    </div>
    <!-- Blog Posts / End -->


    <!-- Widgets -->
    <div class="five columns blog">
       {% include 'blog/widget_sidebar_posts.html' %}
       <div class="clearfix"></div>
        <div class="margin-bottom-40"></div>
    </div><!-- Widgets / End -->


</div>
{%  endblock %}
