{% extends "base_layout.html" %}
{% load staticfiles %}


{%  block title %}Те, чого ви не знали про Угорщину (частина 1) - {%  endblock %}

{%  block titlebar %}
<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo.jpg' %});">
    <div class="container">

        <div class="sixteen columns">
            <h2>Те, чого ви не знали про Угорщину (частина 1)</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>Ви тут:</li>
                    <li><a href="{% url 'blog:home' %}">Блог</a></li>
                    <li>Те, чого ви не знали про Угорщину (частина 1)</li>
                </ul>
            </nav>
        </div>

    </div>
</div>

{%  endblock %}


{%  block content %}
<!-- Content
================================================== -->
<div class="container">

    <!-- Blog Posts -->
    <div class="eleven columns">
        <div class="padding-right">

            <!-- Post -->
            <div class="post-container">
                <div class="post-img"><img src="{% static 'images/fun_facts1.jpg' %}" alt=""></div>
                <div class="post-content">
                    <h1>Те, чого ви не знали про Угорщину (частина 1)</h1>
                    <div class="meta-tags">
                        <span>3 Січня 2018</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="margin-bottom-25"></div>
                    <p>
                        1. Англійська назва "Hungary" (Угорщина) походить від Середньовічного латинського Hungaria, і перекладається як "Земля гунів". Назву побудовано з етнонімів (H)ungarī, Ungrī, Ugrī, які використовувалися середньовічними письменниками при згадці як самої країни Угорщини, так і її жителів. Згідно іншого джерела, назва започаткована від давньотурецьких слів "On ogur", що в перекладі означає "десять стріл" або "десять народів".
                    </p><p>
                        2. Усередині країни не вживається назва "Hungary". Жителі Угорщини називають себе Magyar (до речі, правильно "модьор", а не "мадяр"), а саму країну Magyarország (букв. "Країна угорців"). Національна мова Magyar є прямим нащадком мови, якою розмовляли гуни. В Європі є лише дві схожі мови: фінська (Suomi) і естонська(Eesti keel).
                    </p><p>
                        3. В угорській мові є 14 голосних букв. Десять літер, що передають голосні звуки української  мови - це ще не багато. Окрім основних голосних звуків: "a, e, i, o, u", угорська мова також включає в себе ще 9 варіацій: á, é, í, ó, ö, ő, ú, ü, ű. Вимова кожної з цих літер не набагато відрізняється, але може повністю змінити зміст слова.
                    </p><p>
                        4. Протягом століть корона Святого Іштвана, національний символ і священна реліквія Угорщини, неодноразово викрадалася. У 1978 році корона великого короля знову повернулася в Угорщину, і з тих пір разом з іншими королівськими регаліями - державою, скіпетром і клятвеним мечем зберігається в будівлі парламенту Будапешта. "Імʼям корони Святого Іштвана" — проголошується щоразу, коли в Угорщині твориться правосуддя.
                    </p><p>
                        5. Будівлю угорського парламенту в Будапешті було побудовано до святкування тисячоліття Угорщини в 1896 році. У будівництві використалося не менше 40 кг твердого золота. Висота будівлі становить 96 м, як і базиліка Святого Іштвана, це найвищі історичні будівлі Будапешта. Будапештський парламент це 3-тя за величиною будівля парламенту в світі, після лондонського Вестмінстера і парламенту Румунії.
                    </p><p>
                        6. Угорщина підтримує купальні традиції, які сягають до римських часів. У країні налічується близько 1500 купалень і курортів, 450 з яких громадські.
                    </p><p>
                        7. Число "96" наділене особливим значенням в Угорщині. Перший король модьорів, Арпад, був обраний в 896 році, при заснуванні угорської держави. Перше метро Будапешта було побудовано в 1896, до святкування  тисячолітньої річниці країни. Відповідно до закону, найвищі будівлі в Будапешті повинні перевищувати 96 футів у висоту, а виконання національного гімну Угорщини займатиме лише 96 секунд, якщо заспівати його в правильному темпі.
                    </p><p>
                        8. До речі про метро. Лінія метро в Будапешті стала першою в континентальній Європі, і другою найстаршою гілкою підземного транспорту в світі після Лондонського метрополітену.
                    </p><p>
                        9. Найбільша в світі геотермальна печерна система знаходиться в Угорщині. Вона розташована під землею в Будапешті. Також нещодавно було виявлене найбільше в Європі підземне озеро, і воно знаходиться під горою Геллерт в Будапешті.
                    </p><p>
                        10. Озеро Балатон - друге за величиною озеро в Європі і найбільше в Центральній Європі. Його також називають "Угорським морем". Розмір озера Балатон становить 77 км в довжину і від 3 до 14 км в ширину. Загальна площа озера 601 кв. км.
                    </p><p>
                        11. У Будапешті знаходиться найбільша в Європі і друга за величиною в світі синагога. Знаменита Будапештська Велика синагога на вулиці Дохань може вміщати до 3000 чоловік.
                    </p><p>
                        12. Угорщина була єдиною країною, яка провела національний референдум щодо вступу до НАТО в 1999 році.
                    </p><p>
                        13. У Будапешті є легенда в якій мовиться, що якщо доторкнутися до ручки анонімної статуї в парку біля площі Героїв, можна стати великим письменником. Статуя трохи схожа на похмурого женця, але, існує думка, що цей анонім є літописцем угорського короля Бейли.
                    </p><p>
                        14. В Угорщині, коли люди пишуть свої імена або представляються публіці, вони в першу чергу озвучать своє прізвище, і лише потім ім'я.
                    </p><p>
                        15. Раніше в Угорщині батьки були зобов'язані називати свою дитину згідно попередньо затвердженого списку імен. Тобто якщо мати або батько хотіли назвати свою дитину ім'ям, не зазначеним у цьому списку, вони повинні були подати заявку в Науково-дослідний інститут лінгвістики Угорської академії наук і сподіватися, що їх заявку затвердять.
                    </p><p>
                        16. З 2007 року угорці отримали 13 Нобелівських премій, чим перевершили досягнення Японії, Китаю, Індії, Австралії і Іспанії.
                    </p>
                                        
                </div>
            </div>

            <!-- Comments -->
            


            <div class="clearfix"></div>
            <div class="margin-top-35"></div>


            <!-- Add Comment -->
            
        </div>
    </div>
    <!-- Blog Posts / End -->


    <!-- Widgets -->
    <div class="five columns blog">
       {% include 'blog/widget_sidebar_posts.html' %}
       <div class="clearfix"></div>
        <div class="margin-bottom-40"></div>
    </div><!-- Widgets / End -->



</div>
{%  endblock %}
