{% extends "base_layout.html" %}
{% load staticfiles %}


{%  block title %}Те, чого ви не знали про Угорщину (частина 2) - {%  endblock %}

{%  block titlebar %}
<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo.jpg' %});">
    <div class="container">

        <div class="sixteen columns">
            <h2>Те, чого ви не знали про Угорщину (частина 2)</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>Ви тут:</li>
                    <li><a href="{% url 'blog:home' %}">Блог</a></li>
                    <li>Те, чого ви не знали про Угорщину (частина 2)</li>
                </ul>
            </nav>
        </div>

    </div>
</div>

{%  endblock %}


{%  block content %}
<!-- Content
================================================== -->
<div class="container">

    <!-- Blog Posts -->
    <div class="eleven columns">
        <div class="padding-right">

            <!-- Post -->
            <div class="post-container">
                <div class="post-img"><img src="{% static 'images/fun_facts2.jpg' %}" alt=""></div>
                <div class="post-content">
                    <h1>Те, чого ви не знали про Угорщину (частина 2)</h1>
                    <div class="meta-tags">
                        <span>5 Січня 2018</span>
                        
                    </div>
                    <div class="clearfix"></div>
                    <div class="margin-bottom-25"></div>

                    <p>
                        1. Угорщина є однією з найстаріших країн Європи. Заснування Угорщини датується 896 роком, задовго до Франції, Німеччини чи Англії.
                    </p><p>
                        2. Серед угорських винаходів варто відмітити безпечні сірники Яноша Іріні (зразок сучасних сірників), кубик Рубіка (Ерне Рубік), криптонова лампа розжарювання Імре Броді (сучасна електрична лампочка) і відкриття вітамінів B6, рибофлавіну і біотину (Пол Дьордь). Ще декілька видатних винаходів були зроблені угорцями, які покинули країну до Другої світової війни, серед них голографія (Денніс Габор), кулькова ручка (Ласло Біро), теорія водневої бомби (Едвард Теллер) і мова програмування BASIC (Джон Кемени і Томас Е. Курц).
                    </p><p>
                        3. Відомий фінансист і меценат Джордж Сорос народився в Угорщині. Згідно даних Forbes.com, в 2013 році його благодійні пожертви склали 734 млн. дол. США, зайнявши 5 місце в списку філантропів Forbes після Білла і Мелінди Гейтс, Уоррена Баффета і Марка Цукерберга.
                    </p><p>
                        4. Угорський фехтувальник Олодар Геревич вважається "найвидатнішим фехтувальником, з-поміж живущих". Найтитулованіший спортсмен на олімпіадах в історії спортивного фехтування на саблях і рапірах. 7-кратний олімпійський чемпіон і 14-кратний чемпіон світу.
                    </p><p>
                        5. Угорська Гран-Прі 1986 року стала першою гонкою Формули-1, яка пройшла за межами "Залізної завіси".
                    </p><p>
                        6. Всього лише п'ять країн - США, Росія, Великобританія, Франція і Італія - виграли більше літніх олімпійських золотих медалей, ніж Угорщина. Угорщина займає 9-е місце з 211 країн-учасниць, вигравши в цілому 448 медалей.
                    </p><p>
                        7. Футбол є найпопулярнішим видом спорту в Угорщині. Угорці з гордістю згадують матч століття 1953 року, коли Угорщина обіграла Англію з рахунком 6:3 на стадіоні "Уемблі" в Англії. Це була перша поразка англійців перед континентальною командою на батьківщині.
                    </p><p>
                        8. Угорська футбольна зірка Ференц Пушкаш провів понад 1300 матчів, у яких забив 1200 голів. Найкращий бомбардир в історії збірної Угорщини. Віце-чемпіон світу 1954 року. 3-кратний володар Кубка європейських чемпіонів. Ще за життя був визнаний найкращим угорським футболістом усіх часів. У жовтні 2009 року ФІФА заснувала щорічний приз Ференца Пушкаша автору найкрасивішого гола. Ференц Пурцельд Біро (повне ім'я) також відомий за прізвиськами "Галопуючий майор" і "Пушечка-Бум".
                    </p><p>
                        9. Найвища в світі LEGO-вежа. Офіційні представники компанії LEGO спільно з найбільшим магазином столиці Угорщини і шанувальниками легендарного конструктора, встановили світовий рекорд висоти для веж з LEGO. Висота вежі склала близько 36 метрів. При спорудженні вежі було використано понад 45 тисяч деталей конструктора LEGO.
                    </p><p>
                        10. І ще один світовий рекорд Гіннеса. 9 червня 2007 року, угорці побили світовий рекорд з одночасного поцілунку, коли біля будівлі парламенту країни більше 6 400 пар з'єдналися губами.
                    </p><p>
                        11. Вино виготовляється в Угорщині з 5-го століття A.D. У 1737 році король Карой проголосив винний регіон Токай національною виноробною зоною, зробивши його першим офіційним виноробним регіоном в світі, майже за 120 років до французького Бордо.
                    </p><p>
                        12. В угорській мові є особливий термін для опису стану похмілля - "macskajaj" (приблизний переклад: котячий вереск). Самі ж угорці стверджують, що найкращими ліками від macskajaj є поїздка в одну з численних термальних купалень країни.
                    </p><p>
                        13. Також в угорській мові існує два слова для визначення червоного кольору: "vörös" і "piros".
                    </p><p>
                        14. В угорців немає традиції цокатися келихами або пляшками. Згідно з легендою, коли під час Революції 1848 року, 13 генералів Угорщини були страчені в Австрії, австрійці чаркувалися своїми пивними келихами після кожної страти. Вшановуючи пам'ять полеглих генералів, угорці відмовляються від цього звичного нам атрибуту застілля.
                    </p><p>
                        15. Перший закордонний ресторан швидкого харчування в Угорщині був відкритий в 1988 році. І це був McDonald's.
                    </p><p>
                        16. Паприка - найпопулярніша спеція в Угорщині і символ її кухні. Готується з червоного меленого сушеного перцю, який росте виключно в Угорщині. Вперше ця спеція була використана в XVI столітті в якості консерванту для харчових продуктів. Для того щоб щоб отримати 0,5 кг меленої паприки потрібно приблизно 1,4 кг висушених угорських червоних перців.
                    </p><p>
                        17. У середньому кожен угорець споживає понад 500 г паприки щорічно. У спеції міститься більше вітаміну С, ніж у цитрусових. В Угорщині вирощується понад 40 сортів червоного перцю для паприки.
                    </p>
                    
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="margin-top-35"></div>
           
        </div>
    </div>


    <!-- Widgets -->
    <div class="five columns blog">
       {% include 'blog/widget_sidebar_posts.html' %}
       <div class="clearfix"></div>
        <div class="margin-bottom-40"></div>
    </div><!-- Widgets / End -->



</div>
{%  endblock %}
