{% extends "base_layout.html" %}
{% load staticfiles %}

{%  block title %} Блог - {%  endblock %}

{%  block titlebar %}
<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo.jpg' %});">
    <div class="container">

        <div class="sixteen columns">
            <h2>Блог</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>Останні новини та Цікаві факти про Угорщину</li>
                </ul>
            </nav>
        </div>

    </div>
</div>

{%  endblock %}


{%  block content %}

<!-- Content
================================================== -->
<div class="container">

    <!-- Blog Posts -->
    <div class="eleven columns">
        <div class="padding-right">

            <!-- Post -->
            <div class="post-container">
                <div class="post-img"><a href="{% url 'blog:blog_post' slug='fun-facts-part2' %}"><img src="{% static 'images/fun_facts2.jpg' %}" alt=""></a><div class="hover-icon"></div></div>
                <div class="post-content">
                    <a href="{% url 'blog:blog_post' slug='fun-facts-part2' %}"><h3>Те, чого ви не знали про Угорщину (частина 2)</h3></a>
                    <div class="meta-tags">
                        <span>5 Січня 2018</span>
                        <span><a href="{% url 'blog:blog_post' slug='fun-facts-part2' %}"> </a></span>
                    </div>
                    <p>Угорщина є однією з найстаріших країн Європи. Заснування Угорщини датується 896 роком, задовго до Франції, Німеччини чи Англії. Серед угорських винаходів варто відмітити безпечні сірники Яноша Іріні (зразок сучасних сірників), кубик Рубіка (Ерне Рубік), криптонова лампа розжарювання Імре Броді (сучасна електрична лампочка) і відкриття вітамінів B6, рибофлавіну і біотину (Пол Дьордь). Ще декілька видатних винаходів були зроблені угорцями, які покинули країну до Другої світової війни, серед них голографія (Денніс Габор), кулькова ручка (Ласло Біро), теорія водневої бомби (Едвард Теллер) і мова програмування BASIC (Джон Кемени і Томас Е. Курц).</p>
                    <a class="button" href="{% url 'blog:blog_post' slug='fun-facts-part2' %}">Читати</a>
                </div>
            </div>

            <!-- Post -->
            <div class="post-container">
                <div class="post-img"><a href="{% url 'blog:blog_post' slug='fun-facts-part1' %}"><img src="{% static 'images/fun_facts1.jpg' %}" alt=""></a><div class="hover-icon"></div></div>
                <div class="post-content">
                    <a href="{% url 'blog:blog_post' slug='fun-facts-part1' %}"><h3>Те, чого ви не знали про Угорщину (частина 1)</h3></a>
                    <div class="meta-tags">
                        <span>3 Січня 2018</span>
                        <span><a href="{% url 'blog:blog_post' slug='fun-facts-part1' %}"> </a></span>
                    </div>
                    <p>Англійська назва "Hungary" (Угорщина) походить від Середньовічного латинського Hungaria, і перекладається як "Земля гунів". Назву побудовано з етнонімів (H)ungarī, Ungrī, Ugrī, які використовувалися середньовічними письменниками при згадці як самої країни Угорщини, так і її жителів. Згідно іншого джерела, назва започаткована від давньотурецьких слів "On ogur", що в перекладі означає "десять стріл" або "десять народів".</p>
                    <a class="button" href="{% url 'blog:blog_post' slug='fun-facts-part1' %}">Читати</a>
                </div>
            </div>

            <!-- Post -->
            <div class="post-container">
                <div class="post-img"><a href="{% url 'blog:blog_post' slug='hungarian-language' %}"><img src="{% static 'images/about_lang.jpg' %}" alt=""></a><div class="hover-icon"></div></div>
                <div class="post-content">
                    <a href="{% url 'blog:blog_post' slug='hungarian-language' %}"><h3>Тонкощі угорської мови</h3></a>
                    <div class="meta-tags">
                        <span>1 Січня 2018</span>
                        <span><a href="{% url 'blog:blog_post' slug='hungarian-language' %}"> </a></span>
                    </div>
                    <p>Угорщина - дуже цікава країна з давньою і насиченою історією. І немає нічого дивного в тому, що її народ спілкується надзвичайно багатою мовою.
                    </p>
                    <a class="button" href="{% url 'blog:blog_post' slug='hungarian-language' %}">Читати</a>
                </div>
            </div>

            
        </div>
    </div>
    <!-- Blog Posts / End -->


    <!-- Widgets -->
    <div class="five columns blog">
       {% include 'blog/widget_sidebar_posts.html' %}
       <div class="clearfix"></div>
        <div class="margin-bottom-40"></div>
    </div><!-- Widgets / End -->


</div>
{%  endblock %}

{%  block custom_js %}
    <script>
        jQuery("#blog-link > a").attr('id', 'current');
    </script>
{%  endblock %}