{% extends "employer/employer_layout.html" %}
{% load i18n staticfiles %}

{%  block title %} {% trans 'Recruitment Services' %} - {{block.super}} {%  endblock %}


{%  block banner %}
<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo-02.jpg' %});">
    <div class="container">

        <div class="ten columns">
            <h2>{% trans 'Recruitment Services' %}</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>{% trans 'You are here' %}:</li>
                    <li><a href="{% url 'employer:home' %}">{% trans 'For Employers' %}</a></li>
                    <li>{% trans 'Recruitment Services' %}</li>
                </ul>
            </nav>
        </div>

        

    </div>
</div>

{%  endblock %}


{%  block content %}

<div class="container">
    <div class="sixteen columns">

        <ul>
            <li><h4>Do you need a larger number of staff?</h4></li>
            <li><h4>Do you have some specific requirements for the Ukrainian specialists you are looking for?</h4></li>
            <li><h4>And you don't want to impose on your employees with searching foreign talents?</h4></li>
            <li><h4>Let the JustJob team do it for you!</h4></li>
        </ul>
        <div class="margin-bottom-40"></div>
        <p>
            Within our Recruitment program, we are looking for qualified Ukrainian employees who are most suited to meet the requirements for the professional qualifications of our client.
        </p><p>
            Basing on our experience in the Ukrainian market, we will find the most suitable specialists for you in the shortest time. According to the client's requirements  we undertake the preliminary selection of candidates, interviews and necessary practical tests. At the end of the selection process, we will provide you with a range of most suitable candidates, as well as help you to get in direct contact with your future employees.
        </p><p>
            If you have not dealed with the employment of foreign specialists before, perhaps you might not to take into account all the necessary requirements and legal  actions for hiring employees from abroad, though this can significantly complicate the process of recruiting. You can entrust us to asssist you with the detailed information about the required documents (taxpayer number, TAJ number, work permit).
        </p>
            <h4>What is the cost of individual recruitment?</h4>
        <p>
            Our recruiting services for hiring the necessary staff for you are processed in accordance with a specific contract. The fee is determined individually for each case. After a detailed evaluation of the employer's expectations, we will provide an offer for the estimated cost of the tasks to be performed.
        </p><p>    
            Do not hesitate to contact us if you have any questions about employing a foreign worker – JustJob already has all answers!
        </p>
    </div>
</div>
        

{%  endblock %}



{%  block custom_js %}
    <script>
        jQuery("#recr-link > a").attr('id', 'current');
    </script>
{%  endblock %}