{% extends "employer/employer_layout.html" %}
{% load i18n staticfiles %}

{%  block title %} {% trans 'Recruitment Services' %} - {{block.super}} {%  endblock %}


{%  block banner %}
<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo-02.jpg' %});">
    <div class="container">

        <div class="ten columns">
            <h2>{% trans 'Recruitment Services' %}</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>{% trans 'You are here' %}:</li>
                    <li><a href="{% url 'employer:home' %}">{% trans 'For Employers' %}</a></li>
                    <li>{% trans 'Recruitment Services' %}</li>
                </ul>
            </nav>
        </div>

        

    </div>
</div>

{%  endblock %}


{%  block content %}

<div class="container">
    <div class="sixteen columns">

        <ul>
            <li><h4>Nagyobb számú vendégmunkásra lenne szüksége?</h4></li>
            <li><h4>Egyedi elvárásai vannak a keresett ukrán szakemberrel kapcsolatosan?</h4></li>
            <li><h4>Nem szeretné munkatársait terhelni a külföldi munkavállalók kiválasztásával?</h4></li>
            <li><h4>Mi megkönnyítjük Önnek a megfelelő ukrán munkaerő megtalálását!</h4></li>
        </ul>
        <div class="margin-bottom-40"></div>
        <p>
 
            Munkaerő-közvetítési szolgáltatásunk keretében megbízónk speciális igényei alapján megkeressük a követelményeknek leginkább megfelelő szakképzett ukrán munkavállalókat, egyes szakmák esetében akár direkt keresés (fejvadászat) segítségével is. Ukrán piaci tapasztalatainkra támaszkodva rövid időn belül megtaláljuk Önnek a legalkalmasabb munkaerőt. Megbízói útmutatás alapján előszűrjük a jelentkezőket, lebonyolítjuk az interjúkat, elvégeztetjük a kért gyakorlati teszteket. A kiválasztási folyamat végén a legmegfelelőbb jelölteket részletesen bemutatjuk, segítünk a munkavállalókkal történő személyes kapcsolatfelvételben is.
        </p><p>
            Amennyiben Ön még nem alkalmazott külföldi munkaerőt, nem biztos, hogy tisztában van a jogszabályi előírásokkal és a szükséges teendőkkel. Mi ebben is segítünk, részletes tájékoztatást adunk a felmerülő feladatokról (adószám, TAJ-szám, engedélyek).
        </p><p>
            Munkaerő-közvetítési szolgáltatásunk igénybevétele egyedi szerződéskötés keretében történik, megbízási díj ellenében. Munkaerő igényének részletes felmérése után árajánlatot adunk Önnek az elvégzendő feladatokra vonatkozóan.
        </p><p>
            Vegye fel velünk a kapcsolatot, ha bármilyen kérdése merülne fel külföldi munkavállaló alkalmazásával kapcsolatosan, kollégáink részletes tájékoztatást adnak Önnek!   
        </p>
    </div>
</div>
        

{%  endblock %}



{%  block custom_js %}
    <script>
        jQuery("#recr-link > a").attr('id', 'current');
    </script>
{%  endblock %}