{% extends "employer/employer_layout.html" %}
{% load i18n staticfiles %}

{%  block title %} {% trans 'Recruitment Services' %} - {{block.super}} {%  endblock %}


{%  block banner %}
<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo-02.jpg' %});">
    <div class="container">

        <div class="ten columns">
            <h2>{% trans 'Recruitment Services' %}</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>{% trans 'You are here' %}:</li>
                    <li><a href="{% url 'employer:home' %}">{% trans 'For Employers' %}</a></li>
                    <li>{% trans 'Recruitment Services' %}</li>
                </ul>
            </nav>
        </div>

        

    </div>
</div>

{%  endblock %}


{%  block content %}

<div class="container">
    <div class="sixteen columns">

        <ul>
            <li><h4>Вам нужно большое количество работников?</h4></li>
            <li><h4>У Вас есть определенные критерии или пожелания к уровню квалификации специалистов?</h4></li>
            <li><h4>Вам бы не хотелось озадачивать своих сотрудников поиском новых кадров?</h4></li>
            <li><h4>Мы упростим эту задачу!</h4></li>
        </ul>
        <div class="margin-bottom-40"></div>
        <p>

            В рамках нашей Экстра программы — «Подбор кадров» мы берем на себя поиск квалифицированных украинских сотрудников, которые наиболее соответствуют требованиям и пожеланиям нашего клиента.
        </p><p>
            Основываясь на нашем опыте работы на украинском рынке, мы в кратчайшие сроки найдем для Вас наиболее подходящих специалистов. Учитывая пожелания клиента, мы самостоятельно проводим предварительный подбор кандидатов, собеседования и необходимые практические тесты. По окончанию тщательного отбора мы предоставим заказчику подборку наиболее подходящих претендентов, а также поможем заранее обсудить все условия работы с будущими сотрудниками.
        </p><p>
            Если Вы еще не сталкивались с трудоустройством зарубежных специалистов, Вы можете не учесть всех правовых требований и необходимых действий, необходимых для найма сотрудников с заграницы, что может значительно усложнить процесс трудоустройства.
        </p><p>    
            Мы поможем Вам получить подробную информацию о необходимых документах (номер налогоплательщика, номер TAJ, разрешения на работу).
        </p>
            <h4>Какова стоимость индивидуального подбора персонала?</h4>
        <p>
            Услуги по поиску необходимых Вам кадров обрабатываются в соответствии с конкретным контрактом. Оплата услуг в каждом случае определяется индивидуально.
            После детальной оценки пожеланий работодателя, мы предоставим Вам предложение стоимости касательно выполняемых задач.
        </p><p>
            Свяжитесь с нами, если у Вас есть вопросы о тонкостях трудоустройства иностранного работника, и наши коллеги предоставят Вам подробную информацию!
        </p>
    </div>
</div>
        

{%  endblock %}



{%  block custom_js %}
    <script>
        jQuery("#recr-link > a").attr('id', 'current');
    </script>
{%  endblock %}