{% extends "employer/employer_layout.html" %}
{% load i18n staticfiles %}

{%  block title %} {% trans 'Recruitment Services' %} - {{block.super}} {%  endblock %}


{%  block banner %}
<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo-02.jpg' %});">
    <div class="container">

        <div class="ten columns">
            <h2>{% trans 'Recruitment Services' %}</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>{% trans 'You are here' %}:</li>
                    <li><a href="{% url 'employer:home' %}">{% trans 'For Employers' %}</a></li>
                    <li>{% trans 'Recruitment Services' %}</li>
                </ul>
            </nav>
        </div>

        

    </div>
</div>

{%  endblock %}


{%  block content %}

<div class="container">
    <div class="sixteen columns">

        <ul>
            <li><h4>Вам потрібна велика кількість працівників?</h4></li>
            <li><h4>У Вас є певні критерії або побажання до рівня кваліфікації фахівців?</h4></li>
            <li><h4>Вам би не хотілося обтяжувати своїх співробітників пошуком нових кадрів?</h4></li>
            <li><h4>Ми спростимо цю задачу для Вас!</h4></li>
        </ul>
        <div class="margin-bottom-40"></div>
        <p>
            В рамках нашої Екстра програми «Підбір кадрів» ми беремо на себе пошук кваліфікованих українських робітників, які щонайбільше відповідають вимогам і побажанням нашого клієнта.
        </p><p>
            Грунтуючись на нашому досвіді роботи на українському ринку, ми в найкоротші терміни знайдемо для Вас найбільш підходящих фахівців. З огляду на побажання клієнта, ми самостійно проводимо попередній підбір кандидатів, співбесіди і необхідні практичні тести. По закінченню ретельного відбору ми надамо замовнику добірку найбільш підходящих претендентів, а також допоможемо в налагодити безпосередній контакт із майбутніми співробітниками.
        </p><p>
            Якщо Ви ще не зіштовхувалися з працевлаштуванням зарубіжних фахівців, Ви можете не врахувати всіх правових вимог і необхідних дій, необхідних для найму співробітників з-закордону, що може значно ускладнити процес працевлаштування.
        </p><p>    
            Ми допоможемо Вам отримати детальну інформацію про всі необхідні документи (номер платника податків, номер TAJ, дозволи на роботу).
        </p>
            <h4>Яка вартість індивідуального підбору персоналу?</h4>
        <p>
            Вартість послуг з пошуку необхідних Вам кадрів узгоджується відповідно до конкретного замовлення. Оплата послуг в кожному випадку визначається індивідуально. Після детальної оцінки побажань роботодавця, ми надамо Вам пропозицію вартості щодо виконуваних завдань.
        </p><p>
            Зв'яжіться з нами, якщо у Вас є питання про тонкощі працевлаштування іноземного працівника, і наші колеги нададуть Вам детальну інформацію!
        </p>
    </div>
</div>

{%  endblock %}



{%  block custom_js %}
    <script>
        jQuery("#recr-link > a").attr('id', 'current');
    </script>
{%  endblock %}