{% load i18n staticfiles %}

<div class="margin-top-40"></div>

<div id="footer">
    <!-- Main -->
    <div class="container">

        <div class="nine columns">
            <h4>{% trans "About" %}</h4>
            <p>{% trans "JustJob is the best Hungarian-Ukrainian online employment platform. " %}<br>
                {% trans "Find Ukrainian specialist and a dream job in Europe by few clicks!" %} <br>
                {% trans "Hiring gets easier with JustJob!" %}
            </p>
            
        </div>

        
            <h4>{% trans "Terms of Use" %}</h4>
        <div class="three columns">
            <ul class="footer-links">
                <li><a href="{% url 'main:privacy' %}">{% trans "Privacy Policy" %}</a></li>
                <li><a href="{% url 'main:terms' %}">{% trans "Terms of Service" %}</a></li>
                <li><a href="{% url 'main:usr_agr' %}">{% trans "User Agreement" %}</a></li>
                
            </ul>
        </div>      

        <div class="three columns">
            <ul class="footer-links">
                <li><a href="{% url 'main:cookies' %}">{% trans "Cookies Policy" %}</a></li>
                <li><a href="{% url 'blog:home' %}">{% trans "Our Blog" %}</a></li>
                <li><a href="{% url 'main:contact' %}">{% trans "Contact Us" %}</a></li>
            </ul>
        </div>

    </div>

    <!-- Bottom -->
    <div class="container">
        <div class="footer-bottom">
            <div class="sixteen columns">
                <h4>{% trans "Follow Us" %}</h4>
                    {% include "partials/social_links.html" %}
                <div class="copyrights">©  Copyright 2018 by <a href="{% url 'main:home' %}">Just Job</a>. {% trans "All Rights Reserved." %}</div>
            </div>
        </div>
    </div>

</div>

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>