{% load i18n %}


{% if user.is_authenticated %}
    <li>
        <form class="logout" action="{% url 'main:logout' %}" method="post">
            {% csrf_token %}
            <button class="button-default" type="submit"><i class="fa fa-sign-out"></i>{% trans "Logout" %} </button>
        </form>
    </li>
{% else %}
    <li>
        <a href="{% url 'main:login' %}"><i class="fa fa-sign-in"></i>{% trans "Login" %} 
        </a>
    </li>
{% endif %}