{% load i18n staticfiles %}

<!-- Header
================================================== -->
<header class="sticky-header">
<div class="container">
    <div class="sixteen columns">
    
        <!-- Logo -->
        <div id="logo">
            <h1><a href="{% url 'main:home' %}"><img src="{% static 'images/logo.png' %}" alt="Just Job" /></a></h1>
        </div>

        <!-- Menu -->
        <nav id="navigation" class="menu">
            <ul id="responsive">
      
                <li id="home-link"><a href="{% url 'main:home' %}">{% trans "Home" %}</a></li>
                
                <li id="addj-link"><a href="{% url 'employee:home' %}">{% trans "For Candidates" %}</a></li>

                <li id="addr-link"><a href="{% url 'employer:home' %}">{% trans "For Employers" %}</a></li>

            </ul>


            <ul class="float-right">
                <li>
                    <a href="/en/" id="select-en" class="select-lang">
                        <img src="{% static '/images/flags/uk.png' %}" width="14px" height="auto">
                    </a>
                </li>
                <li>
                    <a href="/hu/" id="select-hu" class="select-lang">
                        <img src="{% static '/images/flags/hu.png' %}" width="14px" height="auto">
                    </a>
                </li>
                <li>
                    <a href="/ru/" id="select-ru" class="select-lang">
                        <img src="{% static '/images/flags/ru.png' %}">
                    </a>
                </li>
                <li>
                    <a href="/uk/" id="select-ua" class="select-lang">
                        <img src="{% static '/images/flags/ua.png' %}" width="14px" height="auto">
                    </a>
                </li>
                
                {% include "partials/login_buttons.html" %}
                
            </ul>


        </nav>

        <!-- Navigation -->
        <div id="mobile-navigation">
            <a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> {% trans "Menu" %}</a>
        </div>

    </div>
</div>
</header>
<div class="clearfix"></div>
