<ul class="social-icons">
    <li><a class="facebook" href="https://www.facebook.com/groups/justjob.eu/"><i class="icon-facebook"></i></a></li>
    <li><a class="twitter" href="https://twitter.com/justjob_eu"><i class="icon-twitter"></i></a></li>
    <li><a class="gplus" href="https://plus.google.com/u/0/112251822538775935361"><i class="icon-gplus"></i></a></li>
    <li><a class="linkedin" href="https://www.linkedin.com/in/justjob-eu"><i class="icon-linkedin"></i></a></li>
</ul>
