{% extends "base_layout.html" %}
{% load i18n staticfiles %}

{%  block title %}Süti (Cookie) szabályzat - {%  endblock %}

{%  block titlebar %}
<!-- Titlebar
================================================== -->

<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo-02.jpg' %});">
    <div class="container">

        <div class="sixteen columns">
            <h2>Süti (Cookie) szabályzat</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>{% trans "You are here:" %}</li>
                    <li><a href="{% url 'main:home' %}">{% trans "Home" %}</a></li>
                    <li>Süti (Cookie) szabályzat</li>
                </ul>
            </nav>
        </div>

    </div>
</div>

{%  endblock %}


{%  block content %}

<!-- Content
================================================== -->
<div class="container">
    
    <!-- Submit Page -->
    <div class="sixteen columns">
        <div class="submit-page">

            <h1 class="margin-bottom-20">Süti (Cookie) szabályzat</h1>

            <!-- Notice -->
            <div class="notification notice closeable margin-bottom-40">
                <p>Honlapunkon sütiket (cookie-at), így különösen munkameneti, hirdetési és böngészést támogató sütiket használunk. A Weblapra történő látogatással a Weblap használója tudomásul veszi és hozzájárulását adja ahhoz, hogy a Weblapon tett látogatások során egy vagy több sütit küldjön az Üzemeltető a számítógépére, amely(ek) révén böngészője egyedileg azonosítható lesz. A böngésző beállítások módosításával letilthatja azokat.</p>
            </div>

            <p>
                Sok más vállalkozáshoz hasonlóan, mi is sütiket használuk információgyűjtésre. A sütik olyan kis adatfájlok, melyek információt tárolnak az Ön merevlemezén vagy webes keresőjében. Többek között információt gyűjtenek, megjegyzik a látogató egyéni beállításait, és általánosságban megkönnyítik a weboldal használatát a felhasználók számára.
            </p>
            <p>
                Honlapunkon kétféle sütit használunk: az ún. persistent” („állandó sütiket”), ezek azok a sütik, amelyek azután is az eszközén maradnak, hogy Ön elhagyta az adott weboldalt. Ezen sütik tárolhatnak személyes azonosító adatokat, amelyeket Ön megadott weboldalunkon, mint az Ön neve, e-mail címe, telefonszáma stb.. és  session” („munkamenet sütiket”), ezek ideiglenes sütik, érvényességi idejük kizárólag az Ön aktuális látogatására vonatkozik, a böngésző bezárásával ezek a sütik automatikusan törlődnek az Ön számítógépéről, eszközéről. Ezeket a sütiket használjuk a webhelyen végzett tevékenységen alapuló statisztikai jelentések összeállítására (pl. a JustJob látogatóinak számáról és az általuk meglátogatott oldalakról). A „munkamenet sütik” semmilyen esetben sem gyűjtenek Önről olyan információkat, amellyel Önt azonosítani lehetne. Ezek a sütik elengedhetetlenek a Honlappal kapcsolatos egyes funkcionalitások vagy alkalmazások megfelelő működéséhez.
            </p>
            <p>
                A honlap böngészésével elfogadja, hogy cookie-kat helyezzünk el az Ön számítógépén abból a célból, hogy elemezni tudjuk, hogyan használja honlapunkat. Hogyha nem egyezik bele, hogy sütiket használjunk, a böngésző beállítások segítségével letilthatja azokat, vagy előzetes engedélyezéshez kötött működést állíthat be. A sütik letiltása esetlegesen az Önnek nyújtott szolgáltatásunk zavartalan működését akadályozhatja. Lépjen velünk kapcsolatba, ha további kérdései lennének a sütik használatával.
            </p>


        </div>
    </div>

</div>
{%  endblock %}