{% extends "base_layout.html" %}
{% load i18n staticfiles %}

{%  block title %}ADATVÉDELMI SZABÁLYZAT - {%  endblock %}

{%  block titlebar %}
<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo-02.jpg' %});">
    <div class="container">

        <div class="sixteen columns">
            <h2>ADATVÉDELMI SZABÁLYZAT</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>{% trans "You are here:" %}</li>
                    <li><a href="{% url 'main:home' %}">{% trans "Home" %}</a></li>
                    <li>ADATVÉDELMI SZABÁLYZAT</li>
                </ul>
            </nav>
        </div>

    </div>
</div>

{%  endblock %}


{%  block content %}

<!-- Content
================================================== -->
<div class="container">
    
    <!-- Submit Page -->
    <div class="sixteen columns">
        <div class="submit-page">
            
            <h1 class="margin-bottom-20">ADATVÉDELMI SZABÁLYZAT</h1>

            <!-- Notice -->
            <div class="notification notice closeable margin-bottom-40">
                <p>
                    A Honlap használatával Ön elfogadja az alábbi felhasználási feltételeket és Adatvédelmi Szabályzatban foglaltakat.
                </p>
            </div>
            
            <p>1.1. Feltétel nélküli beleegyezését adja, hogy azokat az adatokat (személyes adatok, amelyek regisztrációkor, szolgáltatásokra való feliratkozáskor, bizonyos anyagok közzétételekor vagy további szolgáltatások igénylésekor kerülnek a Honlapra), amelyeket Ön a Honlapon található nyomtatványok kitöltésével, esetleg önéletrajza feltöltésével, a Vállalat vagy egy másik Felhasználó részére e-mailben küldött üzenet, levél által ad meg, feldolgozásra kerüljenek a Vállalat, valamit egy harmadik fél által, akinek hozzáférési joga van a Honlaphoz. A Vállalat a személyes adatait az információs önrendelkezési jogról és az információszabadságról szóló 2011. évi CXII. tv. 5.§ (1) a.) pontja szerint, az érintett hozzájárulása alapján kezeli. 
                <br>
            A személyes adatokat a Vállalat az Ön által adott felhatalmazás alapján a Vállalat és az Ön között létrejött jogviszony teljesítése érdekében kezeli, az adatkezelés időtartama a jogviszoy megszűnéséig tart.</p>
            <p>1.2. A személyes adatfeldolgozás alatt az olyan tevékenységet értjük, amely szükséges az álláskereséshez, valamint nélkülözhetetlen a Honlap szolgáltatásainak működéséhez: adatgyűjtés, regisztráció, tárolás, adaptálás, módosítás, frissítés, felhasználás, terjesztés, a Felhasználó személyes adatainak törlése.
            </p>
            <p>1.3. A felhasználási feltételek elfogadása esetén a Felhasználó megerősíti, hogy jogaival, valamint személyes adatainak gyűjtésével, tárolásával és feldolgozásával tisztában van. A Felhasználó abba is beleegyezik, hogy a Vállalatnak korlátlanul jogában áll a Felhasználó személyes adatainak feldolgozása.</p>
            <p>1.4 A Felhasználó által megadott adatok módosítására, frissítésére a szerkesztési funkció használatával a Felhasználónak bármikor tetszőleges módon lehetősége van, valamint kérheti a Vállalatot, hogy profiladatait távolítsa el és fiókját törölje.</p>
            <p>1.5. A személyes adatok gyűjtésének, tárolásának és feldolgozásának céljából a Felhasználó használhatja a Honlap által nyújtott személyre szabott szolgáltatást, beleértve a személyes adatokhoz való hozzáférést, jelszó emlékeztetőt, önéletrajz vagy állásajánlat közzétételét, a Felhasználóval való kommunikációt, a Honlap használatával kapcsolatos kéréseket és információt, valamint a Honlap egyéb lehetőségeit.</p>

            <h3>FELELŐSSÉG KORLÁTOZÁSA</h3>
            <p>
                2.1. <strong>A Vállalat kizárja a felelősségét a</strong> Felhasználók által közzétett anyagok tartalmáért, az azokban feltüntetett adatokban való hibáért vagy elírásért. A szolgáltatás használatáért kizárólag az adott Felhasználó tartozik felelősséggel.
            </p><p>
                2.2. A Vállalat semmilyen felelősséget nem vállal a Honlap tartalmának, dokumentumainak, szolgáltatásainak használatából vagy használhatatlanságából, illetve ezzel kapcsolatban keletkező bármiféle közvetlen, közvetett, specifikus, következményes vagy egyéb kárért. A Vállalat kizár minden felelősséget a Felhasználó magatartásával összefüggésben felmerült mindennemű kár és jogsérelem, illetve egyéb következmény vonatkozásában.
            </p>

            <h3>A VÁLLALAT JOGAI</h3>
            <p>
            </p>
                3.1. A Vállalat saját belátása szerin módosíthatja a Honlapot.
            </p><p>
                3.2. A Vállalatnak jogában áll a szolgáltatás típusát és költségét, valamint feltételeit módosítani.
            </p><p>
                3.3 A Vállalat fenntartja a jogot arra, hogy saját belátása szerint, kötelezettség nélkül részben vagy egészben bármikor módosítsa, bővítse vagy eltávolítsa a Felhasználói tartalmat, amennyiben úgy találja, hogy a felhasználói hozzájárulás megszegi a felhasználási feltételekben, tartalmi szabványban leírtakat, károsítja a Vállalatot, valamint sérti egy harmadik fél jogait vagy bármely irányadó jogszabályt.
            </p>
            <p>
                3.4. A Vállalat korlátlanul jogosult a Felhasználó részéről érkező anyagokat bármilyen célból felhasználni. Az ilyen jellegű felhasználásokért az információt továbbító fél semmilyen ellenszolgáltatásra nem jogosult.
            </p>
            <p>
                3.5. A Vállalat bármikor, értesítés nélkül, egyoldalúan módosíthatja a jelen Megállapodást. A Felhasználó tájékoztatást kap a Megállapodás feltételeinek változásáról attól a pillanattól kezdve, hogy a Megállapodás módosított változata megjelenik a Honlapon. Amennyiben a változások hatályba lépésének dátumát követően továbbra is használja a jelen Honlapot, akkor automatikusan elfogadja és egyetért ezen módosításokkal.

            </p>
        </div>
    </div>

</div>
{%  endblock %}