{% extends "base_layout.html" %}
{% load i18n %}
{% load staticfiles %}

{%  block title %}{% trans "User Agreement" %} - {%  endblock %}

{%  block titlebar %}
<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo-02.jpg' %});">
    <div class="container">

        <div class="sixteen columns">
            <h2>{% trans "User Agreement" %}</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>{% trans "You are here:" %}</li>
                    <li><a href="{% url 'main:home' %}">{% trans "Home" %}</a></li>
                    <li>{% trans "User Agreement" %}</li>
                </ul>
            </nav>
        </div>

    </div>
</div>
{%  endblock %}


{%  block content %}

<!-- Content
================================================== -->
<div class="container">
    
    <!-- Submit Page -->
    <div class="sixteen columns">
        <div class="submit-page margin-bottom-40">
            
            <h1 class="margin-bottom-20">FELHASZNÁLÓI MEGÁLLAPODÁS</h1>

            <!-- Notice -->
            <div class="notification notice closeable margin-bottom-40">
                
                <p>
                    Üdvözöljük a JustJob által üzemeltetett <a href="http://justjob.eu">justjob.eu</a> honlapon. 
                </p><p>
                    A jelen Felhasználói Megállapodás (továbbá - "Megállapodás") egy olyan szerződés a JustJob (továbbá - "Vállalat") és a felhasználó ( "Ön" vagy  "Felhasználó") között, amely a Felhasználó részére szolgáltatásokat nyújt a http://justjob.eu honlapon (továbbá -  "Honlap"), azon feltételek mellett, amelyek által a Felhasználó a Honlap tartalmát és felkínált szolgáltatásait ígénybe veszi.
                </p>

            </div>

            <p>
                Kérjük, figyelmesen olvassa el a felhasználási feltételeket (a mellékletekben és kiegészítésekben leírtakkal) a honlapunk használata előtt, melyet a következő webcímen talál: www.justjob.eu. A honlap használatával megerősíti, hogy elfogadja és betartja ezeket a felhasználási feltételeket. Amennyiben nem ért egyet ezekkel a felhasználási feltételekkel, az Ön számára nem engedélyezett a Honlap használata. Az összes JustJob Honlaphoz kapcsolódó, beleértve a  mobilalkalmazást és a honlap mobil verzióját, a Honlapon elérhető összes szolgáltatás, alkalmazás és termék Vállalatunk vagy velünk kapcsolatban álló személyek által lett kifejlesztve. Amennyiben Ön elfogadja a Megállapodás feltételeit egy jogi személy nevében, vagy szolgáltatásokat nyújtó és használó jogi személy vagy ügynökség nevében, abban az esetben Ön képviseli annak joghatóságát és biztosítja, hogy az adott jogalany vagy ügynökség megfeleljen a Felhasználói Megállapodás feltételeinek. Ebben az esetben az "ön" stb. szavak lesznek alkalmazva a jogi személyhez vagy ügynökséghez. 
            </p>
            <p> 
                A Honlap látogatásával és használatával Ön teljes egészében elfogadja a Felhasználói Szerződés Feltételeit és annak tartalmát:
            </p>
            <p> 
                1.1 Nem téveszthet meg más Felhasználókat vagy a Honlap adminisztrációját.
            </p>
            <p> 
                1.2 Ne hozzon létre további fiókokat a Honlapon, ha az egy és ugyanahhoz az egyénhez (személyhez) vagy munkatárshoz tartozik.
            </p>
            <p> 
                1.3 Ne tegyen közzé olyan anyagot, amely félrevezető vagy hamis információt tartalmaz.
            </p>
            <p> 
                1.4 Ne használjon nagybetűvel kezdett szavakat, ha azok nem rövidítések.
            </p>
            <p> 
                1.5 Ne tegyen közzé olyan hirdetéseket, amelyek állást kínálnak olyan területeken, mint az internetes pénzkeresés, e-mail üzenetek feldolgozása, tömeges e-mailek küldése, hálózati marketing, pénzbeli befektetések, szerencsejáték, erotikus szolgáltatások vagy okkultizmus.
            </p>
            <p> 
                1.6 Ne tegyen közzé több azonos vagy különböző közleményt csak az önéletrajz vagy állás címével.
            </p>
            <p> 
                1.7. Ne használjon egyforma szavakat, kifejezéseket a fejléc keresőben és az állásoknál.
            </p>
            <p> 
                1.8. Egy feladatnál többet ne tegyen közzé a címben és annak leírásában.
            </p>
            <p> 
                1.9 Ön beleegyezik abba, hogy nem használja a honlapot a következőkre: bármilyen reklámanyag, promóciós anyag terjesztésre, más honlapokon történő regisztrálási ajánlatok megvalósítására, felajánlásokra (regisztrációra), továbbá olyan reklámhirdetésekre, amelyek toborzással, munkaközvetítéssel foglalkoznak, együttműködve más honlapokkal.
            </p>
            <p> 
                1.10 Nem adhat közzé semmilyen rágalmazó, sértő, vagy bármilyen módon kifogásolható anyagot, amivel kárt okozhat a Vállalatnak vagy egy harmadik félnek.
            </p>
            <p> 
                1.11 Ne tegyen közzé a Honlapon olyan információt, amely más Felhasználókra vonatkozó személyes adatok gyűjtésére és tárolására vonatkozhatnak.
            </p>
            <p> 
                1.12. A Felhasználó teljes mértékben felelősséget vállal a Honlapon közzétett tartalomért, beleértve a jogszabályi követelményeknek való megfelelést, például a szerzői jogok, a cégnevek, logók, védjegyek használata, és a harmadik felek jogainak tiszteletben tartása. Abban az esetben, ha olyan harmadik féltől érkezik panaszbejelentés, akiről a Felhasználó adatokat közölt a Honlapon, úgy a Felhasználó a Honlaptól függetlenül saját költségén próbálja megoldani a felmerült konfliktust. 
            </p>
            <p> 
                1.13 A Felhasználó felelős a Honlap használatáért a jelen Megállapodás feltételeinek, valamint a Felhasználó lakóhelye szerinti országra vonatkozó jogszabályoknak megfelelően.
            </p>
            <p> 
                1.14. A www.justjob.eu online hirdetési oldal jogi védelem alatt áll. Minden jog fenntartva, ideértve a Honlapon elhelyezett képi és szöveges anyagokat, arculati elemeket. Ezek akár részbeni, akár egészében történő másolása, felhasználása, terjesztése vagy továbbítása kizárólag a Honlap üzemeltető JustJob (email: .........................; székhely: .........................; kifejezett előzetes és írásos engedélyével lehetséges. Valamennyi, a Honlappal kapcsolatos jog a Vállalatot illeti. 
            </p><p>
                1.15. A Vállalat a Honlapon elhelyezett termékinformációban található tartalomért, így kifejezetten az azokban szereplő pontatlanságokért vagy téves információkért semmilyen módon és formában nem felel, az ezekből eredő esetlegesen bekövetkező károkért való felelősségét kizárja.
            </p><p>
                1.16. A Vállalat nem tartozik felelősséggel azokért az esetlegesen bekövetkező károkért, költségekért, amelyek a Honlap használatából, vagy használatra képtelen állapotából, nem megfelelő működéséből, üzemzavarából, az adatok bárki által történő illetéktelen megváltoztatásából keletkeznek, illetve amelyek az információtovábbítási késedelemből, számítógépes vírusból, vonal- vagy rendszerhibából, vagy más hasonló okból származhatnak.
            </p><p>
                1.17. A minél egyszerűbb elérhetőség érdekében a Honlap tartalmazhat olyan külső weboldalakra utaló hivatkozásokat, amelyeket harmadik személyek üzemeltetnek. Az ilyen külső weboldalak böngészésére a jelen használati feltételek hatálya már nem terjed ki, kizárólag a látogató/ügyfél felelőssége, hogy a külső weboldalak meglátogatásakor az adott webhely használati feltételeit megismerje.
            </p>

        </div>
    </div>

</div>

{%  endblock %}