{% extends "base_layout.html" %}
{% load staticfiles %}

{%  block title %} Blog - {%  endblock %}

{%  block titlebar %}
<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo.jpg' %});">
    <div class="container">

        <div class="sixteen columns">
            <h2>Blog</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>Keep up to date with the latest news</li>
                </ul>
            </nav>
        </div>

    </div>
</div>

{%  endblock %}


{%  block content %}

<!-- Content
================================================== -->
<div class="container">

    <!-- Blog Posts -->
    <div class="eleven columns">
        <div class="padding-right">

            <!-- Post -->
            <div class="post-container">
                <div class="post-img"><a href="{% url 'blog:blog_post' slug='fun-facts-part2' %}"><img src="{% static 'images/fun_facts2.jpg' %}" alt=""></a><div class="hover-icon"></div></div>
                <div class="post-content">
                    <a href="{% url 'blog:blog_post' slug='fun-facts-part2' %}"><h3>Things you did not know about Hungary (part 2)</h3></a>
                    <div class="meta-tags">
                        <span>January 5, 2018</span>
                        <span><a href="{% url 'blog:blog_post' slug='fun-facts-part2' %}"> </a></span>
                    </div>
                    <p>Hungary is one of the oldest countries in Europe. It was founded in A.D. 896, before France, Germany, or England.Hungarian inventions include: the noiseless match (Jànos Irinyi), Rubik’s cube (Ernö Rubik), the krypton electric bulb (Imre Bródy), and the discovery of vitamins B6, riboflavin, and biotin (Paul Gyorgy). Several other notable inventions were made by Hungarians who fled the country before World War II, including holography (Dennis Gabor), the ballpoint pen (László Bíró), the theory of the hydrogen bomb (Edward Teller), and BASIC programming language (John Kemény and Thomas E. Kurtz).</p>
                    <a class="button" href="{% url 'blog:blog_post' slug='fun-facts-part2' %}">Read More</a>
                </div>
            </div>

            <!-- Post -->
            <div class="post-container">
                <div class="post-img"><a href="{% url 'blog:blog_post' slug='fun-facts-part1' %}"><img src="{% static 'images/fun_facts1.jpg' %}" alt=""></a><div class="hover-icon"></div></div>
                <div class="post-content">
                    <a href="{% url 'blog:blog_post' slug='fun-facts-part1' %}"><h3>Things you did not know about Hungary (part 1)</h3></a>
                    <div class="meta-tags">
                        <span>January 3, 2018</span>
                        <span><a href="{% url 'blog:blog_post' slug='fun-facts-part1' %}"> </a></span>
                    </div>
                    <p>The name "Hungary" may very well come from the Medieval Latin Hungaria, which translates as "Land of the Huns". Another source states that the name is derived from the Turkish words on ogur, meaning "ten arrows", or "ten peoples".</p>
                    <a class="button" href="{% url 'blog:blog_post' slug='fun-facts-part1' %}">Read More</a>
                </div>
            </div>

            <!-- Post -->
            <div class="post-container">
                <div class="post-img"><a href="{% url 'blog:blog_post' slug='hungarian-language' %}"><img src="{% static 'images/about_lang.jpg' %}" alt=""></a><div class="hover-icon"></div></div>
                <div class="post-content">
                    <a href="{% url 'blog:blog_post' slug='hungarian-language' %}"><h3>Subtleties of the Hungarian language</h3></a>
                    <div class="meta-tags">
                        <span>January 1, 2018</span>
                        <span><a href="{% url 'blog:blog_post' slug='hungarian-language' %}"> </a></span>
                    </div>
                    <p>Hungary is a very interesting country with an ancient and rich history. And it is not surprising that its people communicate with an unusually rich language.

                    </p>
                    <a class="button" href="{% url 'blog:blog_post' slug='hungarian-language' %}">Read More</a>
                </div>
            </div>

            <!-- Pagination -->
            <!-- <div class="pagination-container">
                <nav class="pagination">
                    <ul>
                        <li><a href="#" class="current-page">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                </nav>
            
                <nav class="pagination-next-prev">
                    <ul>
                        <li><a href="#" class="prev">Previous</a></li>
                        <li><a href="#" class="next">Next</a></li>
                    </ul>
                </nav>
            </div> -->

        </div>
    </div>
    <!-- Blog Posts / End -->


    <!-- Widgets -->
    <div class="five columns blog">
       {% include 'blog/widget_sidebar_posts.html' %}
       <div class="clearfix"></div>
        <div class="margin-bottom-40"></div>
    </div><!-- Widgets / End -->


</div>
{%  endblock %}

{%  block custom_js %}
    <script>
        jQuery("#blog-link > a").attr('id', 'current');
    </script>
{%  endblock %}