{% load i18n staticfiles app_tags %}


{% if applications %}
    <table class="manage-table responsive-table">

        <tr>
            <th><i class="fa fa-file-text"></i>{% trans 'Job Candidate' %}</th>
            <th><i class="fa fa-check"></i> {% trans 'Status' %}</th>
            <th><i class="fa fa-calendar"></i> {% trans 'Date' %}</th>
            <th><i class="fa fa-comments-o"></i> {% trans 'Last Message' %}</th>
            <th></th>
        </tr>
                
    {% for a in applications %}
        <tr>

            <td class="title">
                {% if a.registered_user.photo %}
                    <img src="{{a.registered_user.photo.url}}" style="float:left; padding-right: 20px; width: 100px;">
                {% else %}
                    <img src="{% static 'images/company.png' %}" style="float:left; padding-right: 20px; width: 100px;">
                {% endif %}
                <h5>{{a.registered_user.objective}}</h5>
                <a href="{% url 'employer:resume' pk=a.registered_user.id%}">{{a.registered_user.full_name}}</a>
            </td>
            <td>{{a.status|get_status}}</td>
            <td >{{a.created_at}}</td>
            {% if LANGUAGE_CODE == 'hu'%}
                <td width="30%">{{ a.id|get_last_comment:"hu" }}</td>
            {% else %}
                <td width="30%">{{ a.id|get_last_comment:" " }}</td>
            {% endif %}
            <td width="15%">
                <a href="{% url 'employer:app_details' pk=a.id %}" class="button"><i class="fa fa-eye"></i> {% trans 'Show' %}</a>
            </td>
        </tr>
    {% endfor %}

    </table>
{% else %}
    <p>{% trans 'Applications was not found.' %}</p>
{% endif %}