{% load i18n form_tags humanize %}

<div class="plan color-1 one-third column">
    <div class="plan-price">
        <h3>{{ item.title }}</h3>
        <span class="value">{{item.price|intcomma}}</span>
        <span class="plan-currency">Ft.</span>
        
    </div>
    <div class="plan-features">
        <ul>
            {% if item.num_of_categories == 1 %}
                <li>{% trans 'This Plan Includes 1 Category' %}</li>
            {% elif item.num_of_categories == 0 %}
                <li>{% trans 'This Plan Includes Unlimited Categories' %}</li>
            {% else %}
                <li>{% trans 'Categories available:' %} {{item.num_of_categories}}</li>
            {% endif %}
            <li>{% trans 'Duration:' %} {{ item.duration|get_duration }}</li>
        </ul>
    </div>
</div>