{% load i18n staticfiles %}

<!-- Header
================================================== -->
<header class="sticky-header">
<div class="container">
    <div class="sixteen columns">
    
        <div id="logo">
            <h1><a href="{% url 'main:home' %}"><img src="{% static 'images/logo.png' %}" alt="Just Job" /></a></h1>
        </div>

        <nav id="navigation" class="menu">

            {% if user.is_authenticated and user.profile.user_role == 'employer' %}
                <ul id="responsive">
                    <li id="cv-search-link">
                        <a href="{% url 'employer:cv_search' %}">{% trans 'CV Search' %}</a>
                    </li>
                    <li id="vacs-link">
                        <a href="{% url 'employer:my_vacancies' %}">{% trans 'My Vacancies' %}</a>
                    </li>
                   
                    <li id="pricing-link">
                        <a href="{% url 'employer:pricing' %}">{% trans 'Pricing' %}</a>
                    </li>
                    <li id="recr-link">
                        <a href="{% url 'employer:recruitment' %}">{% trans 'Recruitment' %}</a>
                    </li>
                    
                </ul>
            {% else %}
                <ul id="responsive">
                    <li id="home-link">
                        <a href="{% url 'employer:home' %}">{% trans 'For Employers' %}</a>
                    </li>

                    <li id="search-cv-link">
                        <a href="{% url 'employer:search_cv' %}">{% trans 'CV Search' %}</a>
                    </li>

                    <li id="addj-link">
                        <a href="{% url 'employer:post_job' %}">{% trans 'Post Job' %}</a>
                    </li>
                    <li id="recr-link">
                        <a href="{% url 'employer:recruitment' %}">{% trans 'Recruitment' %}</a>
                    </li>
                </ul>
            {% endif %}




            <ul class="float-right">

                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        <li>
                            <a href="{% url 'backoffice24:home' %}">
                                {% trans 'Backoffice' %}
                            </a>
                        </li>
                    {% elif  user.profile.user_role == 'employer' %}
                        <li>
                            <a href="{% url 'employer:profile' %}">
                                <i class="fa fa-user"></i> {% trans 'My Profile' %}
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'employee:profile' %}">
                                <i class="fa fa-user"></i> {% trans 'My Profile' %}
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
                
                {% include "partials/login_buttons.html" %}
            </ul>


        </nav>

        <!-- Navigation -->
        <div id="mobile-navigation">
            <a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> {% trans 'Menu' %}</a>
        </div>

    </div>
</div>
</header>
<div class="clearfix"></div>
