{% load i18n form_tags humanize %}

<div class="plan color-1 one-third column">
    <div class="plan-price">
        <h3>{{ item.title }}</h3>
        <span class="value">{{item.price|intcomma}}</span>
        <span class="plan-currency">Ft.</span>
        
    </div>
    <div class="plan-features">
        <ul>
            {% if item.num_of_positions == 1%}
                <li>{% trans 'This Plan Includes 1 Job' %}</li>
            {% else %}
                <li>{% trans 'This Plan Includes' %} {{item.num_of_positions}} {% trans 'Published Jobs' %}</li>
            {% endif %}
            {% if item.highlight %}
                <li>{% trans 'Highlighted Post' %}</li>
            {% else %}
                <li>{% trans 'Non-Highlighted Post' %}</li>
            {% endif %}
            <li>{% trans 'Posted for' %} {{ item.duration|get_duration }}</li>
        </ul>
    </div>
</div>