{% extends "employee/employee_layout.html" %}
{% load i18n staticfiles %}


<title>{%  block title %} {{employer.short_title}} {{block.super}} {%  endblock %}</title>


{%  block banner %}

<div id="titlebar" class="photo-bg">
    <div class="container">
        <div class="ten columns">
            <h2>{{employer.short_title}}</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>{% trans "You are here" %}:</li>
                    <li><a href="{% url 'employee:home' %}">{% trans "For Candidates" %}</a></li>
                    <li><a href="{% url 'employee:employers' %}">{% trans "Employers" %}</a></li>
                    <li>{{employer.short_title}}</li>
                </ul>
            </nav>
        </div>
    </div>
</div>

{%  endblock %}



{%  block content %}

<div class="container">
    <div class="eleven columns">
        <div class="padding-right">
            <div class="company-info">
                {% if employer.logo %}
                    <img src="{{employer.logo.url}}" alt="">
                {% else %}
                    <img src="{% static 'images/company.png' %}" alt="">
                {% endif %}
                <div class="content">
                    <h4>{{employer.short_title}}</h4>
                    {% if employer.website %}
                        <span><a href="{% url 'employer.website' %}"><i class="fa fa-link"></i>{{employer.website}}</a></span>
                    {% endif %}
                    {% if employer.linkedin_url %}
                        <span><a href="#"><i class="fa fa-linkedin"></i> {{employer.linkedin_url}}</a></span>
                    {% endif %}
                </div>
                <div class="clearfix"></div>
            </div>
            {% if employer.about_company %}
                <h3>{% trans "About company" %}:</h3>
                <p class="margin-bottom-20">
                   {{employer.about_company|linebreaks}}
                </p>
            {% endif %} 
            <div class="clearfix"></div>
            {% if open_vacs %}
                <h3>{% trans "Open Vacancies" %}:</h3>
                <ul class="list-1 margin-bottom-40">
                    {% for v in open_vacs %}
                        <li>
                            <a href="{% url 'employee:vacancy' pk=v.id%}">
                                {{v.title|title}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}         
        </div>
        
    </div>


    <div class="five columns">
        <div class="widget">
            <div class="job-overview">
                
                <ul>
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <div>
                            <strong>{% trans "Location" %}:</strong>
                            <span>{{employer.postal_address|default_if_none:''}}</span>
                        </div>
                    </li>
                    <li>
                        <i class="fa fa-phone"></i>
                        <div>
                            <strong>{% trans "Phone" %}:</strong>
                            <span>{{employer.company_phones|default_if_none:''}}</span>
                        </div>
                    </li>
                    <li>
                        <i class="fa fa-envelope"></i>
                        <div>
                            <strong>{% trans "Email" %}:</strong>
                            <span>{{employer.company_email|default_if_none:''}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Widgets / End -->
</div>

{%  endblock %}
