{% extends "employee/employee_layout.html" %}
{% load i18n staticfiles %}

<title>{%  block title %} {% trans "Employers" %} {{block.super}} {%  endblock %}</title>

{%  block banner %}

<div id="titlebar" class="photo-bg" style="background: url({% static 'images/vacancy_category_04_min.jpg' %})">
    <div class="container">
        <div class="ten columns">
            <h2>{% trans "Employers" %}</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>{% trans "You are here" %}:</li>
                    <li><a href="{% url 'employee:home' %}">{% trans "For Candidates" %} </a></li>
                    <li>{% trans "Employers" %}</li>
                </ul>
            </nav>
        </div>

        
    </div>
</div>

{%  endblock %}


{%  block content %}

<div class="container">
    <div class="sixteen columns">
    <div class="padding-right">
        <form method="post" class="list-search">
            {% csrf_token %}
            <button type="submit"><i class="fa fa-search"></i></button>
            <input type="text" name="keywords" placeholder="{% trans 'Search company by name' %}" 
             value="{%if keywords %}{{keywords}}{% endif %}" />
            <div class="clearfix"></div>
        </form>
        <ul class="job-list full">
            {% if employers %}
                {% for employer in employers %}
                    <li>
                        {% if employer.logo %}
                            <img src="{{employer.logo.url}}" alt="">
                        {% else %}
                            <img src="{% static 'images/company.png' %}" alt="">
                        {% endif %}
                        <div class="job-list-content">
                            <a href="{% url 'employee:employer' pk=employer.id %}">
                                <h4>{{employer.short_title}}</h4>
                            </a>
                            <p>
                                {{ employer.about_company|default_if_none:'' }}
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                {% endfor %}
            {% else %}
                <p>{% trans "Nothing was found." %}</p>
            {% endif %}
        </ul>
        <div class="clearfix"></div>

        {% comment %}
        <div class="pagination-container">
            <nav class="pagination">
                <ul>
                    <li><a href="#" class="current-page">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li class="blank">...</li>
                    <li><a href="#">22</a></li>
                </ul>
            </nav>

            <nav class="pagination-next-prev">
                <ul>
                    <li><a href="#" class="prev">Previous</a></li>
                    <li><a href="#" class="next">Next</a></li>
                </ul>
            </nav>
        </div>
        {% endcomment %}
    
    </div>
    </div>
</div>


{%  endblock %}


{%  block custom_js %}
    <script>
        jQuery("#employers-link > a").attr('id', 'current');
    </script>
{%  endblock %}