{% extends "employee/employee_layout.html" %}
{% load i18n staticfiles %}

<title>{%  block title %} {% trans "My Profile" %} {{block.super}} {%  endblock %}</title>

{%  block banner %}

<div id="titlebar" class="photo-bg" style="background: url({% static 'images/vacancy_category_04_min.jpg' %})">
    <div class="container">
        <div class="ten columns">
            <h2>{% trans "My Profile" %}</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>{% trans "You are here" %}:</li>
                    <li><a href="{% url 'employee:home' %}">{% trans "For Candidates" %}</a></li>
                    <li>{% trans "My Profile" %}</li>
                </ul>
            </nav>
        </div>
    </div>
</div>

{%  endblock %}



{%  block content %}

<div class="container">
    <div class="eleven columns">
        <div class="margin-bottom-20"></div>
        {% if not is_active %}
            <div style="color:red" class="margin-bottom-40">
                {% trans "Your profile was marked for removal" %} <br>
                {% trans "If You didn't do this please contact with" %} <a href="{% url 'main:contact' %}"> {% trans "administrator" %}.</a>
            </div>
        {% endif %}
        <!-- Tabs Navigation -->
        <ul class="tabs-nav">
            <li class="active"><a href="#profile">{% trans "Profile" %}</a></li>
            <li><a href="#contacts">{% trans "Contacts" %}</a></li>
            <li><a href="#certs">{% trans "Certificates" %}</a></li>
            <li><a href="#tab4">{% trans "Saved Jobs" %}</a></li>
            <li><a href="#tab5">{% trans "Settings" %}</a></li>
        </ul>

        <!-- Tabs Content -->
        <div class="tabs-container">
            <div class="tab-content" id="profile">
                <section class="padding-right">
                   <!-- Form -->
                    <form method="post" name="profileForm" id="profileForm">
                        {% csrf_token %}
                        <fieldset>
                            {{form.as_p}}
                        </fieldset>
                        <div class="margin-bottom-40"></div>
                        <input type="submit" class="submit" id="submit" value="{% trans 'Save' %}" />
                        <div class="clearfix"></div>
                        <div class="margin-bottom-40"></div>
                    </form>
                </section>
            </div><!-- tab1 / End -->

            <div class="tab-content" id="contacts">
                <section class="padding-right">
                    <form method="post" name="contactsForm" id="contactsForm">
                        {% csrf_token %}
                        <fieldset>
                            {{form2.as_p}}                            
                        </fieldset>
                        <div class="margin-bottom-20"></div>
                        <input type="submit" class="submit" id="submit" value="{% trans 'Save' %}" />
                        <div class="clearfix"></div>
                        <div class="margin-bottom-40"></div>
                    </form>
                </section>
            </div><!-- tab2 / End -->

            <div class="tab-content" id="certs">
               <div class="margin-bottom-20"></div>
                {% if certificates %}
                    <table class="manage-table resumes responsive-table">
                        <tr>
                            <th><i class="fa fa-file-text"></i>{% trans 'Title' %} </th>
                            <th><i class="fa fa-calendar"></i>{% trans 'Date Posted' %} </th>
                            <th></th>
                        </tr>
                       {% for cert in certificates %}
                        <tr>
                            <td>{{ cert.title }}</td>
                            <td>{{ cert.uploaded_at }}</td>
                            <td class="action">
                                <a href="{% url 'employee:del_cert' pk=cert.id %}" class="delete"><i class="fa fa-remove"></i>{% trans 'Delete' %} </a>
                                <a href="{{ cert.cert_file.url }}" ><i class="fa fa-eye"></i>{% trans 'Open' %} </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table> 
                {% endif %}
                 <div class="margin-top-20 margin-bottom-40">
                    <mark id="addCertMessage"></mark>
                    <h3>{% trans 'Upload New Certificate' %}</h3>
                    <form method="post" name="addCert" id="addCert" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset>
                            {{ form3.as_p }}
                        </fieldset>
                        <div class="margin-bottom-20"></div>
                        <input type="submit" class="submit" id="submit" value="{% trans 'Upload' %}" />
                        <div class="clearfix"></div>
                        <div class="margin-bottom-40"></div>
                    </form>
                </div>
            </div><!-- tab3 / End -->


            <div class="tab-content" id="tab4">

                <div class="margin-bottom-20"></div>
                <table class="manage-table resumes responsive-table">
                    
                    {% if saved_jobs %}
                    <tr>
                        <th><i class="fa fa-file-text"></i>{% trans 'Title' %} </th>
                        <th><i class="fa fa-calendar"></i>{% trans 'Date Posted' %} </th>
                        <th></th>
                    </tr>
                        {% for sj in saved_jobs %}
                            <tr>
                                <td>{{ sj.vac_title }}</td>
                                <td>{{ sj.created_at }}</td>
                                <td class="action">
                                    <a href="{% url 'employee:vacancy' pk=sj.vacancy_id %}" ><i class="fa fa-eye"></i>{% trans 'View' %} </a>
                                    <a href="{% url 'employee:bookmark' action='del' vac_id=sj.vacancy_id %}" class="delete"><i class="fa fa-remove"></i>{% trans 'Delete' %} </a>
                                </td>
                            </tr>
                        {% endfor %}
                   {% endif %}

                </table> 
            

            </div><!-- tab4 / End -->

            <div class="tab-content" id="tab5">
                <section class="padding-right">
                    <form method="post">
                        {% csrf_token %}
                        <fieldset>
                            {{form4.as_p}}                            
                        </fieldset>
                        <div class="margin-bottom-20"></div>
                        <input type="submit" class="submit" id="submit" value="{% trans 'Save' %}" />
                        <div class="clearfix"></div>
                        <div class="margin-bottom-40"></div>
                    </form>    
                </section>
                <div class="margin-bottom-40"></div>
                <section style="padding-top:80px; float:right;">
                    {% if is_active %}
                        <a href="{% url 'employee:del_acc' pk=profile_id %}" onclick="comfirm('Delete Profile?');">{% trans 'Delete my account' %}</a>
                    {% else %}
                        <a href="{% url 'employee:restore_acc' pk=profile_id %}" onclick="comfirm('Delete Profile?');">{% trans 'Restore my account' %}</a>
                    {% endif %}
                </section>
            </div>
        </div>

    </div><!-- /ten columns -->

    <!-- Widgets -->
    <div class="five columns">

        <!-- Sort by -->
        <div class="widget">
            

            <div class="job-overview">
                <center>
                    {% if photo %}
                        <img src="{{ photo.url }}">
                    {% else %}
                        <img src="{% static 'images/default-avatar.png' %}" >
                    {%endif %}
                    <a href="#small-dialog" class="popup-with-zoom-anim">{% trans 'Upload new photo' %}</a>
                    <br>    
                    <hr>                
                    <h3>{{fullname}}</h3>
                </center>
                <ul>
                    <li>
                        <i class="fa fa-user"></i>
                        <div>
                            <strong>{% trans 'User Email' %}:</strong>
                            <span>{{user_email}}</span>
                        </div>
                    </li>
                    
                    
                </ul>


                <a href="{% url 'employee:public_profile' pk=profile_id %}" class="button">{% trans 'Public Profile' %}</a>
                <em style="float:right;">({% trans 'For registered employers only' %})</em>

            </div>

        </div>

    </div><!-- Widgets / End -->
</div>

<div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
    <div class="small-dialog-headline">
        <h2>{% trans 'Upload New Photo' %}</h2>
    </div>

    <div class="small-dialog-content">
        <form method="post" enctype="multipart/form-data">
                {% csrf_token %}                
                {{ form5.as_p }}
            <div class="divider"></div>

            <button type="submit" class="send">{% trans 'Upload Photo' %}</button>
        </form>
    </div>
</div>

{%  endblock %}
{%  block custom_js %}
    <script>
        jQuery('select').addClass('chosen-select-no-single');
    </script>
{%  endblock %}