{% extends "employee/employee_layout.html" %}
{% load i18n staticfiles app_tags %}

<title>{%  block title %} {% trans 'Proposals' %} {{block.super}} {%  endblock %}</title>

{%  block banner %}

<div id="titlebar" class="photo-bg" style="background: url({% static 'images/vacancy_category_04_min.jpg' %})">
    <div class="container">
        <div class="ten columns">
            <h2>{% trans 'Proposals' %}</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>{% trans 'You are here' %}:</li>
                    <li><a href="{% url 'employee:home' %}">{% trans 'For Candidates' %}</a></li>
                    <li>{% trans 'Proposals' %}</li>
                </ul>
            </nav>
        </div>

        
    </div>
</div>

{%  endblock %}


{%  block content %}

<div class="container">
    
    <!-- Table -->
    <div class="sixteen columns">

        <p class="margin-bottom-25">{% trans 'Your Proposal listings are shown in the table below. You can move expired listings to' %} <a href="{% url 'employee:proposals_archive' %}">{% trans 'archive' %}.</a> <br>{% trans 'Closed proposals will be automatically moved to archive.' %}</p>

    {% if applications %}
        <table class="manage-table responsive-table">

            <tr>
                <th><i class="fa fa-file-text"></i>{% trans 'Job Title' %}</th>
                <th><i class="fa fa-calendar"></i>{% trans 'Date Received' %} </th>
                <th><i class="fa fa-comments-o"></i>{% trans 'Last Message' %} </th>
                <th></th>
            </tr>
                    
        {% for a in applications %}
            <tr>

                <td class="title">
                    {% if a.current_vacancy__image %}
                    <img src="/media/{{a.current_vacancy__image}}" style="float:left; padding-right: 20px; width: 100px;">
                    {% else %}
                        <img src="{% static 'images/company.png' %}" style="float:left; padding-right: 20px; width: 100px;">
                    {% endif %}

                    <h4>{{a.employer__short_title}}</h4>
                    <a href="{% url 'employee:proposal' pk=a.id %}">{{a.current_vacancy__title}}</a>
                </td>
                <td width="15%" class="centered">{{a.created_at}}</td>
                {% if LANGUAGE_CODE == 'hu'%}
                    <td width="30%">{{ a.id|get_last_comment:"hu" }}</td>
                {% else %}
                    <td width="30%">{{ a.id|get_last_comment:" " }}</td>
                {% endif %}
                <td width="20%" class="action">
                    <a href="{% url 'employee:proposal' pk=a.id %}"><i class="fa fa-eye"></i>{% trans 'Show' %} </a>
                    <a href="{% url 'employee:remove_proposal' pk=a.id %}" class="delete"><i class="fa fa-remove"></i>{% trans "Move to archive" %} </a>
                </td>
            </tr>
        {% endfor %}

        </table>
    {% else %}

        <p>{% trans 'Applications were not found.' %}</p>
        

    {% endif %}
    </div>

</div>



{%  endblock %}


{%  block custom_js %}
    <script>
        jQuery("#props-link > a").attr('id', 'current');
    </script>
{%  endblock %}