{% extends "employee/employee_layout.html" %}
{% load i18n staticfiles form_tags %}

<title>{%  block title %} {{prop.current_vacancy.title }}  - {% trans 'Proposal' %} - {{block.super}} {%  endblock %}</title>

{%  block banner %}

<div id="titlebar" class="photo-bg">
    <div class="container">
        <div class="ten columns">
            <span>{% trans 'Proposal for vacancy' %}:</span>
            <h2>{{prop.current_vacancy.title }}</h2>
        </div>

        <div class="six columns">
            {% if not prop.discarded_by_candidate %}
            <a href="{% url 'employee:proposal_refuse' pk=prop.id %}" class="button white">{% trans 'Refuse a Vacancy' %}</a>
            {% endif %}
        </div>

    </div>
</div>

{%  endblock %}


{%  block content %}

<div class="container">
    <div class="eleven columns">
        <div class="padding-right">
            {% if prop.message %}
                <div class="margin-bottom-20">
                    <h3>{% trans 'Cover Letter' %}:</h3>
                    <p>{{prop.message}}</p>
                </div>
            {% endif%}
            
            {% if messages %}
                <h3>{% trans 'Messages' %}:</h3>

                <ul class="job-list">
                        {% for m in messages %}
                        <li>
                            {% if m.created_by|get_user_photo %}
                                <img src="/media/{{m.created_by|get_user_photo}}" alt="">
                            {% else %}
                                <img src="{% static 'images/company.png' %}" alt="">
                            {% endif %}
                            <div class="job-list-content">
                                <div class="margin-bottom-20">
                                    <h4>{{ m.created_by }}</h4>
                                    <span> ({{ m.created_at }})</span>
                                </div>

                                {% if LANGUAGE_CODE == 'hu' %}
                                    <p>{{m.message_hu}}</p>
                                {% else %}
                                    <p>{{m.message}}</p>
                                {% endif %}
                                
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        {% endfor%}
                    
                </ul>
            {% endif %}
            {% if not prop.discarded_by_candidate or is_deleted %}
                <form method="post" name="messageForm" id="messageForm">
                    {% csrf_token %}
                    <fieldset>
                        <div>
                            <label>{% trans 'Message' %}: <span>*</span></label>
                            <textarea name="message" cols="40" rows="3" id="comment" spellcheck="true"></textarea>
                        </div>
                    </fieldset>
                    <br>
                    <input type="submit" class="submit" id="submit" value="{% trans 'Send Message' %}" />
                    <div class="clearfix"></div>
                    <div class="margin-bottom-40"></div>
                </form>
            {% else %}
                <p>{% trans 'You refused this job application' %}.</p>
            {% endif %}
        </div>
    </div>


    <!-- Widgets -->
    <div class="five columns">

        <!-- Sort by -->
        <div class="widget">
            <h4>{% trans 'About Vacancy' %}:</h4>
            <div class="job-overview">
                
                <ul>
                    <li>
                        <i class="fa fa-users"></i>
                        <div>
                            <strong>{% trans 'Company' %}:</strong>
                            <span>{{prop.current_vacancy.company.short_title}}</span>
                        </div>
                    </li>
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <div>
                            <strong>{% trans 'Location' %}:</strong>
                            {% if prop.current_vacancy.central_city %}
                                <span>
                                    {{prop.current_vacancy.central_city|get_central_city }}
                            {% endif %}
                            {% if vacancy.central_city %}
                                ({% trans 'or' %} {{prop.current_vacancy.location|get_location }})
                                </span>
                            {% endif %}
                        </div>
                                
                    </li>
                    {% if prop.current_vacancy.work_hours %}
                    <li>
                        <i class="fa fa-clock-o"></i>
                        <div>
                            <strong>{% trans 'Work hours/week' %}:</strong>
                            <span>{{prop.current_vacancy.work_hours }}</span>
                        </div>
                    </li>
                    {% endif %}
                    {% if prop.current_vacancy.salary %}
                    <li>
                        <i class="fa fa-money"></i>
                        <div>
                            <strong>{% trans 'Rate' %}:</strong>
                            <span>{{prop.current_vacancy.salary|get_currency }}</span>
                        </div>
                    </li>
                    {% endif %}
                    <li>
                        <i class="fa fa-money"></i>
                        <div>
                            <strong>{% trans 'About Job' %}:</strong>
                            <span>{{prop.current_vacancy.job_description|truncatewords:8 }}</span>
                        </div>
                    </li>
                </ul>


                <a href="{% url 'employee:vacancy' pk=prop.current_vacancy.id %}" class="button">{% trans 'Go to Job Page' %}</a>
                

            </div>

        </div>

    </div>
    <!-- Widgets / End -->


</div>

{%  endblock %}
