{% extends "employee/employee_layout.html" %}
{% load i18n staticfiles resume_tags %}

<title>{%  block title %} {{ profile.full_name }} - {{block.super}} {%  endblock %}</title>

{%  block banner %}

<div id="titlebar" class="resume">
    <div class="container">
        <div class="ten columns">
            <div class="resume-titlebar">
                {% if profile.photo %}
                    <img src="{{ profile.photo.url }}" alt="">
                {% else %}
                    <img src="{% static 'images/default-avatar.png' %}" alt="">
                {% endif %}
                <div class="resumes-list-content">
                    <h4>{{ profile.full_name }}<span>{{ profile.objective|default_if_none:'' }}</span></h4>
                    <span class="icons"><i class="fa fa-map-marker"></i> {{ profile.location_city|default_if_none:'' }}, {{ profile.location_country|default_if_none:'' }}</span>
                    
                    <div>
                        <span class="icons"><i class="fa fa-phone"></i>{{ profile.phone|default_if_none:'' }}</span>
                        <span class="icons"><i class="fa fa-envelope"></i>{{ profile.email|default_if_none:'' }}</span>
                        <span class="icons"><i class="fa fa-skype"></i>{{ profile.skype|default_if_none:'' }}</span>
                        <span class="icons"><i class="fa fa-linkedin"></i>{{ profile.linkedin_profile|default_if_none:'' }}</span>
                    </div>
                  
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{%  endblock %}

{%  block content %}

<div class="container">
    <div class="ten columns">
        <div class="padding-right">

            <h3 class="margin-bottom-15">{% trans 'About Me' %}</h3>

            <p class="margin-reset">
                {{profile.about_me|linebreaks}}
            </p>

            <br>

            <h3 class="margin-bottom-15">{% trans 'Experience' %}</h3>

            <p class="margin-reset">
                {{profile.experience|linebreaks}}
            </p>

            <br>

            <h3 class="margin-bottom-15">{% trans 'Education' %}</h3>

            <p class="margin-reset">
                 {{profile.education|linebreaks}}
            </p>

            <br>
        </div>
    </div>


    <!-- Widgets -->
    <div class="six columns">

        <h3 class="margin-bottom-20">{% trans 'Language Skills' %}</h3>

        <!-- Resume Table -->
        <ul class="list-1 margin-bottom-40">
            <li>{% trans 'Level of English' %} ({{ profile.level_of_en|get_lang_level|default_if_none:'' }})
            </li>
            <li>{% trans 'Level of Hungarian' %} ({{ profile.level_of_hu|get_lang_level|default_if_none:'' }})
            </li>
            <li>{% trans 'Level of Russian' %} ({{ profile.level_of_ru|get_lang_level|default_if_none:'' }})
            </li>
            <li>{% trans 'Level of Ukrainian' %} ({{ profile.level_of_ua|get_lang_level|default_if_none:'' }})
            </li>
        </ul>

        {% if certificates %}
        <h3 class="margin-bottom-20">{% trans 'Certificates' %}</h3>
        
        <ul class="list-1 margin-bottom-40">
            {% for cert in certificates %}
                <li>{{cert.title}} ({{cert.uploaded_at|date:'Y-m-d'}})
                    <a href="{{ cert.cert_file.url }}">{% trans 'download' %} </a>
                </li>
            {% endfor %}  
        </ul>
        {% endif %}

    </div>

</div>


{%  endblock %}
