#employee,
#employer {
    float: left;
    display: inline-block;
    width: 15%;
}

.select-lang>img {
    width: 32px;
    height: auto;
}

.select-lang {
    padding: 3px 7px !important;
}

@media screen and (min-width: 0px) and (max-width: 760px) {
  .fullwidthbanner { display: none !important; }   /* hide it */
}

ul#main-questions {
    font-size: 1.2rem; 
    
    padding-left: 30px;
}

ul#main-questions > li {
    line-height: 1.5rem !important;
}

.button-default {
    background-color: inherit !important;
    color: #666;
}

li {
    line-height: 27px !important;
}