{% extends "base_layout.html" %}
{% load i18n staticfiles %}

{%  block title %}{% trans "Contact Us" %} - {%  endblock %}


{%  block titlebar %}
<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo-02.jpg' %});">
    <div class="container">

        <div class="sixteen columns">
            <h2>{% trans "Contact" %}</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>{% trans "You are here:" %}</li>
                    <li><a href="{% url 'main:home' %}">{% trans "Home" %}</a></li>
                    <li>{% trans "Contact" %}</li>
                </ul>
            </nav>
        </div>

    </div>
</div>

{%  endblock %}


{%  block content %}

<!-- Container -->
<div class="container">

    <div class="eleven columns">

        <h3 class="margin-bottom-15">{% trans "Contact Form" %}</h3>
            
            {% if request.GET.submitted == 'True' %}
                <p style="color: red">{% trans 'Form submitted successfully!' %}</p>
            {% endif %}
            <!-- Contact Form -->
            <section id="contact" class="padding-right">

                <!-- Success Message -->
                <mark id="message"></mark>

                <!-- Form -->
                <form method="post" name="contactForm" id="contactForm">

                    <fieldset>
                     {% csrf_token %}
                    <div>
                        {% for error in form.name.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        <label>{% trans "Name:" %}</label>
                        <input name="name" type="text" id="name" />
                    </div>

                    <div>
                        {% for error in form.email.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        <label >{% trans "Email:" %} <span>*</span></label>
                        <input name="email" type="email" id="email" pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$" />
                    </div>

                    <div>
                        {% for error in form.comment.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        <label>{% trans "Message:" %} <span>*</span></label>
                        <textarea name="comment" cols="40" rows="3" id="comment" spellcheck="true"></textarea>
                    </div>

                </fieldset>
                    <div id="result"></div>
                    <input type="submit" class="submit" id="submit" value="{% trans 'Send Message' %}" />
                    <div class="clearfix"></div>
                    <div class="margin-bottom-40"></div>
                </form>

            </section>
            <!-- Contact Form / End -->

    </div><!-- Container / End -->


<!-- Sidebar -->
    <div class="five columns">

    </div><!-- /Sidebar -->
</div><!-- Container / End -->
{%  endblock %}
