{% extends "base_layout.html" %}
{% load i18n staticfiles %}


{%  block banner %}
<!-- Slider
================================================== -->
<div class="fullwidthbanner-container">
    <div class="fullwidthbanner">
        <ul>

            <!-- Slide 1 -->
            <li data-fstransition="fade" data-transition="fade" data-slotamount="10" data-masterspeed="300">
                <img src="{% static 'images/banner-home-03.jpg' %}" alt="">

                <div class="caption title sfb" data-x="center" data-y="195" data-speed="400" data-start="800"  data-easing="easeOutExpo">
                    <h2>{% trans "JustJob - Bridge over borders" %}</h2>
                </div>

                
                <div class="caption sfb" data-x="center" data-y="330" data-speed="400" data-start="1200" data-easing="easeOutExpo">
                    <a href="{% url 'employee:home' %}" class="slider-button">{% trans "For Candidates" %}</a>
                    <a href="{% url 'employer:home' %}" class="slider-button">{% trans "For Employers" %}</a>
                </div>
            </li>

        </ul>
    </div>
</div>

{%  endblock %}


{%  block content %}
<!-- Content
================================================== -->

<!-- Icon Boxes -->
<div class="section-background top-0">
    <div class="container">

        <div class="one-third column">
            <div class="icon-box rounded alt">
                <i class="ln ln-icon-Folder-Add"></i>
                <h4>{% trans "Add Resume" %}</h4>
                <p>{% blocktrans %}Sign up for JustJob. It's 100% free. Showcase your experience and skills. JustJob makes it easy to connect with employers.{% endblocktrans %}</p>
            </div>
        </div>

        <div class="one-third column">
            <div class="icon-box rounded alt">
                <i class="ln ln-icon-Search-onCloud"></i>
                <h4>{% trans "Search For Jobs" %}</h4>
                <p>{% blocktrans %}Find your future job with a targeted search, based on skills, keywords or location and begin doing great work.{% endblocktrans %}</p>
            </div>
        </div>

        <div class="one-third column">
            <div class="icon-box rounded alt">
                <i class="ln ln-icon-Business-ManWoman"></i>
                <h4>{% trans "Find Crew" %}</h4>
                <p>{% blocktrans %}JustJob will help you to find a perfect candidate among thousands of Ukrainian specialists in your native language.{% endblocktrans %}</p>
            </div>
        </div>

    </div>
</div>
<!-- Icon Boxes / End -->

<!-- Recent Posts -->
<div class="container">
    <div class="sixteen columns">
        <h3 class="margin-bottom-25">{% trans "Recent Posts" %}</h3>
    </div>


    <div class="one-third column">

        <!-- Post #1 -->
        <div class="recent-post">
            <div class="recent-post-img"><a href="{% url 'blog:blog_post' slug='fun-facts-part2' %}"><img src="{% static 'images/fun_facts2_med.jpg' %}" alt=""></a><div class="hover-icon"></div></div>
            <a href="{% url 'blog:blog_post' slug='fun-facts-part2' %}"><h4>{% trans "Things you did not know about Hungary (part 2)" %}</h4></a>
            <div class="meta-tags">
                <span>{% trans "January 5, 2018" %}</span>
                <span></span>
            </div>
            <p>{% blocktrans %}Hungary is one of the oldest countries in Europe. It was founded in A.D. 896, before France, Germany, or England.{% endblocktrans %}</p>
            <a href="{% url 'blog:blog_post' slug='fun-facts-part2' %}" class="button">{% trans "Read More" %}</a>
        </div>

    </div>


    <div class="one-third column">

        <!-- Post #2 -->
        <div class="recent-post">
            <div class="recent-post-img"><a href="{% url 'blog:blog_post' slug='fun-facts-part1' %}"><img src="{% static 'images/fun_facts1_med.jpg' %}" alt=""></a><div class="hover-icon"></div></div>
            <a href="{% url 'blog:blog_post' slug='fun-facts-part1' %}"><h4>{% trans "Things you did not know about Hungary (part 1)" %}</h4></a>
            <div class="meta-tags">
                <span>{% trans "January 3, 2018" %}</span>
                <span></span>
            </div>
            <p>{% blocktrans %}The name "Hungary" may very well come from the Medieval Latin Hungaria, which translates as "Land of the Huns".{% endblocktrans %}</p>
            <a href="{% url 'blog:blog_post' slug='fun-facts-part1' %}" class="button">{% trans "Read More" %}</a>
        </div>

    </div>

    <div class="one-third column">

        <!-- Post #3 -->
        <div class="recent-post">
            <div class="recent-post-img"><a href="{% url 'blog:blog_post' slug='hungarian-language' %}"><img src="{% static 'images/about_lang_med.jpg' %}" alt=""></a><div class="hover-icon"></div></div>
            <a href="{% url 'blog:blog_post' slug='hungarian-language' %}"><h4>{% trans "Subtleties of the Hungarian language" %}</h4></a>
            <div class="meta-tags">
                <span>{% trans "January 1, 2018" %}</span>
                <span></span>
            </div>
            <p>{% blocktrans %}Hungary is a very interesting country with an ancient and rich history. And it is not surprising that its people communicate with an unusually rich language.{% endblocktrans %}</p>
            <a href="{% url 'blog:blog_post' slug='hungarian-language' %}" class="button">{% trans "Read More" %}</a>
        </div>
    </div>

</div>
<!-- /Recent Posts -->



<!-- Infobox -->
<div class="infobox">
    <div class="container">
        <div class="sixteen columns">{% trans "Usable, likeable hiring web application." %}  <a href="{% url 'main:login' %}">{% trans "Join Now" %}</a></div>
    </div>
</div>
<!-- /Infobox -->


{%  endblock %}

{%  block custom_js %}
    <script>
        jQuery("#home-link > a").attr('id', 'current');
        jQuery(".infobox").css("marginBottom", "-40px");
    </script>
{%  endblock %}