{% extends "base_layout.html" %}
{% load i18n staticfiles %}


{%  block titlebar %}

<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg">
    <div class="container">

        <div class="ten columns">
            <h2>{% trans "Login" %}</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>{% trans "You are here:" %}</li>
                    <li><a href="{% url 'main:home' %}">{% trans "Home" %}</a></li>
                    <li>{% trans "Login" %}</li>
                </ul>
            </nav>
        </div>
        <div class="six columns">
            <a href="{% url 'main:signup' %}" class="button">{% trans "Sign Up" %}</a>
        </div>

    </div>
</div>
{%  endblock %}


{%  block content %}

<!-- Content
================================================== -->

<!-- Container -->
<div class="container">

    <div class="my-account">

        
        <div class="tabs-container">
            <!-- Login -->
            <div class="tab-content" id="tab1" style="display: none;">
                <form method="post" class="login">
                    {% csrf_token %}

                    <p>{{ form.non_field_errors }}</p>
                    
                    <p class="form-row form-row-wide">

                        {% for error in form.username.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}

                        <label for="username">{% trans "Username:" %}
                            <i class="ln ln-icon-Male"></i>
                            <input type="text" class="input-text" name="username" id="username" value="{% if form.username.value %}{{ form.username.value }} {% endif %}" />
                        </label>
                    </p>

                    <p class="form-row form-row-wide">

                        {% for error in form.password.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}

                        <label for="password">{% trans "Password:" %}
                            <i class="ln ln-icon-Lock-2"></i>
                            <input class="input-text" type="password" name="password" id="password"/>
                        </label>
                    </p>

                    <p class="form-row">
                        <input type="submit" class="button border fw margin-top-10" name="login" value="{% trans 'Login' %}" />

                    </p>
                    
                    <p class="lost_password">
                        <a href="{% url 'main:signup' %}" >{% trans "Don't have an account? Just sign up." %} </a>
                    </p>
                                        
                </form>
            </div>
           
        </div>
    </div>
</div>
<div class="margin-bottom-40"></div>


{%  endblock %}
