{% extends "base_layout.html" %}
{% load i18n staticfiles %}


{%  block titlebar %}

<div id="titlebar" class="photo-bg">
    <div class="container">

        <div class="sixteen columns">
            <h2>{% trans "Sign up" %}</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>{% trans "You are here:" %}</li>
                    <li><a href="{% url 'main:home' %}">{% trans "Home" %}</a></li>
                    <li>{% trans "Sign up" %}</li>
                </ul>
            </nav>
        </div>

    </div>
</div>
{%  endblock %}


{%  block content %}

<div class="container">
    <div class="my-account">
        

        <h2>{% trans "Sign up" %}</h2>
        <form method="post" action="{% url 'main:signup' %}" class="register">
                    
            {% csrf_token %}
            
            <p>{{ form.non_field_errors }}</p>
            
            <p class="form-row form-row-wide">

                {% for error in form.username.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}

                <label for="username2">{% trans "Username:" %}
                    <i class="ln ln-icon-Male"></i>
                    <input type="text" class="input-text" name="username" id="username2" value="" />
                </label>
            </p>
                
            <p class="form-row form-row-wide">

                {% for error in form.email.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}

                <label for="email2">{% trans "Email Address:" %}
                    <i class="ln ln-icon-Mail"></i>
                    <input type="text" class="input-text" name="email" id="email2" value="" />
                </label>
            </p>

            <p class="form-row form-row-wide">

                {% for error in form.password1.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}

                <label for="password1">{% trans "Password:" %}
                    <i class="ln ln-icon-Lock-2"></i>
                    <input class="input-text" type="password" name="password1" id="password1"/>
                </label>
            </p>

            <p class="form-row form-row-wide">

                {% for error in form.password2.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}

                <label for="password2">{% trans "Repeat Password:" %}
                    <i class="ln ln-icon-Lock-2"></i>
                    <input class="input-text" type="password" name="password2" id="password2"/>
                </label>
            </p>
            <p class="form-row form-row-wide">
                <label for="selectRole">{% trans "Register as:" %}
                        <label for="employee"><input type="radio" id="employee"
                     name="user_role" value="employee" checked>
                        {% trans "Employee" %}</label>
                                      
                        <label for="employer"><input type="radio" id="employer"
                     name="user_role" value="employer" >
                        {% trans "Employer" %}</label>
                </label>  
            </p>

            <p class="form-row">
                <input type="submit" class="button border fw margin-top-10" name="register" value="{% trans 'Register' %}" />
            </p>
            
            <p class="lost_password">
                <a href="{% url 'main:login' %}" >{% trans "Already have an account? Just Login." %}</a>
            </p>

        </form>

    </div>
</div>
{%  endblock %}


