{% extends "employer/employer_layout.html" %}
{% load i18n staticfiles form_tags app_tags%}

<title>{%  block title %} {{prop.current_vacancy.title }}  {% trans 'Proposal' %} - {{block.super}} {%  endblock %}</title>

{%  block banner %}

<div id="titlebar" class="photo-bg">
    <div class="container">
        <div class="ten columns">
            <span>{% trans 'Proposal for vacancy' %}:</span>
            <h2>{{prop.current_vacancy.title }} </h2>
            <span>{% trans 'Current status' %}: {{prop.status|get_status}}</span>
        </div>

        <div class="six columns">
            <div class="two-buttons">
                {% if not prop.discarded_by_employer %}
                <a href="#small-dialog" class="popup-with-zoom-anim button"><i class="fa fa-check"></i> {% trans 'Change status' %}</a>
                <div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
                    <div class="small-dialog-headline">
                        <h2>{% trans 'Change Application Status' %}</h2>
                    </div>

                    <div class="small-dialog-content">
                        <p>{% trans 'Current status' %}: {{prop.status|get_status}}</p>
                        <form method="post">
                            {% csrf_token %}
                            <div class="margin-bottom-20">
                                <select name="status" class="chosen-select-no-single">
                                    {% for i, v in status_list %}
                                        <option value="{{ i }}">{{ v }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <textarea name="message" placeholder="{% trans 'Please note why you change the status.' %}"></textarea>
                            <input type="hidden" name="form_name" value="change-status">
                            <button type="submit" class="send">{% trans 'Send Application' %}</button>
                        </form>
                    </div>
                    
                </div>
                {% endif %}
                    <a href="{% url 'employer:applications' vacancy_id=prop.current_vacancy.id %}" class="button dark"><i class="fa fa-arrow-left"></i> {% trans 'Back to applications' %}</a>

            </div>
        </div>

    </div>
</div>

{%  endblock %}


{%  block content %}

<div class="container">
    <div class="eleven columns">
        <div class="padding-right">
            {% if prop.message %}
                <div class="margin-bottom-20">
                    <h3>{% trans 'Cover Letter' %}:</h3>
                    <p>{{prop.message}}</p>
                </div>
            {% endif%}
            
           {% if messages %}
                <h3>{% trans 'Messages' %}:</h3>

                <ul class="job-list">
                        {% for m in messages %}
                        <li>
                            {% if m.created_by|get_user_photo %}
                                <img src="/media/{{m.created_by|get_user_photo}}" alt="">
                            {% else %}
                                <img src="{% static 'images/company.png' %}" alt="">
                            {% endif %}
                            <div class="job-list-content">
                                <div class="margin-bottom-20">
                                    <h4>{{ m.created_by }}</h4>
                                    <span> ({{ m.created_at }})</span>
                                </div>

                                {% if LANGUAGE_CODE == 'hu' %}
                                    <p>{{m.message_hu}}</p>
                                {% else %}
                                    <p>{{m.message}}</p>
                                {% endif %}
                                
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        {% endfor%}
                    
                </ul>
            {% endif %}

            {% if prop.status == 'arc' or prop.discarded_by_employer %}
                <p>{% trans 'You refused this job application' %}</p>
            {% else %}
                <form method="post" name="messageForm" id="messageForm">
                    {% csrf_token %}
                    <fieldset>
                        <div>
                            <label>{% trans 'Message' %}: <span>*</span></label>
                            <textarea name="message" cols="40" rows="3" id="comment" spellcheck="true"></textarea>
                        </div>
                        <input type="hidden" name="form_name" value="send">
                    </fieldset>
                    <br>
                    <input type="submit" class="submit" id="submit" value="{% trans 'Send Message' %}" />
                    <div class="clearfix"></div>
                    <div class="margin-bottom-40"></div>
                </form>
                
            {% endif %}
        </div>
    </div>


    <!-- Widgets -->
    <div class="five columns">

        <!-- Sort by -->
        <div class="widget">
            <h4>{% trans 'About Candidate' %}:</h4>
            <div class="job-overview">
                
                <ul>
                    <li>
                        <i class="fa fa-users"></i>
                        <div>
                            <strong>{% trans 'Candidate' %}:</strong>
                            <span>{{prop.registered_user.full_name}}</span>
                        </div>
                    </li>
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <div>
                            <strong>{% trans 'Location' %}:</strong>
                            {% if prop.registered_user.location_city %}
                                <span>
                                    {{prop.registered_user.location_city }}
                            {% endif %}
                            {% if prop.location_country %}
                                {{prop.location_country}}
                                </span>
                            {% endif %}
                        </div>
                                
                    </li>
                    {% if prop.registered_user.objective %}
                    <li>
                        <i class="fa fa-clock-o"></i>
                        <div>
                            <strong>{% trans 'Job objective' %}:</strong>
                            <span>{{prop.registered_user.objective }}</span>
                        </div>
                    </li>
                    {% endif %}
                    
                    <li>
                        <i class="fa fa-money"></i>
                        <div>
                            <strong>{% trans 'About Candidate' %}:</strong>
                            <span>{{prop.registered_user.about_me|truncatewords:8 }}</span>
                        </div>
                    </li>
                </ul>


                <a href="{% url 'employer:resume' pk=prop.registered_user.id %}" class="button">{% trans 'Resume Page' %}</a>
            </div>
        </div>
    </div>

</div>

{%  endblock %}
