{% extends "employer/employer_layout.html" %}
{% load i18n staticfiles %}


{%  block banner %}
<div id="banner" style="background-image: url({% static 'images/banner-home-01.jpg' %})" class="parallax background" data-img-width="2000" data-img-height="1330" data-diff="400">
    <div class="container">
        <div class="sixteen columns">
            
            <div class="search-container">

                <h2>{% trans 'Find CV' %}</h2>
                <form method="post">
                    {% csrf_token %}
                    <input name="keywords" type="text" class="ico-01" placeholder="{% trans 'Search by keywords for name or job objective' %}" value="{{ keywords|default_if_none:''}}"/>
                    <input name="city" type="text" class="ico-02" placeholder="{% trans 'city or region' %}" value="{{ city|default_if_none:''}}"/>
                    <a href="#">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </a>
                </form>
            </div>

        </div>
    </div>
</div>
{%  endblock %}


{%  block content %}

<div class="container">
    <div class="eleven columns">
        <div class="padding-right">
            <div class="margin-bottom-60">
                <h2></h2>
            </div>
            {% if candidates %}
                <ul class="resumes-list">
                {%for c in candidates %}
                    <li><a href="{% url 'employer:resume' pk=c.id %}">
                        {% if c.photo %}
                            <img src="{{c.photo.url}}">
                        {% else %}
                            <img src="{% static 'images/default-avatar.png' %}" alt="">
                        {% endif %}
                        <div class="resumes-list-content">
                            <h4>{{c.full_name}}<span>{{c.objective}}</span></h4>
                            <span><i class="fa fa-map-marker"></i> {{c.location_city}}, {{c.location_country}}</span>
                            <p>{{c.about_me|truncatewords:'13'}}</p>
                            <div class="clearfix"></div>
                        </div>
                        </a>
                        <div class="clearfix"></div>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>{% trans 'Nothing was found.' %}</p>
            {% endif %}


            <div class="clearfix"></div>

            {% comment %}
            <div class="pagination-container">
                <nav class="pagination">
                    <ul>
                        <li><a href="#" class="current-page">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li class="blank">...</li>
                        <li><a href="#">8</a></li>
                    </ul>
                </nav>

                <nav class="pagination-next-prev">
                    <ul>
                        <li><a href="#" class="prev">Previous</a></li>
                        <li><a href="#" class="next">Next</a></li>
                    </ul>
                </nav>
            </div>
            {% endcomment %}

        </div>
    </div>


    <!-- Widgets -->
    <div class="five columns">
        <form method="post">
            {% csrf_token %}
            <div class="widget">
                <h4>{% trans 'Job Category' %}</h4>
                <select name="category" data-placeholder="Choose Category" class="chosen-select-no-single">
                    <option value="0">{% trans 'Select Category' %}</option>
                    {% for c, i in cats_list %}
                        <option value="{{ c }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="margin-top-15"></div>

            <div class="widget">
                <h4>{% trans 'Languages' %}</h4>
                <select name="langs" data-placeholder="{% trans 'Select Languages' %}" class="chosen-select" multiple>
                    <option value="en">{% trans 'English' %}</option>
                    <option value="hu">{% trans 'Hungarian' %}</option>
                    <option value="ru">{% trans 'Russian' %}</option>
                    <option value="uk">{% trans 'Ukrainian' %}</option>
                </select>
                <div class="margin-top-15"></div>
                    
            </div>
        <div class="margin-top-15"></div>
        <input type="hidden" name="keywords" value="{{ keywords|default_if_none:'' }}">
        <input type="hidden" name="city" value="{{ city|default_if_none:'' }}">
        <input type="hidden" name="filter" value="1">
        <button type="submit" class="button">{% trans 'Filter' %}</button>
        </form>
    </div>
</div>

            
        

{%  endblock %}



{%  block custom_js %}
    <script>
        jQuery("#cv-search-link > a").attr('id', 'current');
    </script>
{%  endblock %}