{% extends "employer/employer_layout.html" %}
{% load i18n staticfiles %}

<title>{%  block title %} {% trans 'Invoice #' %} {{invoice.id}} {{block.super}} {%  endblock %}</title>
{%  block banner %}

<div id="titlebar" class="photo-bg" style="background: url({% static 'images/all-categories-photo.jpg' %})">
    <div class="container">
        <div class="ten columns">
            <h2>{% trans 'My Invoices' %}</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>{% trans 'You are here' %}:</li>
                    <li><a href="{% url 'employer:home' %}">{% trans 'For Employers' %}</a></li>
                    <li>{% trans 'My Invoices' %}</li>
                </ul>
            </nav>
        </div>
        
    
        <div class="six columns">
            
        </div>

    </div>
</div>

{%  endblock %}


{%  block content %}
<div class="container">
    <div class="sixteen columns">
        <div class="margin-bottom-20"></div>

        <table class="manage-table responsive-table">
            <tr>
                <th>
                    <h1><a href="{% url 'main:home' %}"><img src="{% static 'images/logo.png' %}" alt="Just Job" /></a></h1>
                </th>
                <th>
                    {{invoice.get_status_display}} <br>
                    {{invoice.get_pay_method_display}} <br>
                    {{invoice.pay_date}}
                </th>
            </tr>
            <tr>
                <td>
                    <strong>{% trans 'Pay to' %}:</strong><br>
                    {{invoice.pay_to}}
                </td>
                <td>
                    <strong>{% trans 'Invoiced to' %}:</strong><br>
                    {{invoice.invoiced_to.short_title}}
                </td>
            </tr>
            <tr>
                <td>
                    {% trans 'Description' %}:
                </td>
                <td>{% trans 'Amount' %}:</td>
            </tr>
            <tr>
                <td>
                    {{invoice.description}}
                </td>
                <td>
                    {{invoice.amount}}
                </td>
            </tr>
        </table>

        </div>
    </div>
</div>
{% endblock content%}