{% extends "employer/employer_layout.html" %}
{% load i18n staticfiles %}

{%  block title %} {% trans 'My Vacancies' %} - {{block.super}} {%  endblock %}


{%  block banner %}
<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo.jpg' %});">
    <div class="container">

        <div class="ten columns">
            <h2>{% trans 'Manage Vacancies' %}</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>{% trans 'You are here' %}:</li>
                    <li><a href="{% url 'employer:home' %}">{% trans 'For Employers' %}</a></li>
                    <li>{% trans 'My Vacancies' %}</li>
                </ul>
            </nav>
        </div>

        <div class="six columns">
            <a href="{% url 'employer:new_vacancy' %}" class="button">{% trans 'New Vacancy' %}</a>
        </div>

    </div>
</div>

{%  endblock %}


{%  block content %}

<div class="container">
    
    <!-- Table -->
    <div class="sixteen columns">

        <p class="margin-bottom-25">{% trans 'Your Vacancies are shown in the table below. Expired Vacancies will be automatically moved to archive after 30 days.' %}</p>


<div class="margin-bottom-20"></div>

        <!-- Tabs Navigation -->
        <ul class="tabs-nav">
            <li class="active"><a href="#tab1">{% trans 'Active' %} ({{active_vacs_count}})</a></li>
            <li><a href="#tab2">{% trans 'On Moderation' %} ({{moder_vacs_count}})</a></li>
            <li><a href="#tab3">{% trans 'Drafts' %} ({{draft_vacs_count}})</a></li>
            <li><a href="#tab4">{% trans 'Archive' %} ({{archive_vacs_count}})</a></li>
        </ul>

        <!-- Tabs Content -->
        <div class="tabs-container">
            <div class="tab-content" id="tab1">
                {% if active_vacs %}
                 <table class="manage-table responsive-table">
                    <tr>
                        <th><i class="fa fa-file-text"></i> {% trans 'Title' %}</th>
                        <th><i class="fa fa-calendar"></i> {% trans 'Date Posted' %}</th>
                        <th><i class="fa fa-calendar"></i> {% trans 'Date Expires' %}</th>
                        <th><i class="fa fa-user"></i> {% trans 'Applications' %}</th>
                        <th></th>
                    </tr>
                    {% for vac in active_vacs %}        
                    <tr>
                        <td class="title"><a href="{% url 'employer:vacancy' pk=vac.id%}">{{vac.title}} </a></td>
                        <td>{{vac.created_at|default_if_none:"-"}}</td>
                        <td>{{vac.expired_at|default_if_none:"-"}}</td>
                        <td class="centered"><a href="{% url 'employer:applications' vacancy_id=vac.id %}" class="button">{% trans 'Show' %}</a></td>
                        <td class="action">
                            <a href="{% url 'employer:edit_vacancy' pk=vac.id %}"><i class="fa fa-pencil"></i> {% trans 'Edit' %}</a>
                            <a href="{% url 'employer:change_status' pk=vac.id %}"><i class="fa  fa-eye-slash "></i> {% trans 'Deactivate' %}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                    <p>{% trans 'No Active vacancies.' %}</p>
                {% endif %}
            </div>
                
            <div class="tab-content" id="tab2">
                {% if moder_vacs %}
                 <table class="manage-table responsive-table">
                    <tr>
                        <th><i class="fa fa-file-text"></i> {% trans 'Title' %}</th>
                        <th><i class="fa fa-calendar"></i> {% trans 'Date Posted' %}</th>
                        <th><i class="fa fa-calendar"></i> {% trans 'Date Expires' %}</th>
                        <th><i class="fa fa-user"></i> {% trans 'Applications' %}</th>
                        <th></th>
                    </tr>
                    {% for vac in moder_vacs %}        
                    <tr>
                        <td class="title"><a href="{% url 'employer:vacancy' pk=vac.id%}">{{vac.title}} </a></td>
                        <td>{{vac.created_at|default_if_none:"-"}}</td>
                        <td>{{vac.expired_at|default_if_none:"-"}}</td>
                        <td class="centered"><a href="{% url 'employer:applications' vacancy_id=vac.id %}" class="button">{% trans 'Show' %}</a></td>
                        <td class="action">
                            <a href="{% url 'employer:edit_vacancy' pk=vac.id %}"><i class="fa fa-pencil"></i> {% trans 'Edit' %}</a>
                            <a href="{% url 'employer:change_status' pk=vac.id %}"><i class="fa  fa-eye-slash "></i> {% trans 'Deactivate' %}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                    <p>{% trans 'No On moderation vacancies' %}</p>
                {% endif %}
            </div>

            <div class="tab-content" id="tab3">
              {% if draft_vacs %}
                 <table class="manage-table responsive-table">
                    <tr>
                        <th><i class="fa fa-file-text"></i> {% trans 'Title' %}</th>
                        <th><i class="fa fa-calendar"></i> {% trans 'Date Posted' %}</th>
                        <th><i class="fa fa-calendar"></i> {% trans 'Date Expires' %}</th>
                        <th><i class="fa fa-user"></i> {% trans 'Applications' %}</th>
                        <th></th>
                    </tr>
                    {% for vac in draft_vacs %}        
                    <tr>
                        <td class="title"><a href="{% url 'employer:vacancy' pk=vac.id%}">{{vac.title}} </a></td>
                        <td>{{vac.created_at|default_if_none:"-"}}</td>
                        <td>{{vac.expired_at|default_if_none:"-"}}</td>
                        <td class="centered"><a href="{% url 'employer:applications' vacancy_id=vac.id %}" class="button">{% trans 'Show' %}</a></td>
                        <td class="action">
                            <a href="{% url 'employer:edit_vacancy' pk=vac.id %}"><i class="fa fa-pencil"></i> {% trans 'Edit' %}</a>
                            <a href="{% url 'employer:change_status' pk=vac.id %}"><i class="fa  fa-eye "></i> {% trans 'Activate' %}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                    <p>{% trans 'No Draft vacancies' %}</p>
                {% endif %}
            </div>

            <div class="tab-content" id="tab4">
                {% if archive_vacs %}
                 <table class="manage-table responsive-table">
                    <tr>
                        <th><i class="fa fa-file-text"></i> {% trans 'Title' %}</th>
                        <th><i class="fa fa-calendar"></i> {% trans 'Date Posted' %}</th>
                        <th><i class="fa fa-calendar"></i> {% trans 'Date Expires' %}</th>
                        <th><i class="fa fa-user"></i> {% trans 'Applications' %}</th>
                        <th></th>
                    </tr>
                    {% for vac in archive_vacs %}        
                    <tr>
                        <td class="title"><a href="{% url 'employer:vacancy' pk=vac.id%}">{{vac.title}} </a></td>
                        <td>{{vac.created_at|default_if_none:"-"}}</td>
                        <td>{{vac.expired_at|default_if_none:"-"}}</td>
                        <td class="centered"><a href="{% url 'employer:applications' vacancy_id=vac.id %}" class="button">{% trans 'Show' %}</a></td>
                        <td class="action">
                            <a href="{% url 'employer:edit_vacancy' pk=vac.id %}"><i class="fa fa-pencil"></i> {% trans 'Edit' %}</a>
                            <a href="{% url 'employer:change_status' pk=vac.id %}"><i class="fa  fa-eye "></i> {% trans 'Activate' %}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                    <p>{% trans 'No Archive vacancies.' %}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
            
        

{%  endblock %}



{%  block custom_js %}
    <script>
        jQuery("#vacs-link > a").attr('id', 'current');
    </script>
{%  endblock %}