{% extends "employer/employer_layout.html" %}
{% load i18n staticfiles %}

{%  block title %} {% trans 'New Vacancy' %} - {{block.super}} {%  endblock %}


{%  block banner %}
<div id="titlebar" class="photo-bg">
    <div class="container">

        <div class="ten columns">
            <h2>{% trans 'New Vacancy' %}</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>{% trans 'You are here' %}:</li>
                    <li><a href="{% url 'employer:home' %}">{% trans 'For Employers' %}</a></li>
                    <li>{% trans 'New Vacancy' %}</li>
                </ul>
            </nav>
        </div>

    </div>
</div>

{%  endblock %}


{%  block content %}

<div class="container">

    <h3 class="margin-bottom-15">{% trans 'Create new Vacancy' %}</h3>
    <form method="post" name="vacancyForm" id="vacancyForm">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}

            <div class="eleven columns">
                <fieldset>
                    {% for field in form.visible_fields %}
                        {% if forloop.counter < 8 %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {% if form.is_bound %}
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            <div class="invalid-feedback">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    {{ field }}
                                {% else %}
                                    {{ field }}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </fieldset>
            </div>
            <div class="five columns">
                <fieldset>
                    {% for field in form.visible_fields %}
                        {% if forloop.counter > 7 %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {% if form.is_bound %}
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            <div>
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    
                                    {{ field }}
                                {% else %}
                                    {{ field }}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </fieldset>
            </div>
        

    <div class="eleven columns">
            <div class="margin-bottom-40"></div>
            <input type="submit" class="submit" id="submit" value="{% trans 'Save' %}" />
            <div class="clearfix"></div>
            <div class="margin-bottom-40"></div>
        </form>
    </div>
</div>

{%  endblock %}


{%  block custom_js %}
    <script>
        jQuery('select').addClass('chosen-select-no-single');
    </script>
{%  endblock %}