{% extends "employer/employer_layout.html" %}
{% load i18n staticfiles %}

{%  block title %} {% trans 'Pricing Tables' %} - {{block.super}} {%  endblock %}


{%  block banner %}
<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo.jpg' %});">
    <div class="container">

        <div class="ten columns">
            <h2>{% trans 'Pricing Tables' %}</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>{% trans 'You are here' %}:</li>
                    <li><a href="{% url 'employer:home' %}">{% trans 'For Employers' %}</a></li>
                    <li>{% trans 'Pricing Tables' %}</li>
                </ul>
            </nav>
        </div>

        <div class="six columns">
            <a href="#" class="button"><i class="fa fa-shopping-cart"></i> {% trans 'My Cart' %} (0)</a>
        </div>

    </div>
</div>

{%  endblock %}


{%  block content %}

<div class="container">

    <div class="sixteen columns">
        <div class="notification notice margin-bottom-30">
            <p>{% trans 'Choose the plan that works best for you:' %}</p>
        </div>
    </div>
    
    <!-- Container / Start -->
    <div class="container">

        <div class="sixteen columns">
            <h3 class="margin-top-40 margin-bottom-20">{% trans 'Post Job Packages:' %}</h3>
        </div>
        {% if job_add_prices %}
            {% for item in job_add_prices %}
                {% include 'employer/partials/job_add_price_item.html' %}
            {% endfor %}
        {% else %}
            <p>{% trans 'Sorry, plan items were not found.' %}</p>
        {% endif %}
        
    </div><!-- Container / End -->

    <!-- Container / Start -->
    <div class="container">

        <div class="sixteen columns">
            <h3 class="margin-top-40 margin-bottom-20">{% trans 'CV Search Packages:' %}</h3>
        </div>
        {% if cv_search_prices %}
            {% for item in cv_search_prices %}
                {% include 'employer/partials/cv_search_price_item.html' %}
            {% endfor %}
        {% else %}
            <p>{% trans 'Sorry, plan items were not found.' %}</p>
        {% endif %}
        
    </div><!-- Container / End -->

    <div class="container">
        <div class="sixteen columns">
            <p class="margin-top-40 margin-bottom-20">
                {% trans "Our prices are net prices, they don't include the VAT of 27%." %}
            </p>
        </div>    
    </div>
</div>
        

{%  endblock %}



{%  block custom_js %}
    <script>
        jQuery("#pricing-link > a").attr('id', 'current');
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('.plan-features').append('<a class="button add2" href="#"><i class="fa fa-shopping-cart"></i> {% trans "Add to Cart" %}</a>');
            jQuery('.add2').on("click", function(el) {
                el.preventDefault();
                console.log('click!', el);
            });
        })
    </script>
{%  endblock %}