{% extends "employer/employer_layout.html" %}
{% load i18n staticfiles %}

<title>{%  block title %} {% trans 'My Profile' %} {{block.super}} {%  endblock %}</title>

{%  block banner %}

<div id="titlebar" class="photo-bg" style="background: url({% static 'images/all-categories-photo.jpg' %})">
    <div class="container">
        <div class="ten columns">
            <h2>{% trans 'My Profile' %}</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>{% trans 'You are here' %}:</li>
                    <li><a href="{% url 'employer:home' %}">{% trans 'For Employers' %}</a></li>
                    <li>{% trans 'My Profile' %}</li>
                </ul>
            </nav>
        </div>
        
    
       

    </div>
</div>

{%  endblock %}

{%  block content %}

<div class="container">
    <div class="sixteen columns">
        <div class="margin-bottom-20"></div>
        {% if not profile.is_active %}
            <div style="color:red" class="margin-bottom-40">
                {% trans 'Your profile was marked for removal' %} <br>
                {% trans "If You didn't do this please contact with" %} <a href="{% url 'main:contact' %}"> {% trans 'administrator' %}</a>
            </div>
        {% endif %}
        <!-- Tabs Navigation -->
        <ul class="tabs-nav">
            <li class="active"><a href="#companyInfo">{% trans 'Company Info' %}</a></li>
            <li><a href="#contactPerson">{% trans 'Contact Person' %}</a></li>
            <li><a href="#billing">{% trans 'Billing' %}</a></li>
            <li><a href="#invoices">{% trans 'My Invoices' %}</a></li>
            <li><a href="#bookmarks">{% trans 'Saved Resume' %}</a></li>
            <li><a href="#settings">{% trans 'Settings' %}</a></li>
        </ul>

        <!-- Tabs Content -->
        <div class="tabs-container">
            <div class="tab-content" id="companyInfo">
                <div class="container">
                    {% include 'employer/forms/company_info.html' %}
                </div>
            </div><!-- /companyInfo -->

            <div class="tab-content" id="contactPerson">
                <div class="container">
                    {% include 'employer/forms/contact_person.html' %}
                </div>
            </div><!-- /contactPerson -->

            <div class="tab-content" id="billing">
                <div class="container">
                    {% include 'employer/forms/billing.html' %}
                </div>                
            </div><!-- /billing -->

            <div class="tab-content" id="invoices">
                <div class="container">
                    <div class="margin-bottom-55">
                        {% include 'employer/forms/invoices.html' %}
                    </div>
                </div>
            </div><!-- /invoices -->

            <div class="tab-content" id="bookmarks">
                <section class="padding-right">
                    <table class="manage-table responsive-table">
                        {% if saved_resume %}
                            <tr>
                                <th><i class="fa fa-file-text"></i> {% trans 'Full Name' %}</th>
                                <th><i class="fa fa-calendar"></i> {% trans 'Saved Date' %}</th>
                                <th></th>
                            </tr>
                            {% for r in saved_resume %}
                            <tr>
                                <td class="title"><a href="#">{{r.employee_name}}</a></td>
                                <td>{{ r.created_at }}</td>
                                <td class="action">
                                    <a href="{% url 'employer:resume' pk=r.resume_id %}" ><i class="fa fa-eye"></i> {% trans 'View' %}</a>
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <p>{% trans 'No saved resume was found.' %}</p>
                        {% endif %}
                    </table>
                </section>
            </div><!-- /bookmarks -->

            <div class="tab-content" id="settings">
                 <div class="six columns margin-bottom-55">
                   <section class="padding-right" style="min-height: 300px;">
                        <form method="post">
                            {% csrf_token %}
                            <fieldset>
                                {{form4.as_p}}                            
                            </fieldset>
                            <div class="margin-bottom-20"></div>
                            <input type="submit" class="submit" id="submit" value="{% trans 'Save' %}" />
                            <div class="clearfix"></div>
                            <div class="margin-bottom-40"></div>
                        </form>    
                    </section>
                </div>
                <div class="margin-bottom-40"></div>
                <section style="padding-top:180px; float:right;">
                    {% if profile.is_active %}
                        <a href="{% url 'employer:del_acc' pk=profile.id %}" onclick="comfirm('Delete Profile?');">{% trans 'Delete my account' %}</a>
                    {% else %}
                        <a href="{% url 'employer:restore_acc' pk=profile.id %}" onclick="comfirm('Delete Profile?');">{% trans 'Restore my account' %}</a>
                    {% endif %}
                </section>
            </div><!-- /settings -->
           


        </div>
    </div><!-- /sixteen columns -->
</div>



{%  endblock %}
{%  block custom_js %}
    <script>
        jQuery('select').addClass('chosen-select-no-single');
    </script>
{%  endblock %}