{% extends "employer/employer_layout.html" %}
{% load i18n staticfiles app_tags %}

<title>{%  block title %} {{vacancy_title}} - {{block.super}} {%  endblock %}</title>

{%  block banner %}

<div id="titlebar" class="photo-bg" style="background: url({% static 'images/vacancy_category_04_min.jpg' %})">
    <div class="container">
        <div class="ten columns">
            <h2>{% trans 'Applications for' %} {{vacancy_title}}</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>{% trans 'You are here' %}:</li>
                    <li><a href="{% url 'employer:home' %}">{% trans 'For Employers' %}</a></li>
                    <li><a href="{% url 'employer:vacancy' pk=vacancy_id %}">{{vacancy_title}}</a></li>
                    <li>{% trans 'Applications' %}</li>
                </ul>
            </nav>
        </div>

        
    </div>
</div>

{%  endblock %}


{%  block content %}

<div class="container">
    <div class="sixteen columns">
        <ul class="tabs-nav">
            <li class="active">
                <a href="#tab1">{% trans 'New' %} ({{new_apps_c|default_if_none:'0'}})</a>
            </li>
            <li>
                <a href="#tab2">{% trans 'Interviewed' %} ({{iv_apps_c|default_if_none:'0'}})</a>
            </li>
            <li>
                <a href="#tab3">{% trans 'Offer Extended' %} ({{oe_apps_c|default_if_none:'0'}})</a>
            </li>
            <li>
                <a href="#tab4">{% trans 'Hired' %} ({{hir_apps_c|default_if_none:'0'}})</a>
            </li>
            <li>
                <a href="#tab5">{% trans 'Archived' %} ({{arc_apps_c|default_if_none:'0'}})</a>
            </li>
            <li>
                <a href="#tab6">{% trans 'Discarded' %} ({{dis_apps_c|default_if_none:'0'}})</a>
            </li>
        </ul>
        <div class="tabs-container">
            <div class="tab-content" id="tab1">
                {% include 'employer/partials/apps_list.html' with applications=new_apps %}
            </div>
            <div class="tab-content" id="tab2">
                {% include 'employer/partials/apps_list.html' with applications=iv_apps %}
            </div>
            <div class="tab-content" id="tab3">
                {% include 'employer/partials/apps_list.html' with applications=oe_apps %}
            </div>
            <div class="tab-content" id="tab4">
                {% include 'employer/partials/apps_list.html' with applications=hir_apps %}
            </div>
            <div class="tab-content" id="tab5">
                {% include 'employer/partials/apps_list.html' with applications=arc_apps %}
            </div>
            <div class="tab-content" id="tab6">
                {% include 'employer/partials/apps_list.html' with applications=dis_apps %}
            </div>
        </div>
    </div>
</div>



{%  endblock %}
