{% extends "employer/employer_layout.html" %}
{% load i18n staticfiles resume_tags%}

<title>{%  block title %} {{employee.full_name}} {{block.super}} {%  endblock %}</title>

{%  block banner %}

<div id="titlebar" class="resume">
    <div class="container">
        <div class="ten columns">
            <div class="resume-titlebar">
                {% if employee.photo %}
                    <img src="{{employee.photo.url}}">
                {%else%}
                    <img src="{% static 'images/default-avatar.png' %}" alt="">
                {% endif %}
                
                <div class="resumes-list-content">
                    <h4>{% if employee.full_name %}{{employee.full_name}}{%else%}
                        {{employee.user.username}}{% endif %}
                        <span>{{employee.objective|default_if_none:''}}</span>
                                            </h4>
                        <span class="icons"><i class="fa fa-map-marker"></i> {{employee.location_city|default_if_none:''}}, {{employee.location_country|default_if_none:''}}</span>
                    {% if employee.phone %}
                        <span class="icons"><a href="#"><i class="fa fa-link"></i> {{employee.phone}}</a></span>
                    {% endif %}
                    {% if employee.email %}
                        <span class="icons"><a href="mailto:{{employee.email}}"><i class="fa fa-envelope"></i> <span>{{employee.email}}</span></a></span>
                    {% endif %}
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="six columns">
            <div class="two-buttons">
                {% if not is_invated %}
                <a href="#small-dialog" class="popup-with-zoom-anim button"><i class="fa fa-envelope"></i> {% trans 'Invite to vacancy' %}</a>
                {% endif %}
                <div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
                    <div class="small-dialog-headline">
                        <h2>{% trans 'Invite' %} {{employee.full_name|default_if_none:''}}</h2>
                    </div>

                    <div class="small-dialog-content">
                        <form method="post">
                            {% csrf_token %}
                            <div class="margin-bottom-20">
                                <select name="vacancy" class="chosen-select-no-single">
                                    {% for i in vacs_list %}
                                        <option value="{{ i.id }}">{{ i.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <textarea name="message" placeholder="{% trans 'Message' %}"></textarea>

                            <button class="send">{% trans 'Send Application' %}</button>
                        </form>
                    </div>
                    
                </div>
                {% if is_saved %}
                    <a href="{% url 'employer:save_resume' action='del' pk=employee.id %}" class="button dark"><i class="fa fa-star-half-o"></i> {% trans 'Remove Bookmark' %} </a>
                {% else %}
                    <a href="{% url 'employer:save_resume' action='add' pk=employee.id %}" class="button dark"><i class="fa fa-star"></i> {% trans 'Bookmark This Resume' %}</a>
                {% endif %}

            </div>
        </div>

    </div>
</div>

{%  endblock %}

{%  block content %}

<div class="container">
    <div class="ten columns">
        <div class="padding-right">
            {% if employee.about_me %}
            <h3 class="margin-bottom-15">{% trans 'About Me' %}</h3>

            <p class="margin-reset">
                {{employee.about_me|linebreaks}}
            </p>
            {% endif %}
            <br>
            {% if employee.experience %}

            <h3 class="margin-bottom-15">{% trans 'Experience' %}</h3>

            <p class="margin-reset">
                {{employee.experience|linebreaks}}
            </p>
            {% endif %}

            <br>
            {% if employee.education %}

            <h3 class="margin-bottom-15">{% trans 'Education' %}</h3>

            <p class="margin-reset">
                 {{employee.education|linebreaks}}
            </p>
            {% endif %}

            <br>
        </div>
    </div>


    <div class="six columns">

        <h3 class="margin-bottom-20">{% trans 'Language Skills' %}</h3>

        <!-- Resume Table -->
        <ul class="list-1 margin-bottom-40">
            <li>{% trans 'Level of English' %} ({{ employee.level_of_en|get_lang_level|default_if_none:'' }})
            </li>
            <li>{% trans 'Level of Hungarian' %} ({{ employee.level_of_hu|get_lang_level|default_if_none:'' }})
            </li>
            <li>{% trans 'Level of Russian' %} ({{ employee.level_of_ru|get_lang_level|default_if_none:'' }})
            </li>
            <li>{% trans 'Level of Ukrainian' %} ({{ employee.level_of_ua|get_lang_level|default_if_none:'' }})
            </li>
        </ul>

        {% if certificates %}
        <h3 class="margin-bottom-20">{% trans 'Certificates' %}</h3>
        
        <ul class="list-1 margin-bottom-40">
            {% for cert in certificates %}
                <li>{{cert.title}} ({{cert.uploaded_at}})
                    <a href="{{ cert.cert_file.url }}"> {% trans 'download' %}</a>
                </li>
            {% endfor %}  
        </ul>
        {% endif %}

    </div>

</div>


{%  endblock %}
