{% extends "employer/employer_layout.html" %}
{% load i18n staticfiles form_tags %}


<title>{%  block title %} {{ vacancy.title }} - {{block.super}} {%  endblock %}</title>

{%  block banner %}
<div id="titlebar" class="photo-bg" 
    style="background: url({% static 'images/all-categories-photo-02.jpg' %})">
     <div class="container">
        <div class="ten columns">
            <span><a href="">{{ vacancy.category|default_if_none:"" }}</a></span>
            <h2>{{ vacancy.title }}
                {% if vacancy.job_type == 'ft' %} 
                    <span class="full-time">{% trans 'Full-Time' %}</span>
                {% else %}
                    <span class="part-time">{% trans 'Part-Time' %}</span>
                {% endif %}
            </h2>
        </div>
        <div class="six columns">
            <a href="{% url 'employer:my_vacancies' %}" class="button white"> {% trans 'My Vacancies' %}</a>
        </div>
    </div>
</div>
{%  endblock %}


{%  block content %}

<div class="container">
    
    <!-- Job -->
    <div class="eleven columns">
        <div class="padding-right">
            
            <!-- Company Info -->
            <div class="company-info">
                {% if  vacancy.image %}
                    <img src="{{ vacancy.image.url }}">
                {% else %}
                    <img src="{% static 'images/company.png' %}" alt="{{ vacancy.title }}">
                {% endif %}
                <div class="content">
                    <span>{% trans 'Vacancy' %}:</span>
                    <h4>{{ vacancy.title }}</h4>
                    <span>{{ vacancy.phone_for_vac|default_if_none:"" }}</span>
                    <span>{{ vacancy.email_for_vac|default_if_none:"" }}</span>
                </div>
                <div class="clearfix"></div>
            </div>

            {% if vacancy.job_duties %}
                <div class="content">
                    <h4>{% trans 'Job Duties' %}:</h4>
                    <p>
                        {{ vacancy.job_duties|linebreaks }}
                    </p>
                </div>
                <br>
            {% endif %}
            
            {% if vacancy.job_demands %}
                <div class="content">
                    <h4>{% trans 'Job demands' %}:</h4>
                    <p>
                        {{ vacancy.job_demands|linebreaks }}
                    </p>
                </div>
                <br>
            {% endif %}
            
            {% if vacancy.job_conditions %}
                <div class="content">
                    <h4>{% trans 'Job conditions' %}:</h4>
                    <p>
                        {{ vacancy.job_conditions|linebreaks|safe }}
                    </p>
                </div>
            <br>
            {% endif %}
            {% if vacancy.job_description %}
                <div class="content">
                    <h4>{% trans 'Job description' %}:</h4>
                    <p>
                        {{ vacancy.job_description|linebreaks }}
                    </p>
                </div>
            {% endif %}

        </div>
    </div>


    <!-- Widgets -->
    <div class="five columns">

        <!-- Sort by -->
        <div class="widget">
            

            <div class="job-overview">
                
                <ul>
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <div>
                            <strong>{% trans 'Location' %}:</strong>
                            {% if vacancy.central_city %}
                                <span>
                                    {{ vacancy.central_city|get_central_city }}
                            {% endif %}
                            {% if vacancy.central_city %}
                                ({{ vacancy.location|get_location }})
                                </span>
                            {% endif %}
                        </div>
                                
                    </li>
                    {% if vacancy.work_hours %}
                    <li>
                        <i class="fa fa-clock-o"></i>
                        <div>
                            <strong>{% trans 'Work hours/week' %}:</strong>
                            <span>{{ vacancy.work_hours }}</span>
                        </div>
                    </li>
                    {% endif %}
                    {% if vacancy.salary %}
                    <li>
                        <i class="fa fa-money"></i>
                        <div>
                            <strong>{% trans 'Rate' %}:</strong>
                            <span>{{ vacancy.salary|get_currency }}</span>
                        </div>
                    </li>
                    {% endif %}
                </ul>
                    

            </div>

        </div>

    </div><!-- Widgets / End -->


</div>

{%  endblock %}
