{% load i18n staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{% block title %} BackOffice24 {% endblock title %}</title>
    
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    
    
    <!-- Bootstrap core CSS     -->
    <link href="{% static 'backoffice24/css/bootstrap.min.css' %}" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="{% static 'backoffice24/css/material-dashboard.css' %}" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static 'backoffice24/css/demo.css' %}" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="{% static 'backoffice24/css/font-awesome.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        {% block sidebar %}
            {% include 'backoffice24/partials/sidebar.html' %}
        {% endblock sidebar %}

        <div class="main-panel">
            {% block top_nav %}
                {% include 'backoffice24/partials/top_nav.html' %}
            {% endblock top_nav %} 

            <div class="content">
                <div class="container-fluid">
                {% block content %}

                {% endblock content %}
                 </div>   
            </div>

            <footer class="footer">
                {% block footer %}
                {% endblock footer %}
            </footer>
        </div>
    </div>
   
</body>


{% include 'backoffice24/partials/footer_scripts.html' %}

{% block custom_js %}
    
{% endblock custom_js %}
</html>