{% extends 'backoffice24/bo24_layout.html' %}
{% load i18n staticfiles %}


{% block title %} Login - {{block.super}} {% endblock title %}

{% block page_title %} {% endblock page_title %}

{% block sidebar %}{% endblock sidebar %}

{% block top_nav %}{% endblock top_nav %} 

{% block content %}
<div class="row">
    <div class="col-md-4 col-sm-6 col-md-offset-2">
        <form method="post" action="#">
            <div class="card card-login card-hidden">
                <div class="card-header text-center" data-background-color="rose">
                    <h4 class="card-title">Login</h4>
                </div>
                <br>
                 {% csrf_token %}

                <p>{{ form.non_field_errors }}</p>
                <div class="card-content">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">face</i>
                        </span>
                        <div class="form-group label-floating">
                            {% for error in form.username.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                            <label class="control-label">{% trans "Username:" %}</label>
                            <input type="text" name="username" class="form-control" value="{% if form.username.value %}{{ form.username.value }} {% endif %}">
                        </div>
                    </div>
                    
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock_outline</i>
                        </span>
                        <div class="form-group label-floating">
                            {% for error in form.password.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                            <label class="control-label">{% trans "Password:" %}</label>
                            <input type="password" name="password" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="footer text-center">
                    <button type="submit" class="btn btn-rose btn-simple btn-wd btn-lg">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}       