{% extends "base_layout.html" %}
{% load staticfiles %}

{%  block title %}Політика Щодо Файлів "cookie"  - {%  endblock %}

{%  block titlebar %}
<!-- Titlebar
================================================== -->

<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo-02.jpg' %});">
    <div class="container">

        <div class="sixteen columns">
            <h2>Політика Щодо Файлів "cookie" </h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>Ви тут:</li>
                    <li><a href="{% url 'main:home' %}">Головна</a></li>
                    <li>Політика Щодо Файлів "cookie"</li>
                </ul>
            </nav>
        </div>

    </div>
</div>

{%  endblock %}


{%  block content %}

<!-- Content
================================================== -->
<div class="container">
    
    <!-- Submit Page -->
    <div class="sixteen columns">
        <div class="submit-page">

            <h1 class="margin-bottom-20">Політика щодо файлів "COOKIE"</h1>

            <!-- Notice -->
            <div class="notification notice closeable margin-bottom-40">
                <p>Користуючись матеріалами цього сайту, Ви погоджуєтеся з тим, що сайт використовує файли "cookie" (кукі). Ви можете відмовитися від цього, змінивши налаштування браузера.</p>
            </div>

            <p>
                Сookie — це невеликий текстовий файл, що розміщується на Вашому комп'ютері і призначений для збору інформації про використання нашого веб-сайту.
            </p>
            <p>
                Ми використовуємо cookie-файли, щоб надати Вам більш персоналізований сервіс. Наш сайт також використовує cookie які можуть включати cookie-файли третіх сторін, що допомагають нам надавати цільову рекламу.
            </p><p>
                Які cookie ми використовуємо?<br>
                Сесійні cookie. Під час Вашого перебування на веб-сайті сесійні cookie тимчасово зберігаються в пам'яті комп'ютера. Ці файли зберігаються недовго та зазвичай видаляються, відразу після закриття браузера. До сесійних кукі-файлів належать ті, які активують деякі можливості Сервісу для кращого розуміння того, як користувачі взаємодіють з Сервісом; стежать за загальною кількістю користувачів JustJob, а також ті, які керують інтернет-трафіком Сервісу.
            </p><p>
                Постійні cookie зберігаються впродовж певного часу, або ж до завершення сеансу роботи з даним сервісом. Це файли, в яких зберігаються Ваші реєстраційні дані, логін і пароль для подальшого доступу до Сервісу, і які відстежують згоду Користувача з умовами надання послуг JustJob.
            </p><p>
                Якщо Ви проти використання файлів cookie на нашому сайті, Ви можете змінити налаштування і вимкнути опцію використання cookie у своєму браузері. Проте така відмова може обмежити функціональність і користь від користування сайтом.
            </p><p>
                Для отримання більш детальної інформації, будь ласка, відвідайте www.aboutcookies.org
            </p>
        </div>
    </div>

</div>
{%  endblock %}