{% extends "base_layout.html" %}
{% load staticfiles %}

{%  block title %}Політика Конфіденційності - {%  endblock %}

{%  block titlebar %}
<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo-02.jpg' %});">
    <div class="container">

        <div class="sixteen columns">
            <h2>Політика Конфіденційності</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>Ви тут:</li>
                    <li><a href="{% url 'main:home' %}">Головна</a></li>
                    <li>Політика Конфіденційності</li>
                </ul>
            </nav>
        </div>

    </div>
</div>

{%  endblock %}


{%  block content %}

<!-- Content
================================================== -->
<div class="container">
    
    <!-- Submit Page -->
    <div class="sixteen columns">
        <div class="submit-page">
            
            <h1 class="margin-bottom-20">Політика Конфіденційності</h1>

            <!-- Notice -->
            <div class="notification notice closeable margin-bottom-40">
                <p>
                   Використання данного Сайту означає повну і безумовну згоду Користувача з цією політикою конфіденційності та вказаними в ній цілями та умовами обробки персональних даних Користувача.
                </p>
            </div>
            
            <p>
                1.1. Користувач Сайту, розміщуючи резюме та/або інші дані на Сайті, добровільно надає свою згоду на обробку своїх персональних даних (які містяться в його резюме, повідомленнях та/або іншій інформації, зібраній та/або розміщуваній на Сайті та/або в інформації, яку він надсилає іншим Користувачам Сайту)
            </p><p>
                1.2. Обробка персональних даних включає в себе будь-які дії та/або сукупність дій, які пов’язані зі збором, реєстрацією, накопиченням, зберіганням, адаптацією, зміною, поновленням, використанням та поширенням (реалізацією, передачею), видаленням персональних даних Користувача з метою забезпечення роботи сервісів Сайту.
            </p><p>
                1.3. Приймаючи ці умови, Користувач підтверджує те, що він розуміє свої права, а також мету збору, зберігання і обробки його персональних даних. Користувач також дає свою згоду на те, що термін обробки його персональних даних є безстроковим.
            </p><p>
                1.4. Користувач може в будь-який момент змінити (оновити, доповнити) надані ним персональні дані або їх частину, а також параметри їх конфіденційності, скориставшись функцією редагування та налаштування доступу до особистої інформації, а також вимагати від Компанії повного видалення його аккаунту і всіх персональних даних з бази даних Сайту.
            </p><p>
                1.5. Метою збору, зберігання і обробки персональних даних є надання користувачу персоналізованих сервісів Сайту, у тому числі: доступу до особистого кабінету, авторизації, нагадування паролю, публікування і відправлення резюме та/або вакансій, зв’язок з Користувачем, в тому числі відсилання повідомлень, запитів та інформації, що стосуються використання Сайту, надання послуг, обробка запитів Користувача, а також інші сервіси Сайту.
            </p>
                <h3>ОБМЕЖЕННЯ ВІДПОВІДАЛЬНОСТІ</h3>
            <p>
                Компанія НЕ несе відповідальності за:
            </p><p>
                2.1. Зміст матеріалів, що публікуються Користувачами.
            </p><p>
                2.2. Заподіяння шкоди або заподіяння інших збитків, які можуть виникнути при використанні Сайту.
            </p>
                <h3>ПРАВА КОМПАНІЇ</h3>
            <p>
                Компанія залишає за собою право:
            </p><p>
                3.1. Змінювати Сайт на власний розсуд.
            </p><p>
                3.2. Змінювати вартість і види послуг, а також умови їх надання.
            </p><p>
                3.3. Редагувати або видаляти опубліковані Користувачем на Сайті матеріали, якщо вони не відповідають умовам цієї Угоди, чинять негативний вплив на Компанію або на третю сторону, а також на власний розсуд без пояснення причин.
            </p><p>
                3.4. Використовувати матеріали, що опубліковані Користувачем на Сайті і що знаходяться у відкритому доступі, в особистих цілях Компанії.
            </p><p>
                3.5. Вносити зміни в цю Угоду в односторонньому порядку. Користувач вважається поінформованим про зміну умов Угоди з моменту публікації відредагованою версії цієї Угоди на Сайті.
            </p>
        </div>
    </div>

</div>
{%  endblock %}