{% extends "base_layout.html" %}
{% load staticfiles %}

{%  block title %}Умови Використання Сайту - {%  endblock %}

{%  block titlebar %}
<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo-02.jpg' %});">
    <div class="container">

        <div class="sixteen columns">
            <h2>Умови Використання Сайту</h2>
            <nav id="breadcrumbs">
               <ul>
                    <li>Ви тут:</li>
                    <li><a href="{% url 'main:home' %}">Головна</a></li>
                    <li>Умови Використання Сайту</li>
                </ul>
            </nav>
        </div>

    </div>
</div>

{%  endblock %}


{%  block content %}

<!-- Content
================================================== -->
<div class="container">
    
    <!-- Submit Page -->
    <div class="sixteen columns">
        <div class="submit-page margin-buttom-40">

            <h1 class="margin-bottom-20">Умови Використання Сайту</h1>

            <!-- Notice -->
            <div class="notification notice closeable margin-bottom-40">
                <p>
                    Для того, щоб ресурс justjob.eu (надалі, "Сайт") був безпечною і довіреною платформою, та щоб уникнути використання Сайту в неправомірних або небажаних цілях, ми просимо Вас та інших користувачів Сайту (надалі, "Користувач") погодитися і виконувати дані Умови використання Сайту (надалі, "Умови"). У цих Умовах викладені дозволені і заборонені способи використання Сайту, а також інші умови користування сервісом. Заходячи на Сайт або використовуючи будь-які послуги, доступні на сайті, Ви погоджуєтеся з цими Умовами. Ви також особисто несете відповідальність за дотримання всіх законів, які можна застосувати до користування Сайтом або його послугами незалежно від того, зазначено це в Умовах чи ні.
                </p>
            </div>
            <p>
            1. Заборонені способи використання Сайту
            </p><p>
            Описані нижче способи використання заборонені, незалежно від того в якому розділі Сайту вони відбуваються. Наприклад, такі дії заборонені в оголошеннях з пропозиціями про роботу, резюме, повідомленнях на адресу Сайту, при спілкуванні зі службою підтримки або в дискусіях, а також в зауваженнях і пропозиціях Користувача.
            </p><p>
            1.1 Незаконні, шахрайські, образливі або інші дії, що несуть негативний вплив на використання Сайту
            </p><p>
            Забороняється: використовувати або заохочувати, сприяти або спонукати інших до використання Сайту або його послуг у будь-яких цілях, що порушують якийсь закон, статут, розпорядження або норму, в будь-яких інших незаконних, шахрайських, образливих цілях чи в цілях з метою негативного впливу; передавати, зберігати, відтворювати, розголошувати або іншим способом поширювати інформацію що несе незаконний, образливий чи негативний зміст.
            </p><p>
            Нижче наведені приклади забороненого застосування Сайту або його послуг:
            </p><p>
                • Пошук, пропозиція або заохочення до незаконних, непристойних або порнографічних послуг або діяльності, включаючи послуги, які порушують права на інтелектуальну власність, авторські права фізичних або юридичних осіб; послуг, продуктів, або веб-сайтів, які мають на увазі створення, перегляд або обробку матеріалів непристойного змісту;<br>
                • Розміщення інформації, яка може розцінюватися образливою, нецензурною, непристойною, дискримінаційною, протизаконною; містить погрози  чи явний еротичний чи порнографічний характер;<br>
                • Пошук, пропозиція або заохочення будь-яких послуг, які порушують Умови використання сайту;<br>
                • Дискримінація у публікації на підставі раси, віросповідання, кольору шкіри, походження, фізичних або розумових обмежень, стану здоров'я, матеріального становища, військового звання чи інших ознак, що захищаються дійсним законодавством;<br>
                • Вимога оплати без наміру надання або отримання послуг;<br>
                • Масова розсилка спаму іншим Користувачам;<br>
                • Використання роботів, програм-обхідників, скрейперів або інших автоматичних засобів для доступу до Сайту в будь-яких цілях без письмового однозначного дозволу на це з нашого боку; або збір будь-якої інформації з сайту, що дозволяє встановити особу, включаючи назви облікових записів;<br>
                • Здійснювати будь-які дії, спрямовані на заподіяння шкоди Сайту, включаючи необґрунтовані або непропорційно великі (виключно на наш розсуд) навантаження на інфраструктуру Сайту; негативно впливати або здійснювати спроби негативного впливу на нормальну роботу Сайту; обходити будь-які засоби, які ми використовуємо для обмеження доступу до Сайту або його частин, включаючи методи, що запобігають або обмежують використання або копіювання будь-якої інформації, або накладають обмеження на використання вмісту Сайту; спроби втручання або порушення цілісності системи або її безпеки, або дешифрування будь-яких передач з / на сервера, на яких розміщується Сайт.<br>
            </p><p>
            1.2 Використання Сайту не за призначенням
            </p><p>
            Платформа JustJob надає  послуги як найманим працівникам, так і роботодавцям, з ціллю взаємного пошуку і початку трудових відносин. Очікується, що користувачі будуть використовувати Сайт та його послуги за цільовим призначенням і їм заборонено використовувати Сайт і його послуги в протиріччі з їх цільовим призначенням. 
            </p><p>
            Нижче наведені приклади забороненого застосування Сайту:
            </p><p>
                • Використання можливості зворотного зв'язку Сайту не за призначенням, наприклад для вираження думок, що не стосуються роботи, таких як коментарі щодо політики, релігії чи соціального характеру;<br>
                • Дублювання облікових записів або використання одного облікового запису декількома Користувачами;<br>
                • Продаж або передача особистого облікового запису третім особам без згоди представників JustJob;<br>
                • Розміщення реклами на Сайті JustJob для пошуку працівників для іншого агентства, веб-сайту або компанії.<br>
            </p><p>
            1.3 Використання Сайту для розміщення неправдивої інформації або дезінформації
            </p><p>
            Всі профілі, вакансії, пропозиції та інший матеріал, що розміщується на Сайті повинен бути правдивим і не вводити адміністрацію Сайту та інших Користувачів в оману. 
            </p><p>
            Нижче наведені приклади забороненого застосування Сайту:
            </p><p>
                • Спотворення інформації про досвід і навички працівника чи іншої інформації;<br>
                • Неправдиве видавання себе за особу, пов'язану з іншою фізичною чи юридичною особою, зокрема за представників компанії JustJob, представників кадрових агенцій або представників компаній-роботодавців.<br>
                • Здавати в користування свій обліковий запис третім особам, що може бути сприйнято іншими Користувачами як обман;<br>
                • Неправдива заява щодо відношення до JustJob або іншої компанії,  з якою у Користувача насправді немає співпраці;<br>
            </p><p>
            2. Контроль за дотриманням Умов користування
            </p><p>
            Ми залишаємо за собою право, але не маємо на увазі зобов'язання, вивчати кожен конкретний випадок порушення цих Умов. Ми можемо вивчати і маємо право видаляти, обмежувати доступ або редагувати будь-яку інформацію, яка порушує ці Умови.
            </p><p>
            Ми  залишаємо за собою право направляти заяви до відповідних правоохоронних органів, відомств чи інших третіх осіб, якщо будь-яка дія з боку Користувача здасться нам протизаконною. У таку заяву може бути включена деяка інформація про Користувача. Також, для проведення розслідувань та притягнення до відповідальності осіб, які вчиняють незаконні дії, ми можемо співпрацювати з правоохоронними органами, відомствами або іншими третіми особами, надаючи останнім мережеву і системну інформацію, що відноситься до порушень цих Умов.
            </p><p>
            3. Повідомлення про порушення та їх виправлення
            </p><p>
            Якщо Ви помітили випадки порушення цих Умов, негайно повідомте про це в службу підтримки клієнтів. Приймаючи Умови використання justjob.eu, Ви погоджуєтеся надавати нам допомогу у виявленні та усуненні порушень даних Умов.
            </p>


        </div>
    </div>

</div>
{%  endblock %}