{% extends "base_layout.html" %}
{% load staticfiles %}

{%  block title %}Погодження з Користувачем - {%  endblock %}

{%  block titlebar %}
<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo-02.jpg' %});">
    <div class="container">

        <div class="sixteen columns">
            <h2>Погодження з Користувачем</h2>
            <nav id="breadcrumbs">
                <ul>
                   <li>Ви тут:</li>
                    <li><a href="{% url 'main:home' %}">Головна</a></li>
                    <li>Погодження з Користувачем</li>
                </ul>
            </nav>
        </div>

    </div>
</div>
{%  endblock %}


{%  block content %}

<!-- Content
================================================== -->
<div class="container">
    
    <!-- Submit Page -->
    <div class="sixteen columns">
        <div class="submit-page margin-bottom-40">
            
            <h1 class="margin-bottom-20">Погодження з Користувачем</h1>

            <!-- Notice -->
            <div class="notification notice closeable margin-bottom-40">
                
                <p>
                    Зазначені нижче правила, є Угодою з користувачем (надалі: "Ви" або "Користувач") щодо використання послуг веб-сайту justjob.eu (надалі: "Сайт").
                </p>
            </div>

            <p>
                Ви повинні ознайомитися, погодитися і прийняти всі положення та умови цієї Угоди, а також додатки і доповнення до Угоди.
            </p>
            <p> 
                Ви повинні розуміти, що використовуючи Сайт або послуги Сайту, Ви погоджуєтесь з умовами цієї Угоди. ЯКЩО Ви не приймаєте дані погодження в повній мірі, Ви не повинні заходити на сайт і користуватися його послугами. ЯКЩО Ви погоджуєтеся із даними погодженнями від імені юридичної особи, або агентства, Ви переймаєте його повноваження і гарантуєте дотримання цією юридичною особою / агентством умов для користувача Угоди. В такому випадку, слова "Ви", "Ваш" і т.п. відноситимуться до зареєстрованої Вами юридичної особи чи агентства.
                <br>
                Приймаючи умови цієї Угоди, Користувач зобов'язується в повній мірі слідувати цим правилам протягом усього періоду користування Сайтом:
            </p><p>
                1.1. Не вводити в оману інших користувачів або адміністрацію Сайту.
            </p><p>
                1.2. Не створювати кілька облікових записів на Сайті, якщо вони належать одній і тій самій особі.
            </p><p>
             1.3. Не розміщувати свідомо неякісну, неправдиву або помилкову інформацію.
            </p><p>
                1.4. Не використовувати слова, набрані лише великими літерами, за умови якщо вони не є скороченнями.
            </p><p>
                1.5. Не публікувати оголошення, які пропонують роботу в таких сферах: заробіток в Інтернеті, обробка повідомлень електронної пошти, масова розсилка електронних повідомлень, мережевий маркетинг, азартні ігри, чи інших, що вимагають матеріальних вкладень.
            </p><p>
                1.6. Не публікувати вакансії з прив'язкою до міста, в якому претендент не буде працювати в дійсності.
            </p><p>
                1.7. Не розміщувати порожні публікації лише з назвою резюме або вакансії, без докладного опису.
            </p><p>
                1.8. Не допускати повторень однакових слів в заголовку резюме і вакансій.
            </p><p>
                1.9. Не публікувати інформацію більш ніж про одну посаду в заголовку і описі вакансії.
            </p><p>
                1.10. Не використовувати Сайт для поширення матеріалів рекламного характеру, включаючи пропозиції зареєструватися на сайтах третіх осіб, оголошення про послуги пошуку роботи або персоналу, взаємодії або співпраці на сайтах третіх осіб.
            </p><p>
                1.11. Не публікувати образливі матеріали, які можуть заподіяти шкоду Сайту, третій стороні, чи іншим Користувачам.
            </p><p>
                1.12. Не розміщувати на Сайті інформацію, яка має відношення до збору і зберігання персональних даних про інших Користувачів.
            </p><p>
                1.13. Користувач дає згоду нести повну відповідальність за розміщувану на Сайті інформацію, включаючи її відповідність до вимог законів (наприклад, дотримання авторських прав щодо використання назв компаній, логотипів чи торгових марок), а також стежити за дотриманням прав третіх осіб, що згадуються в публікаціях на Сайті. У разі отримання скарг від третіх осіб, що згадуються в публікаціях на Сайті Користувачем, останній незалежно від Сайту вживає заходів для врегулювання конфлікту власними зусиллями і за свій рахунок.
            </p><p>
                1.14. Користувач несе відповідальність за використання Сайту відповідно до умов цієї Угоди, а також відповідно до чинного законодавства.

            </p>

        </div>
    </div>

</div>

{%  endblock %}