{% extends "base_layout.html" %}
{% load staticfiles %}

{%  block title %}Cookies Policy - {%  endblock %}

{%  block titlebar %}
<!-- Titlebar
================================================== -->

<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo-02.jpg' %});">
    <div class="container">

        <div class="sixteen columns">
            <h2>Cookies Policy</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>You are here:</li>
                    <li><a href="{% url 'main:home' %}">Home</a></li>
                    <li>Cookies Policy</li>
                </ul>
            </nav>
        </div>

    </div>
</div>

{%  endblock %}


{%  block content %}

<!-- Content
================================================== -->
<div class="container">
    
    <!-- Submit Page -->
    <div class="sixteen columns">
        <div class="submit-page">

            <h1 class="margin-bottom-20">Cookies Policy</h1>

            <!-- Notice -->
            <div class="notification notice closeable margin-bottom-40">
                <p>By using this Site, you agree that we can use the cookies. You can stop cookies by changing the settings in your browser.</p>
            </div>

            <p>
                Like many websites, we and our marketing partners, affiliates, analytics, and service providers use “cookies” to collect information. A cookie is a small data file that we transfer to your computer’s hard disk for record-keeping purposes. We use both persistent cookies that remain on your computer or similar device (such as to save your registration ID and login password for future logins to the Service and to track your compliance with the JustJob Terms of Service) and session ID cookies, which expire at the end of your browser session (for example, to enable certain features of the Service, to better understand how JustJob Users interact with the Service and to monitor aggregate usage by JustJob Users and web traffic routing on the Service). You may be able to instruct your browser, by changing its options, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit. If you do not accept cookies, however, you may not be able to use all functionality of the Service.
            </p>


        </div>
    </div>

</div>
{%  endblock %}