{% extends "base_layout.html" %}
{% load staticfiles %}

{%  block title %}Privacy Policies - {%  endblock %}

{%  block titlebar %}
<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo-02.jpg' %});">
    <div class="container">

        <div class="sixteen columns">
            <h2>Privacy Policies</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>You are here:</li>
                    <li><a href="{% url 'main:home' %}">Home</a></li>
                    <li>Privacy Policies</li>
                </ul>
            </nav>
        </div>

    </div>
</div>

{%  endblock %}


{%  block content %}

<!-- Content
================================================== -->
<div class="container">
    
    <!-- Submit Page -->
    <div class="sixteen columns">
        <div class="submit-page">
            
            <h1 class="margin-bottom-20">Privacy Policies</h1>

            <!-- Notice -->
            <div class="notification notice closeable margin-bottom-40">
                <p>
                    Use of the Site means the User's full and unconditional consent to this Privacy policy and the purposes and conditions of processing of User's personal data specified therein.
                </p>
            </div>
            
            <p>1. The User of the Site, by posting a CV and / or other data on the Site and / or submitting summaries and / or other similar letters to the email addresses of companies and / or other Site Users, voluntarily grants to the Company, as well as third parties who have access to this Site, Unconditional consent to the processing of their personal data (contained in its summaries, messages and / or other information collected and / or posted on the Site and / or sent to other Site Users).</p>
            <p>2. Personal data processing includes any actions and / or a set of activities that are related to the collection, registration, accumulation, storage, adaptation, modification, updating, use and distribution (implementation, transfer), removal of the User's Personal data in order to ensure the operation of the Site services.
</p>
            <p>3. By accepting this agreement, the User confirms that he understands his rights, as well as the purpose of collecting, storing and processing his personal data. The User also agrees that the processing of his personal data is unlimited.</p>
            <p>4. The User can at any time change (update, edit) his personal data, as well as the privacy settings, using the function of editing and setting access to personal information, as well as requesting the Company to completely delete his account from the Site database.</p>
            <p>5. The purpose of collecting, storing and processing personal data is to provide the User with personalized services of the Site, including: access to the personal section, authorization, password reminder, publication and sending of CVs and / or vacancies, communication with the User, including sending notifications, requests and information concerning the use of the Site, processing of the User's requests, as well as other services of the Site.</p>

            <h3>2. LIMITATION OF LIABILITY</h3>
            <p>
            The Company is NOT liable for:
            </p><p>
            2.1. The content of materials published by Users.
            </p><p>
            2.2. Causing harm,and any other damages that may occur while using the Site.
            </p>

            <h3>3. COMPANY RIGHTS</h3>
            <p>
            The Company reserves the right to:
            </p>
            3.1. Modify the site on its own.
            </p><p>
            3.2. Change the cost and types of services, as well as their terms.
            </p><p>
            3.3. Edit or delete materials published by the User on the Site, if they do not comply with the terms of this Agreement, are harmful to the Company or to third parties, and also in their personal discretion without giving a reason.
            </p>
        </div>
    </div>

</div>
{%  endblock %}