{% extends "base_layout.html" %}
{% load staticfiles %}

{%  block title %}Terms of Service - {%  endblock %}

{%  block titlebar %}
<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo-02.jpg' %});">
    <div class="container">

        <div class="sixteen columns">
            <h2>Terms of Service</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>You are here:</li>
                    <li><a href="{% url 'main:home' %}">Home</a></li>
                    <li>Terms of Service</li>
                </ul>
            </nav>
        </div>

    </div>
</div>

{%  endblock %}


{%  block content %}

<!-- Content
================================================== -->
<div class="container">
    
    <!-- Submit Page -->
    <div class="sixteen columns">
        <div class="submit-page margin-buttom-40">

            <h1 class="margin-bottom-20">Terms of Service</h1>

            <!-- Notice -->
            <div class="notification notice closeable margin-bottom-40">
                <p>
                    In order to maintain  justjob.eu as a safe and trusted marketplace (the “Site”) and to avoid use of the Site for unauthorized or unintended purposes, we require you and all other users of the Site (each, a “User”) to agree to and comply with these Terms of Use (the “Terms”). These Terms set forth the acceptable and prohibited uses of our Site.. By accessing the Site or using any of the site services you agree to these Terms. You are also independently responsible for complying with all applicable laws related to your use of the Site or the site services whether or not covered by the Terms.
                </p>
            </div>
            <h3>1. Prohibited Site use</h3>
            <p>
                
                The uses described in these Terms are prohibited regardless of where on the Site they occur. For example, those activities are prohibited in job posts, proposals, JustJob messages, communications with customer service, and User feedback.
            </p>

<h3>1.1 Illegal, fraudulent, harmful, or offensive uses</h3>

<p>You may not use, or encourage, promote, facilitate, or instruct others to use the Site for any activities that violate any law, statute, ordinance or regulation; for any other illegal, fraudulent, harmful, or offensive purpose; or to transmit, store, display, distribute or otherwise make available content that is illegal, harmful, or offensive.
Examples of prohibited uses of the Site or site services include:
</p><p>
Seeking, offering, or endorsing illegal, obscene, or pornographic services or activities, including services that would violate the intellectual property rights, including copyrights, of another person; service, product, or website that would involve the creation, review, or editing of pornographic, erotic, obscene, or sexually explicit material;
</p><p>
Posting content that is offensive, defamatory, profane, vulgar, obscene, threatening, discriminatory, illegal or pornographic;
</p><p>
Seeking, offering, or endorsing any services that would violate JustJob’s Terms of Use or the terms of service of another website;
</p><p>
Expressing a preference in a job post or proposal or otherwise unlawfully discriminating on the basis of race, religion, color, national origin, ancestry, physical or mental disability, medical condition, genetic information, marital status, sex, gender, gender identity, gender expression, age, sexual orientation, military/veteran status or any basis protected by applicable law;
</p><p>
Posting content that is harassing towards another person or violates the rights of a third party;
</p><p>
Posting identifying information concerning another person;
</p><p>
Making or demanding payments without the intention of providing or receiving services in exchange for the payment; 
</p><p>
Spamming other Users;
</p><p>
Using any robot, spider, scraper, or other automated means to access the Site for any purpose without our  written permission; or collecting any personally identifiable information, including Account names, posted on the Site;
</p>
<p>
Engaging in any conduct, that is intended to harm the Site, including  imposing an unreasonable or disproportionately large load (in our sole discretion) on the Site’s infrastructure; interfering or attempting to interfere with the proper operation of the Site or Site Services or any activities conducted on the Site; bypassing any measures we may use to prevent or restrict access to the Site or any subparts of the Site, including features that prevent or restrict use or copying of any content or enforce limitations on use of the Site or the content therein; or attempting to interfere with or compromise the system integrity or security or decipher any transmissions to or from the servers running the Site.
</p>


<h3>1.2 Using the site other than for the intended purposes</h3>
    <p>
        JustJob makes the Site and services available for Users, both employers and employees, to find each other and to enter into service relationships. Users are expected to use the Site and services for their intended purposes. Users may not use the Site and services in contravention of their intended purposes. The following are examples of prohibited use of the Site:
    </p>
    
<li>
        Posting the same job multiple times so that more than one version remains active at a given time;</li>
<li>
        Attempting to falsify, manipulate, or coerce another User by threatening to give negative feedback;</li>
<li>
        Misusing the feedback feature to express views unrelated to the work, such as political, religious, or social commentary;</li>
<li>
        Duplicating or sharing accounts;</li>
<li>
        Selling, trading, or giving an account to another person without JustJob’s consent;</li>
    <p>
        Advertising on JustJob to recruit employees to join an HR-agency or another website or company.
    </p>

<h3>1.3 Using the Site to post false or misleading content</h3>
<p>
All profiles, jobs, proposals, and other content posted to the Site must be truthful and not misleading. Here are examples of prohibited uses:
    <li>Misrepresenting a employee’s experience, skills, or information;
</li>
    <li>Impersonating any person or entity, including, an JustJob representative/employers representative or falsely stating or otherwise misrepresenting your affiliation with a person or company;</li>
    <li>Allowing another person to use your account, which is misleading to other Users;
        </li><li>
Falsely stating or implying a relationship with JustJob or with another company with whom you do not have a relationship;</li>


</p>

<h3>2. Enforcement</h3>
<p>
We reserve the right, but do not assume the obligation, to investigate any violation of these Terms. We may investigate violations and may remove, disable access to, or modify any content that violates these Terms.</p><p>
We may report any activity that we suspect violates any law or regulation to appropriate law enforcement officials, regulators, or other appropriate third parties. Our reporting may include disclosing appropriate User information. We also may cooperate with appropriate law enforcement agencies, regulators, or other appropriate third parties to help with the investigation and prosecution of illegal conduct by providing network and systems information related to alleged violations of these Terms.
</p>

<h3>3. Reporting and correcting violations</h3>
<p>
If you become aware of any violation of these Terms, you must immediately report it to Customer Service. You agree to assist us with any investigation we undertake and to take any remedial steps we require in order to correct a violation of these Terms.
            </p>


        </div>
    </div>

</div>
{%  endblock %}