{% extends "base_layout.html" %}
{% load staticfiles %}

{%  block title %}User Agreement - {%  endblock %}

{%  block titlebar %}
<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo-02.jpg' %});">
    <div class="container">

        <div class="sixteen columns">
            <h2>User Agreement</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>You are here:</li>
                    <li><a href="{% url 'main:home' %}">Home</a></li>
                    <li>User Agreement</li>
                </ul>
            </nav>
        </div>

    </div>
</div>
{%  endblock %}


{%  block content %}

<!-- Content
================================================== -->
<div class="container">
    
    <!-- Submit Page -->
    <div class="sixteen columns">
        <div class="submit-page margin-bottom-40">
            
            <h1 class="margin-bottom-20">User Agreement</h1>

            <!-- Notice -->
            <div class="notification notice closeable margin-bottom-40">
                <p>This User Agreement (this “agreement”) is a contract with the User (“You” or “User”) of the services of the website <a href="http://justjob.eu">justjob.eu</a> (hereinafter the Site), on the terms of which the User uses the information and services provided by the Site.</p>
            </div>

            <p>
                You Must read, agree to, and accept all of the terms and conditions contained in this Agreement in order to use our website located at justjob.eu, all affiliated websites, including mobile websites and applications, owned and operated by us, our predecessors or successors in interest, or our affiliates (collectively, the “site”), all services, applications and products that are accessible through the site and all  JustJob  applications that link to or reference this Agreement  whether provided by us or our affiliates. 
            </p>
            <p> 
                You understand that by using the Site or Site services after the effective date, you agree to be bound by the Terms of service.  IF You do not accept the Terms of service in its entirety, you must not access or use the Site or the site services after the effective date.  IF You agree to the Terms of service on behalf of an entity, or in connection with providing or receiving services on behalf of an entity or agency, you represent and warrant that you have the authority to bind that entity or agency to the Terms of service.  IN That event, “you” and “your” will refer and apply to that entity or agency.
                <br>
                By accepting this Agreement, the User agrees to be bound by the terms of service twhile working with the site.
            </p>
            <p> 
                1.1. Do not misinform other users or the administration of the site.
            </p>
            <p> 
                1.2. Do not create multiple accounts on the site, if  they belong to the same employer or private person.
            </p>
            <p> 
                1.3. Do not post deliberately substandard or false information.
            </p>
            <p> 
                1.4. Do not use words that are typed only in capital letters, if they are not abbreviations.
            </p>
            <p> 
                1.5. Do not publish ads that offer jobs in such areas as: earnings on the Internet, e-mail processing, mass electronic mailings, network marketing, requiring material investment, gambling, erotic and occult services.
            </p>
            <p> 
                1.6. Do not publish vacancies to the city in which the employee will not actually work.
            </p>
            <p> 
                1.7. Do not publish several identical or different participants only with the title of the resume or vacancies.
            </p>
            <p> 
                1.8. Do not allow repetition of words in the headings of summaries and vacancies.
            </p>
            <p> 
                1.9. Do not post information about more than one vacancy in the titles and its description.
            </p>
            <p> 
                1.10. Do not use the Site to distribute advertising materials, including offers to register on third-party sites, announcements about job selection services or personnel, partnership and cooperation on third-party sites.
            </p>
            <p> 
                1.11. Do not publish insults, obscene statements, and other materials that are harmful to the Company or to third parties.
            </p>
            <p> 
                1.12. Do not post on the site information that may relate to the collection and storage of personal data about other users.
            </p>
            <p> 
                1.13. User agrees to be fully responsible for the information posted on the Site, including compliance with its legal requirements, compliance with copyright, authorized use of company names, use of logos, signs for goods and services (trademarks), and also for observing the rights of third parties in connection with the posting of information on the Site. In case of receipt of claims from third parties related to the information posted by the User, the User undertakes to settle these claims independently and at his own expense.
            </p>
            <p> 
                1.14. The User undertakes to use the Site in accordance with this agreement, as well as  with laws applicable in this area.
            </p>

        </div>
    </div>

</div>

{%  endblock %}