{% load i18n staticfiles %}

<div class="widget">
    <h4>{% trans "Got any questions?" %}</h4>
    <div class="widget-box">
        <p>{% trans "If you are having any questions, please feel free to ask." %}</p>
        <a href="{% url 'main:contact' %}" class="button widget-btn"><i class="fa fa-envelope"></i>{% trans "Drop Us a Line" %} </a>
    </div>
</div>

<div class="widget">

    <ul class="tabs-nav blog">
        <li class="active"><a href="#tab1">{% trans "Popular" %}</a></li>
        <li><a href="#tab2">{% trans "Featured" %}</a></li>
        <li><a href="#tab3">{% trans "Recent" %}</a></li>
    </ul>

    <!-- Tabs Content -->
    <div class="tabs-container">

        <div class="tab-content" id="tab1">
            
            <!-- Recent Posts -->
            <ul class="widget-tabs">
                
                <!-- Post #1 -->
                <li>
                    <div class="widget-thumb">
                        <a href="{% url 'blog:blog_post' slug='fun-facts-part2' %}"><img src="{% static 'images/fun_facts2_min.jpg' %}" alt="" /></a>
                    </div>
                    
                    <div class="widget-text">
                        <h5><a href="{% url 'blog:blog_post' slug='fun-facts-part2' %}">{% trans "Things you did not know about Hungary (part 2)" %}</a></h5>
                        <span>{% trans "January 5, 2018" %}</span>
                    </div>
                    <div class="clearfix"></div>
                </li>
                
                <!-- Post #2 -->
                <li>
                    <div class="widget-thumb">
                        <a href="{% url 'blog:blog_post' slug='fun-facts-part1' %}"><img src="{% static 'images/fun_facts1_min.jpg' %}" alt="" /></a>
                    </div>
                    
                    <div class="widget-text">
                        <h5><a href="{% url 'blog:blog_post' slug='fun-facts-part1' %}">{% trans "Things you did not know about Hungary (part 1)" %}</a></h5>
                        <span>{% trans "January 3, 2018" %}</span>
                    </div>
                    <div class="clearfix"></div>

                </li>
                
                <!-- Post #3 -->
                <li>
                    <div class="widget-thumb">
                        <a href="{% url 'blog:blog_post' slug='hungarian-language' %}"><img src="{% static 'images/about_lang_min.jpg' %}" alt="" /></a>
                    </div>
                    
                    <div class="widget-text">
                        <h5><a href="{% url 'blog:blog_post' slug='hungarian-language' %}">{% trans "Subtleties of the Hungarian language" %}</a></h5>
                        <span>{% trans "January 1, 2018" %}</span>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>

        </div>

        <div class="tab-content" id="tab2">
        
            <!-- Featured Posts -->
            <ul class="widget-tabs">

                <!-- Post #1 -->
                <li>
                    <div class="widget-thumb">
                        <a href="{% url 'blog:blog_post' slug='fun-facts-part2' %}"><img src="{% static 'images/fun_facts2_min.jpg' %}" alt="" /></a>
                    </div>
                    
                    <div class="widget-text">
                        <h5><a href="{% url 'blog:blog_post' slug='fun-facts-part2' %}">{% trans "Things you did not know about Hungary (part 2)" %}</a></h5>
                        <span>{% trans "January 5, 2018" %}</span>
                    </div>
                    <div class="clearfix"></div>
                </li>
                
                <!-- Post #2 -->
                <li>
                    <div class="widget-thumb">
                        <a href="{% url 'blog:blog_post' slug='fun-facts-part1' %}"><img src="{% static 'images/fun_facts1_min.jpg' %}" alt="" /></a>
                    </div>
                    
                    <div class="widget-text">
                        <h5><a href="{% url 'blog:blog_post' slug='fun-facts-part1' %}">{% trans "Things you did not know about Hungary (part 1)" %}</a></h5>
                        <span>{% trans "January 3, 2018" %}</span>
                    </div>
                    <div class="clearfix"></div>

                </li>
                
                <!-- Post #3 -->
                <li>
                    <div class="widget-thumb">
                        <a href="{% url 'blog:blog_post' slug='hungarian-language' %}"><img src="{% static 'images/about_lang_min.jpg' %}" alt="" /></a>
                    </div>
                    
                    <div class="widget-text">
                        <h5><a href="{% url 'blog:blog_post' slug='hungarian-language' %}">{% trans "Subtleties of the Hungarian language" %}</a></h5>
                        <span>{% trans "January 1, 2018" %}</span>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>

        <div class="tab-content" id="tab3">
        
            <!-- Recent Posts -->
            <ul class="widget-tabs">
                
                <!-- Post #1 -->
                <li>
                    <div class="widget-thumb">
                        <a href="{% url 'blog:blog_post' slug='fun-facts-part2' %}"><img src="{% static 'images/fun_facts2_min.jpg' %}" alt="" /></a>
                    </div>
                    
                    <div class="widget-text">
                        <h5><a href="{% url 'blog:blog_post' slug='fun-facts-part2' %}">{% trans "Things you did not know about Hungary (part 2)" %}</a></h5>
                        <span>{% trans "January 5, 2018" %}</span>
                    </div>
                    <div class="clearfix"></div>
                </li>
                
                <!-- Post #2 -->
                <li>
                    <div class="widget-thumb">
                        <a href="{% url 'blog:blog_post' slug='fun-facts-part1' %}"><img src="{% static 'images/fun_facts1_min.jpg' %}" alt="" /></a>
                    </div>
                    
                    <div class="widget-text">
                        <h5><a href="{% url 'blog:blog_post' slug='fun-facts-part1' %}">{% trans "Things you did not know about Hungary (part 1)" %}</a></h5>
                        <span>{% trans "January 3, 2018" %}</span>
                    </div>
                    <div class="clearfix"></div>

                </li>
                
                <!-- Post #3 -->
                <li>
                    <div class="widget-thumb">
                        <a href="{% url 'blog:blog_post' slug='hungarian-language' %}"><img src="{% static 'images/about_lang_min.jpg' %}" alt="" /></a>
                    </div>
                    
                    <div class="widget-text">
                        <h5><a href="{% url 'blog:blog_post' slug='hungarian-language' %}">{% trans "Subtleties of the Hungarian language" %}</a></h5>
                        <span>{% trans "January 1, 2018" %}</span>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>
        
    </div>
</div>

<div class="widget">
    <h4>{% trans "Social" %}</h4>
        {% include "partials/social_links.html" %}

</div>