{% extends "employee/employee_layout.html" %}
{% load i18n staticfiles %}

<title>{%  block title %} {% trans 'Add Resume' %} {{block.super}} {%  endblock %}</title>


{%  block titlebar %}

<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/add_resume.jpg' %});">
    <div class="container">
        <div class="ten columns">
            <h2>{% trans 'Add resume' %}</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>{% trans 'You are here' %}:</li>
                    <li><a href="{% url 'employee:home' %}">{% trans 'For Candidates' %}</a></li>
                    <li>{% trans 'Add resume' %}</li>
                </ul>
            </nav>
        </div>

    </div>
</div>
{%  endblock %}


{%  block content %}
<!-- Content
================================================== -->
<div class="container">
    
    <!-- Submit Page -->
    <div class="sixteen columns">
        <div class="submit-page margin-top-30 margin-bottom-55">
            
            <p>
                {% trans 'Do you want to increase your chances of working abroad?' %}<br>{% trans 'Upload your resume and let the employer find you!' %} 
            </p>
            <p>
                {% blocktrans %}Sign up, fill out your profile and upload your resume in native Ukrainian or Russian, and we will translate it and place it in our database in Hungarian. Employers will consider your candidacy in Hungarian and you will receive the desired response many times faster!{% endblocktrans %}
            </p>

            

        </div>
    </div>

</div>
<div class="clearfix"></div>
<div class="margin-bottom-55"></div>

<!-- Infobox -->
<div class="infobox">
    <div class="container">
        <div class="sixteen columns">{% trans 'Start Building Your Career in Europe Right Now' %} <a href="{% url 'main:login' %}">{% trans 'Get Started' %}</a></div>
    </div>
</div>
<!-- /Infobox -->

{%  endblock %}

{%  block custom_js %}
<!-- WYSIWYG Editor -->
<script src="{% static 'scripts/jquery.sceditor.bbcode.min.js' %}"></script>
<script src="{% static 'scripts/jquery.sceditor.js' %}"></script>

<script>
    jQuery("#add-resume-link > a").attr('id', 'current');
    jQuery(".infobox").css("marginBottom", "-40px");
</script>
{%  endblock %}