{% load i18n staticfiles %}

<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="{{ LANGUAGE_CODE }}"> <!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<title>{%  block title %} | Just Job {%  endblock %}</title>

<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
<!-- CSS
================================================== -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/colors/green.css' %}">

<link rel="stylesheet" href="{% static 'css/custom.css' %}">

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js' %}"></script>
<![endif]-->

</head>

<body>
<div id="wrapper">
{% include "employee/partials/header.html" %}

{%  block banner %}{%  endblock %}

{%  block titlebar %}{%  endblock %}

{%  block content %}{%  endblock %}



<!-- Footer
================================================== -->
{% include "partials/footer.html" %}

</div><!-- Wrapper / End -->

<!-- Scripts
================================================== -->
{% include "partials/footer_scripts.html" %}


{%  block custom_js %}{%  endblock %}


{% include "partials/counters.html" %}
</body>
</html>