{% extends "employee/employee_layout.html" %}
{% load i18n staticfiles form_tags %}

<title>{%  block title %} {% trans 'Find Job' %} {{block.super}} {%  endblock %}</title>

{%  block banner %}

<div id="banner" style="background-image: url({% static 'images/banner-home-0101.jpg' %})" class="parallax background" data-img-width="2000" data-img-height="1330" data-diff="400">
    <div class="container">
        <div class="sixteen columns">
            
            <div class="search-container">
                <!-- Form -->
                <h2>{% trans 'Find Job' %}</h2>
                <form action="{% url 'employee:vacancies' %}" method="post" class="list-search">
                    {% csrf_token %}
                    <button type="submit"><i class="fa fa-search"></i></button>
                    <input type="text" name="keywords" style="padding: 18px 22px;" placeholder="{% trans 'Enter search keywords or job title' %}" value="{{ keywords|default_if_none:'' }}"/>
                </form>
                <div class="browse-jobs" style="float:right;">
                    {% trans 'Or browse job offers by' %} <a href="{% url 'employee:vacancies' %}">{% trans 'Advansed search' %}</a>
                </div>
            </div>
                
        </div>
    </div>
</div>

{%  endblock %}


{%  block content %}

<div class="container">
    
    <!-- Submit Page -->
    <div class="sixteen columns">
        <div class="submit-page margin-bottom-40">

            <p>{% blocktrans %}
                Find the perfect job offer in Hungary! Among the vacancies published on our website you will find offers for specialists of different profiles, both manual and intellectual. And it's completely free!{% endblocktrans %}
            </p><p>{% blocktrans %}
                Get access to all the current vacancies of our site immediately after registering of the Candidate profile. You can contact the employer directly by opening his contact details in the published vacancy. And if you can’t find  what you are looking for among all our proposals - upload your resume and let the employer invite you to work!{% endblocktrans %}
            </p><p>
                {% trans 'Your future is just one click away from you!' %}
            </p>
        </div>
    </div>

</div>

<div class="container">
    
    <!-- Recent Jobs -->
    <div class="eleven columns">
    <div class="padding-right">
        <h3 class="margin-bottom-25">{% trans 'Recent Jobs' %}</h3>
        <ul class="job-list">

            {% if vacancies %}
            {% for vac in vacancies %}
            <li><a href="{% url 'employee:vacancy' pk=vac.id %}">
                {% if vac.image %}
                    <img src="{{vac.image.url}}" alt="">
                {% else %}
                    <img src="{% static 'images/company.png' %}" alt="">
                {% endif %}
                <div class="job-list-content">
                    <h4>{{ vac.title }}
                        {% if vac.job_type == 'ft' %}
                            <span class="full-time">{% trans 'Full-Time' %}</span>
                        {% else %}
                            <span class="part-time">{% trans 'Part-Time' %}</span>
                        {% endif %}
                    </h4>
                    <div class="job-icons">
                        <span><i class="fa fa-map-marker"></i> {{vac.central_city|get_central_city}} 
                        {% if vac.location %}( {{vac.location|get_location|default_if_none:''}} ){% endif %}</span>
                        <span>
                            <i class="fa fa-money"></i>
                            {% if vac.salary %} {{ vac.salary|get_currency }}{% endif %}</span>
                    </div>
                    <p>{{ vac.description }}</p>
                </div>
                </a>
                <div class="clearfix"></div>
            </li>
            {% endfor%}
        {% else %}
            <p>{% trans 'No Vacancies for Your request were found' %}</p>
        {% endif %}

        </ul>

        {% comment %}
        <div class="pagination-container">
            <nav class="pagination">
                <ul>
                    <li><a href="#" class="current-page">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li class="blank">...</li>
                    <li><a href="#">22</a></li>
                </ul>
            </nav>

            <nav class="pagination-next-prev">
                <ul>
                    <li><a href="#" class="prev">Previous</a></li>
                    <li><a href="#" class="next">Next</a></li>
                </ul>
            </nav>
        </div>
        {% endcomment %}
        
    </div>
    </div>

    <!-- Job Spotlight -->
    <div class="five columns">
        <h3 class="margin-bottom-5">{% trans 'Job Spotlight' %}</h3>

        <!-- Navigation -->
        <div class="showbiz-navigation">
            <div id="showbiz_left_1" class="sb-navigation-left"><i class="fa fa-angle-left"></i></div>
            <div id="showbiz_right_1" class="sb-navigation-right"><i class="fa fa-angle-right"></i></div>
        </div>
        <div class="clearfix"></div>
        
        <!-- Showbiz Container -->
        <div id="job-spotlight" class="showbiz-container">
            <div class="showbiz" data-left="#showbiz_left_1" data-right="#showbiz_right_1" data-play="#showbiz_play_1" >
                <div class="overflowholder">

                    <ul>
                        {% if hot_vacancies %}
                            {% for hot_vacancy in hot_vacancies %}
                            <li>
                                <div class="job-spotlight">
                                    <center>
                                        <a href="{% url 'employee:vacancy' pk=hot_vacancy.id %}">
                                            <h4>{{ hot_vacancy.title }}</h4>
                                        </a>
                                    </center>
                                    <span>
                                        <i class="fa fa-fa-map-marker"></i>
                                        {{ hot_vacancy.central_city|get_central_city }} 
                                        {% if hot_vacancy.location %} (             
                                        {{ hot_vacancy.location|get_location|default_if_none:'' }})
                                        {% endif %}
                                    </span>
                                    <span>
                                        <i class="fa fa-money"></i>
                                        {{ hot_vacancy.salary|get_currency }}
                                    </span>
                                    <p>{{ hot_vacancy.job_description }}</p>
                                    <a href="{% url 'employee:vacancy' pk=hot_vacancy.id %}" class="button">{% trans 'Go to Vacancy' %}</a>
                                </div>
                            </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>


{%  endblock %}

{%  block custom_js %}
    <script>
        jQuery("#find-job-link > a").attr('id', 'current');
    </script>
{%  endblock %}