{% extends "employee/employee_layout.html" %}
{% load i18n staticfiles %}

{%  block title %} {% trans 'For Candidates' %} {{block.super}} {%  endblock %}


{%  block banner %}
<div class="fullwidthbanner-container">
    <div class="fullwidthbanner">
        <ul>

            <!-- Slide 1 -->
            <li data-fstransition="fade" data-transition="fade" data-slotamount="10" data-masterspeed="300">

                <img src="{% static 'images/job_interview-03.jpg' %}" alt="" >

                <div class="caption title sfb" data-x="0" data-y="95" data-speed="400" data-start="800"  data-easing="easeOutExpo">
                    <h2>{% trans 'How often do you ask yourself' %}:</h2>
                </div>

                <div class="caption text sfb" data-x="0" data-y="170" data-speed="400" data-start="1200" data-easing="easeOutExpo">
                    <p>"{% trans 'Am I working on the right things?' %}"</p>
                </div>

                <div class="caption text sfb" data-x="0" data-y="270" data-speed="400" data-start="1400" data-easing="easeOutExpo">
                    <p>{% trans 'Maybe you are interested in working abroad?' %}</p>
                </div>

                <div class="caption text sfb" data-x="0" data-y="330" data-speed="400" data-start="1600" data-easing="easeOutExpo">
                    <p>{% trans 'Would you like to try your hand at another country?' %}</p>
                </div>

                <div class="caption text sfb" data-x="0" data-y="390" data-speed="400" data-start="1800" data-easing="easeOutExpo">
                    <p>{% trans 'Is that possible to find a reliable intermediary?' %}</p>
                </div>

            </li>

            <!-- Slide 2 -->
            <li data-transition="slideup" data-slotamount="10" data-masterspeed="800">
                <img src="{% static 'images/job_interview-05.jpg' %}" alt="">

                <div class="caption title sfb" data-x="center" data-y="195" data-speed="400" data-start="800"  data-easing="easeOutExpo">
                    <h2>{% trans 'Find vacancies in Europe and get hired!' %}</h2>
                </div>

                <div class="caption text align-center sfb" data-x="center" data-y="270" data-speed="400" data-start="1200" data-easing="easeOutExpo">
                    <p>{% trans 'Connect directly with the employers who want <br> to hire you.' %}</p>
                </div>

                <div class="caption sfb" data-x="center" data-y="400" data-speed="400" data-start="1600" data-easing="easeOutExpo">
                    <a href="{% url 'employee:find_job' %}" class="slider-button">{% trans 'Find Job' %}</a>
                    <a href="{% url 'employee:add_resume' %}" class="slider-button">{% trans 'Add Resume' %}</a>
                </div>
            </li>

        </ul>
    </div>
</div>

{%  endblock %}


{%  block content %}

<div class="container">
    
    <!-- Submit Page -->
    <div class="sixteen columns">
        <div class="submit-page">


            <div class="margin-top-40 margin-bottom-20">
                <h3>{% trans 'How Justjob works?' %}</h3>
            </div>

            <p>
            {% trans 'Justjob is designed specifically for professionals from Ukraine looking for a  work abroad.' %}
            </p><p>{% blocktrans %}
            Our goal is to establish a direct connection between the Ukrainian specialist and a Hungarian employer, without any intermediaries.{% endblocktrans %}
            </p><p>{% blocktrans %}
            Are you interested in current job openings in Hungary? Here you will find various  job offers in both Ukrainian and Russian. You don`t have to know Hungarian language to browse jobs — we have already done the translation part for you!{% endblocktrans %}
            </p><p>{% blocktrans %}
            If there is no job offer that matches your qualification - upload your resume in native Ukrainian or Russian, and we will translate it into Hungarian. Thus, you get a great opportunity to find more vacancies from Hungarian employers, and choose the best offer for you.{% endblocktrans %}
            </p><p>{% blocktrans %}
            If you are interested in the employment and relocation to Europe —  do not hesitate to contact us. The Justjob team is always here to help you!{% endblocktrans %}
            </p>
        </div>
    </div>

</div>

<div class="clearfix margin-top-40"></div>

<!-- Infobox -->
<div class="infobox">
    <div class="container ">
        <div class="sixteen columns">{% trans 'Start Building Your Career in Europe Right Now' %}   <a href="{% url 'main:login' %}">{% trans 'Get Started' %}</a></div>
    </div>
</div>
<!-- /Infobox -->

{%  endblock %}

{%  block custom_js %}
    <script>
        jQuery("#home-link > a").attr('id', 'current');
        jQuery(".infobox").css("marginBottom", "-40px");
    </script>
{%  endblock %}