{% extends "employee/employee_layout.html" %}
{% load i18n staticfiles form_tags %}

<title>{%  block title %} {{vacancy.title}} {{block.super}} {%  endblock %}</title>

{%  block banner %}

<div id="titlebar" class="photo-bg" style="background: url({% static 'images/job-page-photo.jpg' %})">
    <div class="container">
        <div class="ten columns">
            <span><a href="#">{{vacancy.category}}</a></span>
           <h2>{{ vacancy.title }}
                {% if vacancy.job_type == 'ft' %} 
                    <span class="full-time">{% trans 'Full-Time' %}</span>
                {% else %}
                    <span class="part-time">{% trans 'Part-Time' %}</span>
                {% endif %}
            </h2>
        </div>
        
        {% if user.is_authenticated and user.profile.user_role == 'employee' %}
        <div class="six columns">
            {% if is_bookmarked %}
                <a href="{% url 'employee:bookmark' action='del' vac_id=vacancy.pk %}" class="button white"><i class="fa fa-star-half-o"></i>{% trans 'Delete Bookmark' %} </a>
            {% else %}
                <a href="{% url 'employee:bookmark' action='add' vac_id=vacancy.pk %}" class="button white"><i class="fa fa-star"></i> {% trans 'Bookmark This Job' %}</a>
            {% endif %}
        </div>
        {% endif %}

    </div>
</div>

{%  endblock %}


{%  block content %}

<div class="container">
    
        <!-- Job -->
    <div class="eleven columns">
        <div class="padding-right">
            
            <!-- Company Info -->
            <div class="company-info">
                {% if  vacancy.image %}
                    <img src="{{ vacancy.image.url }}">
                {% else %}
                    <img src="{% static 'images/company.png' %}" alt="{{ vacancy.title }}">
                {% endif %}
                <div class="content">
                    <span>{% trans 'Vacancy' %}:</span>
                    <h4>{{ vacancy.title }}</h4>
                    <span>{{ vacancy.phone_for_vac|default_if_none:"" }}</span>
                    <span>{{ vacancy.email_for_vac|default_if_none:"" }}</span>
                </div>
                <div class="clearfix"></div>
            </div>

                        {% if vacancy.job_duties %}
                <div class="content">
                    <h4>{% trans 'Job Duties' %}:</h4>
                    <p>
                        {{ vacancy.job_duties|linebreaks }}
                    </p>
                </div>
                <br>
            {% endif %}
            
            {% if vacancy.job_demands %}
                <div class="content">
                    <h4>{% trans 'Job demands' %}:</h4>
                    <p>
                        {{ vacancy.job_demands|linebreaks }}
                    </p>
                </div>
                <br>
            {% endif %}
            
            {% if vacancy.job_conditions %}
                <div class="content">
                    <h4>{% trans 'Job conditions' %}:</h4>
                    <p>
                        {{ vacancy.job_conditions|linebreaks|safe }}
                    </p>
                </div>
            <br>
            {% endif %}
            {% if vacancy.job_description %}
                <div class="content">
                    <h4>{% trans 'Job description' %}:</h4>
                    <p>
                        {{ vacancy.job_description|linebreaks }}
                    </p>
                </div>
            {% endif %}

        </div>
    </div>

    <!-- Widgets -->
    <div class="five columns">

        <!-- Sort by -->
        <div class="widget">
            <h4>{% trans 'Overview' %}</h4>

            <div class="job-overview">
                
                 <ul>
                    <li>
                        <i class="fa fa-user"></i>
                        <div>
                            <strong>{% trans 'Employer' %}:</strong>
                            <span>
                                <a href="{% url 'employee:employer' pk=vacancy.company.id %}">
                                   {{vacancy.company.short_title|title}}
                                </a>
                            </span>
                        </div>
                    </li>
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <div>
                            <strong>{% trans 'Location' %}:</strong>
                            {% if vacancy.central_city %}
                                <span>
                                    {{ vacancy.central_city|get_central_city }}
                            {% endif %}
                            {% if vacancy.location %}
                                ({{ vacancy.location|get_location|default_if_none:"" }})
                                </span>
                            {% endif %}
                        </div>
                                
                    </li>
                    {% if vacancy.work_hours %}
                    <li>
                        <i class="fa fa-clock-o"></i>
                        <div>
                            <strong>{% trans 'Work hours/week' %}:</strong>
                            <span>{{ vacancy.work_hours }}</span>
                        </div>
                    </li>
                    {% endif %}
                    {% if vacancy.salary %}
                    <li>
                        <i class="fa fa-money"></i>
                        <div>
                            <strong>{% trans 'Rate' %}:</strong>
                            <span>{{ vacancy.salary|get_currency }}</span>
                        </div>
                    </li>
                    {% endif %}
                </ul>

                {% if user.is_authenticated %}
                    {% if is_submitted %}
                        <p>{% trans 'You have already applied on this vacancy.' %}</p>
                    {% else %}
                        <a href="#small-dialog" class="popup-with-zoom-anim button">{% trans 'Apply For This Job' %}</a>
                    {% endif %}
                {% else %}
                    <a href="#small-dialog" class="popup-with-zoom-anim button">{% trans 'Apply For This Job' %}</a>
                {% endif %}
                
                <div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
                    <div class="small-dialog-headline">
                        <h2>{% trans 'Apply For This Job' %}</h2>
                    </div>

                    <div class="small-dialog-content">
                            
                        {% if user.is_authenticated and not user.is_staff %}
                            <form method="post">
                                {% csrf_token %}
                                
                                {{ form2.as_p }}
                                <p>{% trans 'Resume will be attached from' %} <a href="{% url 'employee:profile' %}">{% trans 'Your profile' %}</a> {% trans 'automatically.' %}</p>
                        {% else %}
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_p }}
                        {% endif %}

                            <div class="divider"></div>

                            <button type="submit" class="send">{% trans 'Send Resume' %}</button>
                        </form>
                    </div>
                    
                </div>

            </div>

        </div>

    </div><!-- Widgets / End -->


</div>

{%  endblock %}
