{% extends "employee/employee_layout.html" %}
{% load i18n staticfiles form_tags %}

<title>{%  block title %} {% trans 'Job Search Results' %} {{block.super}} {%  endblock %}</title>

{%  block banner %}
<!-- Banner
================================================== -->
<div id="banner" style="background-image: url({% static 'images/banner-home-0101.jpg' %})" class="parallax background" data-img-width="2000" data-img-height="1330" data-diff="400">
    <div class="container">
        <div class="sixteen columns">
            
            <div class="search-container">
                <!-- Form -->
                <h2>{% trans 'Find Job' %}</h2>
                <form action="#" method="post" class="list-search">
                    {% csrf_token %}
                    <button type="submit"><i class="fa fa-search"></i></button>
                    <input type="text" name="keywords" style="padding: 18px 22px;" placeholder="{% trans 'Enter search keywords or job title' %}" value="{{ keywords|default_if_none:'' }}"/>
                </form>
            </div>

        </div>
    </div>
</div>
{%  endblock %}


{%  block content %}

<div class="container">
    <div class="eleven columns">
    <div class="padding-right">
        <h3 class="margin-bottom-25"> </h3>
        <ul class="job-list full">
        {% if vacancies %}
            {% for vac in vacancies %}
            <li><a href="{% url 'employee:vacancy' pk=vac.id %}">
                {% if vac.image %}
                    <img src="{{ vac.image.url }}" alt="">
                {% else %}
                    <img src="{% static 'images/company.png' %}" alt="">
                {% endif %}
                <div class="job-list-content">
                    <h4>{{ vac.title }}
                        {% if vac.job_type == 'ft' %}
                            <span class="full-time">{% trans 'Full-Time' %}</span>
                        {% else %}
                            <span class="part-time">{% trans 'Part-Time' %}</span>
                        {% endif %}
                    </h4>
                    <div class="job-icons">
                        <span><i class="fa fa-map-marker"></i> {{vac.central_city|get_central_city}} 
                        {% if vac.location %}({{vac.location|get_location|default_if_none:''}} ){% endif %}</span>
                        <span>
                            <i class="fa fa-money"></i>
                            {% if vac.salary %} {{ vac.salary|get_currency }}{% endif %}</span>
                    </div>
                    <p>{{ vac.description }}</p>
                </div>
                </a>
                <div class="clearfix"></div>
            </li>
            {% endfor%}
        {% else %}
            <p>{% trans 'No Vacancies for Your request were found' %}</p>
        {% endif %}

        </ul>
        <div class="clearfix"></div>

        {% comment %}
        <div class="pagination-container">
            <nav class="pagination">
                <ul>
                    <li><a href="#" class="current-page">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li class="blank">...</li>
                    <li><a href="#">22</a></li>
                </ul>
            </nav>

            <nav class="pagination-next-prev">
                <ul>
                    <li><a href="#" class="prev">Previous</a></li>
                    <li><a href="#" class="next">Next</a></li>
                </ul>
            </nav>
        </div>
        {% endcomment %}


    </div>
    </div>


    <!-- Widgets -->
    <div class="five columns">
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="keywords" value="{{ keywords|default_if_none:'' }}">
    
        <!-- Sort by -->
        <div class="widget">
            <h4>{% trans 'Job Category' %}</h4>

            <!-- Select -->
            <select name="category" data-placeholder="Choose Category" class="chosen-select-no-single">
                <option selected="selected" value="all">{% trans 'Choose Category' %}</option>
                {% if categories %}
                    {% for c, i in categories %}
                        <option value="{{c}}">{{i}}</option>
                    {% endfor %}
                {% endif %}
            </select>

        </div>

        <!-- Job Type -->
        <div class="widget">
            <h4>{% trans 'Job Type' %}</h4>

            <ul class="checkboxes">
                <li>
                    <input id="any-type" type="checkbox" name="jobType" value="any-type" {% if 'any-type' in types %} checked {% endif %}>
                    <label for="any-type">{% trans 'Any Type' %}</label>
                </li>
                <li>
                    <input id="ft" type="checkbox" name="jobType" value="ft" {% if 'ft' in types %} checked {% endif %}>
                    <label for="ft">{% trans 'Full-Time' %}</label>
                </li>
                <li>
                    <input id="pt" type="checkbox" name="jobType" value="pt" {% if 'pt' in types %} checked {% endif %}>
                    <label for="pt">{% trans 'Part-Time' %}</label>
                </li>
            </ul>

        </div>

        <!-- Rate/Hr -->
        <div class="widget">
            <h4>{% trans 'Rate / Hr' %}</h4>

            <ul class="checkboxes">
                <li>
                    <input id="any-rate" type="checkbox" name="rate" value="any-rate" {% if 'any-rate' in rates %} checked {% endif %}>
                    <label for="any-rate">{% trans 'Any Rate' %}</label>
                </li>
                <li>
                    <input id="check-1" type="checkbox" name="rate" value="1" {% if '1' in rates %} checked {% endif %}>
                    <label for="check-1">0 - 10€ </label>
                </li>
                <li>
                    <input id="check-2" type="checkbox" name="rate" value="2" {% if '2' in rates %} checked {% endif %}>
                    <label for="check-2">10 - 25€ </label>
                </li>
                <li>
                    <input id="check-3" type="checkbox" name="rate" value="3" {% if '3' in rates %} checked {% endif %}>
                    <label for="check-3">25€+ </label>
                </li>
                
            </ul>

        </div>
        <button type="submit" class="button">{% trans 'Filter' %}</button>

        </form>
    </div>
</div>

{%  endblock %}

{%  block custom_js %}
    <script>
        jQuery("#find-job-link > a").attr('id', 'current');
    </script>
{%  endblock %}