{% load i18n staticfiles %}

<form method="post" name="billingForm" id="billingForm">
    {% csrf_token %}
    <p>{{ form3.non_field_errors }}</p>
    <fieldset>
        <div class="eight columns">
            <div class="padding-right">
                <div>
                    {% for error in form3.full_title.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    <label>{% trans 'Company full name' %}:</label>
                    <input name="full_title" type="text" id="full_title" value="{{ form3.full_title.value|default_if_none:'' }}"/>
                </div>

                <div>
                    {% for error in form3.billing_address.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    <label>{% trans 'Billing address' %}:</label>
                    <input name="billing_address" type="text" id="billing_address" value="{{ form3.billing_address.value|default_if_none:'' }}"/>
                </div>

                <div>
                    {% for error in form3.invoice_email.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    <label >{% trans 'Invoicing e-mail address' %}:</label>
                    <input name="invoice_email" type="text" id="invoice_email" value="{{ form3.invoice_email.value|default_if_none:'' }}"/>
                </div>
                <div>
                    {% for error in form3.bank_card.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    <label>{% trans 'Credit card/Debit card' %}:</label>
                    <input name="bank_card" type="text" id="bank_card" value="{{ form3.bank_card.value|default_if_none:'' }}"/>
                </div>
            </div>
        </div>
        <div class="seven columns">
            <div class="padding-right">
                <div>
                    {% for error in form3.iban.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    <label>{% trans 'Company IBAN Bank account' %}:</label>
                    <input name="iban" type="text" id="iban" value="{{ form3.iban.value|default_if_none:'' }}"/>
                </div>

                <div>
                    {% for error in form3.vat_id.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    <label>{% trans 'VAT ID' %}:</label>
                    <input name="vat_id" type="text" id="vat_id" value="{{ form3.vat_id.value|default_if_none:'' }}"/>
                </div>

                <div>
                    {% for error in form3.eu_vat_id.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    <label>{% trans 'EU VAT ID' %}:</label>
                    <input name="eu_vat_id" type="text" id="eu_vat_id" value="{{ form3.eu_vat_id.value|default_if_none:'' }}"/>
                </div>
                <div>
                    {% for error in form3.swift.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    <label>{% trans 'SWIFT' %}:</label>
                    <input name="swift" type="text" id="swift" value="{{ form3.swift.value|default_if_none:'' }}"/>
                </div>
            </div>
        </div>
        <input type="hidden" name="form_name" value="billing" id="id_form_name" />
    </fieldset>
    <div class="sixteen">
        <div class="margin-bottom-20"></div>
        <input type="submit" class="submit" id="submit" value="{% trans 'Save' %}" />
        <div class="clearfix"></div>
        <div class="margin-bottom-40"></div>
        
    </div>
</form>