{% load i18n staticfiles %}

<form method="post" name="companyInfoForm" id="companyInfoForm" enctype="multipart/form-data" >
    {% csrf_token %}
    <p>{{ form.non_field_errors }}</p>
    <fieldset>
        <div class="eight columns">
            <div class="padding-right">
                <div>
                    {% for error in form.short_title.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    <label>{% trans 'Company Title' %}:</label>
                    <input name="short_title" type="text" id="short_title" value="{{ form.short_title.value|default_if_none:'' }}"/>
                </div>

                <div>
                    {% for error in form.company_phones.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    <label>{% trans 'Company Phone' %}:</label>
                    <input name="company_phones" type="text" id="company_phones" value="{{ form.company_phones.value|default_if_none:'' }}"/>
                </div>
                <div>
                    {% for error in form.postal_address.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    <label>{% trans 'Postal Address' %}:</label>
                    <input name="postal_address" type="text" id="postal_address" value="{{ form.postal_address.value|default_if_none:'' }}"/>
                </div>
                <div>
                    {% for error in form.about_company.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    <label>{% trans 'About Company' %}: <span>*</span></label>
                    <textarea name="about_company" cols="40" rows="9" id="about_company" spellcheck="true">{{ form.about_company.value|default_if_none:'' }}             </textarea>
                </div>
            </div>
        </div>
        <div class="seven columns">
            <div class="padding-right">
                <div>
                    {% for error in form.website.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    <label>{% trans 'Website' %}:</label>
                    <input name="website" type="text" id="website" value="{{ form.company_email.value|default_if_none:'' }}"/>
                </div>
                <div>
                    {% for error in form.company_email.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    <label>{% trans 'Company Email' %}:</label>
                    <input name="company_email" type="email" id="company_email" pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$" value="{{ form.company_email.value|default_if_none:'' }}" />
                </div>
                <div>
                    {% for error in form.linkedin_url.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    <label>{% trans 'LinkedIn Profile' %}:</label>
                    <input name="linkedin_url" type="text" id="linkedin_url" value="{{ form.linkedin_url.value|default_if_none:'' }}" />
                </div>
                <div>
                    {% for error in form.logo.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    <label>{% trans 'Logo (80x80)' %}:</label>
                    <input name="logo" type="file" id="logo" value="{{ form.company_email.value|default_if_none:'' }} " />
                    {% if logo %}
                        <br>
                        {% trans 'Existing logo' %}: <a href="{{logo.url}}">{{logo|cut:"logo/"}}</a>
                    {% endif %}
                </div>
                    {% for hf in form.hidden_fields %}
                        {{ hf }}
                    {% endfor %}
            </div>
        </div>
    </fieldset>
    <div class="sixteen">
        <div id="result"></div>
        <div class="margin-bottom-20"></div>
        <input type="submit" class="submit" id="companyInfoFormSubmit" value="{% trans 'Save' %}" />
        <div class="clearfix"></div>
        <div class="margin-bottom-40"></div>
        
    </div>
</form>