{% load i18n staticfiles %}


<form method="post" name="contactPersonForm" id="contactPersonForm">
    {% csrf_token %}
    <p>{{ form2.non_field_errors }}</p>
    <fieldset>
        <div class="eight columns">
            <div class="padding-right">
                <div>
                    {% for error in form2.person_fullname.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    <label>{% trans 'Full Name' %}:</label>
                    <input name="person_fullname" type="text" id="person_fullname" value="{{ form2.person_fullname.value|default_if_none:'' }}"/>
                </div>
                
                 <div>
                    {% for error in form2.person_position.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    <label>{% trans 'Job Position' %}:</label>
                    <input name="person_position" type="text" id="person_position" value="{{ form2.person_position.value|default_if_none:'' }}"/>
                </div>
                
            </div>
        </div>
        <div class="seven columns">
            <div class="padding-right">
                <div>
                    {% for error in form2.person_phone.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    <label>{% trans 'Phone' %}:</label>
                    <input name="person_phone" type="text" id="person_phone" value="{{ form2.person_phone.value|default_if_none:'' }}"/>
                </div>

                <div>
                    {% for error in form2.person_email.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    <label >{% trans 'Email' %}:</label>
                    <input name="person_email" type="email" id="person_email" pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$" value="{{ form2.person_email.value|default_if_none:'' }}"/>
                </div>
            </div>
        </div>
        <input type="hidden" name="form_name" value="person" id="id_form_name" />
    </fieldset>
    <div class="sixteen">
        <div class="margin-bottom-20"></div>
        <input type="submit" class="submit" id="contactPersonSubmit" value="{% trans 'Save' %}" />
        <div class="clearfix"></div>
        <div class="margin-bottom-40"></div>
        
    </div>
</form>