{% load i18n staticfiles %}


<table class="manage-table resumes responsive-table">
    <tr>
        <th><i class="fa fa-file-text"></i> {% trans 'Invoice #' %}</th>
        <th><i class="fa fa-calendar"></i> {% trans 'Invoice Date' %}</th>
        <th><i class="fa fa-calendar"></i> {% trans 'Due Date' %}</th>
        <th><i class="fa fa-credit-card"></i> {% trans 'Total' %} </th>
        <th> {% trans 'Status' %}</th>
        <th></th>
    </tr>
    <!-- Item #1 -->
    {% if invoices %}
        {% for invoice in invoices %}
            <tr>
                <td>{{invoice.id}}</td>
                <td>{{invoice.pay_date}}</td>
                <td>{{invoice.due_date}}</td>
                <td>{{invoice.amount}}</td>
                <td>
                    <center>
                    {% if invoice.status == 'paid' %}
                        <i class="fa fa-check"></i> {% trans 'Paid' %}
                    {% else %}
                        {{invoice.status}}
                    {% endif %}
                    </center>
                </td>
                <td class="action">
                    <a href="{% url 'employer:invoice' num=invoice.id %}"><i class="fa fa-eye"></i> {% trans 'View' %}</a>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <p>{% trans 'Not found.' %}</p>
    {% endif %}

    
</table> 
