{% extends "employer/employer_layout.html" %}
{% load i18n staticfiles form_tags humanize %}

{%  block title %} {% trans 'Post Job' %} {{block.super}} {%  endblock %}


{%  block banner %}
<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo.jpg' %});">
    <div class="container">

        <div class="ten columns">
            <h2>{% trans 'Post a Job' %}</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>{% trans 'You are here' %}:</li>
                    <li><a href="{% url 'employer:home' %}">{% trans 'For Employers' %}</a></li>
                    <li>{% trans 'Post Job' %}</li>
                </ul>
            </nav>
        </div>

        <div class="six columns">
            <a href="{% url 'main:login' %}" class="button">{% trans 'Post a Job' %}</a>
        </div>

    </div>
</div>

{%  endblock %}


{%  block content %}

<div class="container">
    
    <!-- Submit Page -->
    <div class="sixteen columns">
        <div class="submit-page">
            <p>{% blocktrans %}Please select the most suitable Post Job package to post your vacancy on the site. You can create, edit and monitor the status of your job offers in "My vacancies" section of the employer`s personal cabinet.{% endblocktrans %}
            </p>
        </div>
    </div>

    <div class="margin-bottom-40"></div>

        
    <!-- Container / Start -->
    <div class="container">

        <div class="sixteen columns">
            <h3 class="margin-top-40 margin-bottom-20">{% trans 'Choose the plan that works best for you:' %}</h3>
        </div>
        {% if items %}
            {% for item in items %}
                {% include 'employer/partials/job_add_price_item.html' %}
            {% endfor %}
        {% else %}
            <p>{% trans 'Sorry, plan items were not found.' %}</p>
        {% endif %}
        
    </div><!-- Container / End -->


    <div class="sixteen columns">
        <div class="margin-top-40 margin-bottom-20 submit-page">
            <p>{% blocktrans %}After registering and selecting a package of services, you will be able to fill out information about your company in the employer's profile and edit your publications. You can pay for the package of services that you have chosen with a bank transfer. After the payment is received, we will send the invoice to the email address specified in your profile. Your  job offer will be translated into Russian and Ukrainian languages and then placed in the "Find Job" section after the payment confirmation.{% endblocktrans %}
            </p>
            <p>{% blocktrans %}All your job posts will be stored in your personal cabinet. Candidates will apply to your vacancy on our website or contact you directly  through the contact information in the job details.{% endblocktrans %}
            </p>
        </div>
    </div>
</div>
            
            
        

{%  endblock %}



{%  block custom_js %}
    <script>
        jQuery("#addj-link > a").attr('id', 'current');
    </script>
{%  endblock %}