{% extends "employer/employer_layout.html" %}
{% load i18n staticfiles form_tags humanize %}

{%  block banner %}
<!-- Banner
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo.jpg' %});">
    <div class="container">

        <div class="ten columns">
            <h2>{% trans 'Find Resume' %}</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>{% trans 'You are here' %}:</li>
                    <li><a href="{% url 'employer:home' %}">{% trans 'For Employers' %}</a></li>
                    <li>{% trans 'Find Resume' %}</li>
                </ul>
            </nav>
        </div>

        <div class="six columns">
            <a href="{% url 'employer:cv_search' %}" class="button">{% trans 'Find Resume' %}</a>
        </div>

    </div>
</div>
{%  endblock %}


{%  block content %}

<div class="container">
    
    <!-- Submit Page -->
    <div class="sixteen columns">
        <div class="submit-page">
            <p>{% trans 'Please choose one of our packages for more detailed resume search.' %} <br>
                {% trans 'After the registration, you can have the benefit of an advanced CV search.' %}
            </p>
        </div>
    </div>

    <div class="margin-bottom-40"></div>

    <!-- Container / Start -->
    <div class="container">

        <div class="sixteen columns">
            <h3 class="margin-top-40 margin-bottom-20">{% trans 'Choose the plan that works best for you:' %}</h3>
        </div>
        {% if items %}
            {% for item in items %}
                {% include 'employer/partials/cv_search_price_item.html' %}
            {% endfor %}
        {% else %}
            <p>{% trans 'Sorry, plan items were not found.' %}</p>
        {% endif %}
        
    </div><!-- Container / End -->


    <div class="sixteen columns">
        <div class="margin-top-40 margin-bottom-20 submit-page">
            <p>{% blocktrans %}After registration, you will be able to fill out information about your company in the employer's profile. You can pay for the package of services that you have chosen with a bank transfer. After the payment is received, we will send the invoice to the email address specified in your profile. The access to CV database will be activated after payment confirmation.  Depending on the package you choose, you can set various criteria for the candidate search, save CVs in your personal cabinet or upload it to your computer.{% endblocktrans %}</p>
            <p>{% blocktrans %}You can contact the applicants using the contact details specified in their profile, as well as using the option "Send a message".{% endblocktrans %}</p>
        </div>
    </div>
</div>
            
            
        

{%  endblock %}



{%  block custom_js %}
    <script>
        jQuery("#search-cv-link > a").attr('id', 'current');
    </script>
{%  endblock %}