{% load i18n staticfiles %}

<!-- Header
================================================== -->
<header class="sticky-header">
<div class="container">
    <div class="sixteen columns">
    
        <!-- Logo -->
        <div id="logo">
            <h1><a href="{% url 'main:home' %}"><img src="{% static 'images/logo.png' %}" alt="Just Job" /></a></h1>
        </div>

        <!-- Menu -->
        <nav id="navigation" class="menu">
            {% if user.is_authenticated and user.profile.user_role == 'employee' %}
            
            <ul id="responsive">
                
                <li id="find-job-link">
                    <a href="{% url 'employee:vacancies' %}">{% trans "Vacancies" %}</a>
                </li>

                <li id="employers-link">
                    <a href="{% url 'employee:employers' %}">{% trans "Employers" %}</a>
                </li>

                <li id="props-link">
                    <a href="{% url 'employee:proposals' %}">{% trans "Proposals" %}</a>
                </li>

            </ul>

            {% else %}

            <ul id="responsive">
                <li id="home-link">
                    <a href="{% url 'employee:home' %}">{% trans "For Candidates" %}</a>
                </li>
                
                <li id="find-job-link">
                    <a href="{% url 'employee:find_job' %}">{% trans "Find Job" %}</a>
                </li>

                <li id="add-resume-link">
                    <a href="{% url 'employee:add_resume' %}">{% trans "Add Resume" %}</a>
                </li>

            </ul>
            {% endif %}

            
            <ul class="float-right">

                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                    <li>
                        <a href="{% url 'backoffice24:home' %}">
                            <i class="fa fa-user"></i> {% trans "Backoffice" %}
                        </a>
                    </li>
                    {% elif user.profile.user_role == 'employee' %}
                    <li>
                        <a href="{% url 'employee:profile' %}">
                            <i class="fa fa-user"></i> {% trans "My Profile" %} 
                        </a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'employer:profile' %}">
                            <i class="fa fa-user"></i> {% trans "My Profile" %} 
                        </a>
                    </li>
                    {% endif %}
                {% endif %}
                
                {% include "partials/login_buttons.html" %}
            </ul>


        </nav>

        <!-- Navigation -->
        <div id="mobile-navigation">
            <a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> {% trans "Menu" %}</a>
        </div>

    </div>
</div>
</header>
<div class="clearfix"></div>
