{% extends "base_layout.html" %}
{% load staticfiles %}

{%  block title %}Политика в отношении файлов "COOKIE"  - {%  endblock %}

{%  block titlebar %}
<!-- Titlebar
================================================== -->

<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo-02.jpg' %});">
    <div class="container">

        <div class="sixteen columns">
            <h2>Политика в отношении файлов "COOKIE" </h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>Текущая страница:</li>
                    <li><a href="{% url 'main:home' %}">Главная</a></li>
                    <li>Политика в отношении файлов "COOKIE"</li>
                </ul>
            </nav>
        </div>

    </div>
</div>

{%  endblock %}


{%  block content %}

<!-- Content
================================================== -->
<div class="container">
    
    <!-- Submit Page -->
    <div class="sixteen columns">
        <div class="submit-page">

            <h1 class="margin-bottom-20">Политика в отношении файлов "COOKIE"</h1>

            <!-- Notice -->
            <div class="notification notice closeable margin-bottom-40">
                <p>Пользуясь материалами этого сайта, Вы соглашаетесь с тем, что сайт использует файлы "cookie". Вы можете отказаться от этого, изменив настройки браузера.</p>
            </div>

            <p>
                Как и на многих других сайтах, мы  используем файлы "cookie" для сбора информации. "Сookie" это небольшой файл с данными, который мы передаем на жесткий диск Вашего компьютера с целью ведения записей. Мы используем как постоянные файлы "cookie", которые сохраняются на Вашем компьютере или подобном устройстве (например те, в которых хранятся Ваши регистрационные данные, логин и пароль для последующего доступа к Сервису, или те, которые отслеживают Ваше согласие на условия предоставления услуг JustJob), так и сеансовые файлы "cookie", которые удаляются по окончании сессии браузера (например те, которые активируют некоторые возможности Сервиса для лучшего понимания того, как пользователи взаимодействуют с Сервисом и следят за общим количеством пользователей JustJob, а также те, которые управляют интернет-траффиком Сервиса). В настройках браузера Вы можете запретить загрузку файлов "cookie" или выдавать запрос перед их загрузкой с сайтов, которые Вы посещаете. Однако, если отказаться от использования файлов "cookie", Вы не сможете пользоваться всеми возможностями Сайта.

            </p>


        </div>
    </div>

</div>
{%  endblock %}