{% extends "base_layout.html" %}
{% load staticfiles %}

{%  block title %}Политика Конфиденциальности - {%  endblock %}

{%  block titlebar %}
<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo-02.jpg' %});">
    <div class="container">

        <div class="sixteen columns">
            <h2>Политика Конфиденциальности</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>Текущая страница:</li>
                    <li><a href="{% url 'main:home' %}">Главная</a></li>
                    <li>Политика Конфиденциальности</li>
                </ul>
            </nav>
        </div>

    </div>
</div>

{%  endblock %}


{%  block content %}

<!-- Content
================================================== -->
<div class="container">
    
    <!-- Submit Page -->
    <div class="sixteen columns">
        <div class="submit-page">
            
            <h1 class="margin-bottom-20">Политика Конфиденциальности</h1>

            <!-- Notice -->
            <div class="notification notice closeable margin-bottom-40">
                <p>
                   Использование данного Сайта подразумевает полное и безусловное согласие Пользователя с политикой конфиденциальности и условиями обработки размещенных на нем персональных данных Пользователя.
                </p>
            </div>
            
            <p>
                1.1. Размещая резюме и/или иную информацию на данном Сайте Пользователь добровольно предоставляет свое безоговорочное согласие на обработку персональных данных (содержащихся в его отчетах, сообщениях и/или прочей информации, размещенной на Сайте или отправленной другим Пользователям Сайта).

            </p>
            <p>
                1.2. Под обработкой персональных данных подразумевается любое действие или ряд действий, относящихся к сбору, регистрации, накоплению, хранению, адаптированию, изменению, обновлению, использованию, распространению и удалению персональных данных Пользователя, необходимых для обеспечения выполнения услуг данного Сайта.

        </p>
            <p>
            1.3. Принимая эти условия, Пользователь подтверждает то, что он понимает свои права, а также цель, с которой производится сбор, хранение и обработка персональных данных. Пользователь также дает свое согласие на то, что обработка его персональных данных не имеет определенных ограничений.
        </p>
            <p>
           1.4. Пользователь в любое время может обновлять или редактировать свои персональные данные и настройки конфиденциальности, используя функцию редактирования и открывая доступ к личной информации, равно как и запросить у Компании полное удаление его учетной записи из базы данных Сайта.
        </p>
            <p>
            1.5. Целью сбора, хранения и обработки персональных данных является предоставление индивидуально подобранных услуг Сайта Пользователю, включая: доступ к персональному разделу, данные авторизации, напоминание пароля, публикацию резюме и/или вакансий, общение с Пользователем, включая отправку уведомлений, запросы и информацию, относящуюся к использованию Сайта, обработку запросов Пользователя, а также прочие возможности Сайта.
        </p>

            <h3>2. ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ</h3>
            <p>
            Компания НЕ несет ответственность за:
            </p><p>
            2.1. Содержимое материалов, публикуемых Пользователями.
            </p><p>
            2.2. Причинение вреда или дамнификацию, которые могут возникнуть при использовании Сайта.
            </p>

            <h3>3. ПРАВА КОМПАНИИ</h3>
            <p>
            Компания оставляет за собой право:
            </p>
            3.1. Видоизменять Сайт по собственному усмотрению.
            </p><p>
            3.2. Изменять стоимость и типы услуг, а также условия их предоставления.
            </p><p>
            3.3. Редактировать или удалять опубликованные Пользователем на Сайте материалы, если они не удовлетворяют условиям данного Соглашения, оказывают негативное влияние на Компанию или на третью сторону, а также по собственному усмотрению без объяснения причин.
            </p><p>
            3.4. Использовать материалы, опубликованные Пользователем на Сайте в личных целях Компании.
            </p><p>
            3.5. Вносить поправки в данное Соглашение в одностороннем порядке. Пользователь считается проинформированным об изменении условий Соглашения с момента публикации отредактированной версии данного Соглашения на Сайте.
            </p>
        </div>
    </div>

</div>
{%  endblock %}