{% extends "base_layout.html" %}
{% load staticfiles %}

{%  block title %}Условия Пользования - {%  endblock %}

{%  block titlebar %}
<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo-02.jpg' %});">
    <div class="container">

        <div class="sixteen columns">
            <h2>Условия Пользования</h2>
            <nav id="breadcrumbs">
               <ul>
                    <li>Текущая страница:</li>
                    <li><a href="{% url 'main:home' %}">Главная</a></li>
                    <li>Условия Пользования</li>
                </ul>
            </nav>
        </div>

    </div>
</div>

{%  endblock %}


{%  block content %}

<!-- Content
================================================== -->
<div class="container">
    
    <!-- Submit Page -->
    <div class="sixteen columns">
        <div class="submit-page margin-buttom-40">

            <h1 class="margin-bottom-20">Условия Пользования</h1>

            <!-- Notice -->
            <div class="notification notice closeable margin-bottom-40">
                <p>
                    Для того, чтобы ресурс justjob.eu (в дальнейшем, "Сайт") был безопасной и достойной доверия платформой, и во избежание использования Сайта в неправомерных или нежелательных целях, мы просим Вас и других пользователей Сайта (в дальнейшем, "Пользователь") согласиться и выполнять данные Условия пользования (в дальнейшем, "Условия"). В этих Условиях изложены разрешенные и запрещенные способы использования Сайта, а также прочие условия пользования сервисом. Заходя на Сайт или используя любые услуги, предоставляемые Сайтом, Вы соглашаетесь с данными Условиями. Вы также лично несете ответственность за соблюдение всех законов, применимых к пользованию Сайтом или его услугами в независимости от того, указано это в Условиях или нет.
                </p>
            </div>
            <h3>1. Запрещенные способы использования Сайта</h3>
            <p>
                
                Описанные ниже способы использования запрещены, независимо от того в каком разделе Сайта они происходят. Например, такие действия запрещены в объявлениях с предложениями о работе, резюме, сообщениях в адрес Сайта, при общении со службой поддержки или в дискуссиях, а также в замечаниях и предложениях Пользователя.
            </p>

<h3>1.1 Незаконные, мошеннические, оскорбительные или оказывающие негативное влияние способы использования Сайта</h3>

<p>Запрещается: использовать либо поощрять, содействовать, способствовать или побуждать других к использованию Сайта либо его услуги для любых целей, которые нарушают какой-либо закон, устав, распоряжение или норму; в любых других незаконных, мошеннических оскорбительных или оказывающих негативное влияние целях; передавать, сохранять, воспроизводить, разглашать или иным способом распространять незаконное, оскорбительное или оказывающее негативное влияние содержимое.
    <br>
Ниже приведены примеры запрещенного применения Сайта или его услуг:
</p><p>
Поиск, предложение или поощрение незаконных, непристойных или порнографических услуг, или деятельности, включая услуги, которые нарушают права на интеллектуальную собственность, авторские права физических или юридических лиц; услуг, продуктов, либо веб-сайтов, которые подразумевают создание, просмотр или обработку материалов непристойного содержания;
</p><p>
Размещение информации, которая может расцениваться оскорбительной, дискредитирующей, нецензурной, непристойной, дискриминационной, противозаконной; содержащей угрозы; эротического или порнографического характера;
</p><p>
Поиск, предложение или поощрение любых услуг, которые нарушают Условия пользования Сайтом;
</p><p>
Выражение предпочтений для вакансии или должности, либо другой способ дискриминации на основании расы, вероисповедания, цвета кожи, происхождения, родословной, физических или умственных ограничений, состояния здоровья, материального положения, военного звания или иных признаков, защищаемых действующими законами;
</p><p>
Совершение или требование оплаты без намерения предоставления или получения услуг; 
</p><p>
Массовая рассылка спама другим Пользователям;
</p><p>
Использование роботов, программ-обходчиков, скрейперов или других автоматических средств для доступа к Сайту в любых целях без письменного однозначного разрешения на это с нашей стороны; либо сбор любой информации с Сайта, позволяющей установить личность, включая названия учетных записей;
</p><p>
Совершать любые действия, способные или направленные на причинение вреда Сайту, включая наложение необоснованных или непропорционально больших (исключительно по нашему усмотрению) нагрузок на инфраструктуру Сайта;
</p><p>
Негативно влиять или совершать попытки негативного влияния на нормальную работу Сайта; обходить любые средства, которые мы используем для ограничения доступа к Сайту или его частям, включая средства, предотвращающие или ограничивающие использование или копирование любой информации, либо накладывающие ограничения на использование содержимого Сайта;</p>
<p>
Попытки вмешательства или нарушения целостности системы или её безопасности, либо дешифрование любых передач с/на сервера, на которых размещается Сайт.
</p>


<h3>1.2 Использование Сайта не по предназначению</h3>
    <p>
        Платформа JustJob предоставляет Сайт и услуги как наемным работникам, так и работодателям, чтобы они нашли друг друга и вошли в трудовые отношения. Ожидается, что пользователи будут использовать Сайт и его услуги по целевому предназначению и им запрещено использовать Сайт и его услуги в противоречии с их целевым предназначением. Ниже приведены примеры запрещенного применения Сайта:
    </p>

    <li>
        Использование возможности обратной связи Сайта не по предназначению, например для выражения мнений, не относящихся к работе, таких как комментарии касательно политики, религии или социального характера;    
    </li>
    <li>
        Дублирование учетных записей или использование одной записи несколькими Пользователями;    
    </li>
    <li>
        Продажа или передача личной учетной записи третьим лицам без согласия представителей JustJob;
    </li>
    <li>
        Размещение рекламы на Сайте JustJob для поиска работников для другого агентства, веб-сайта или компании.
    </li>
    
<br>
<h3>1.3 Использование Сайта для размещения ложной информации или дезинформации</h3>
<p>
Все профили, вакансии, предложения и иной материал, размещаемый на Сайте должен быть правдивым и не вводить в заблуждение. Ниже приведены примеры запрещенного применения Сайта:

<p>
    <li>
        Искажение информации об опыте и умениях работника или иной информации;
    </li>
    <li>
        Неправдивое представление себя как лица, связанного с иным физическим или юридическим лицом, включая, помимо прочих, представителей компании JustJob, представителей кадровых агенств или представителей компаний-работодателей.
    </li>
    <li>
        Сдавание в пользование своей учетной записи третьим лицам, что может быть воспринято другими Пользователями как обман;
    </li>
    <li>
        Неправдивое заявление или подразумевание отношения к JustJob или другой компании, к которой у Вас нет действительного отношения;
    </li>
</p>

</p>

<h3>2. Контроль за соблюдением Условий пользования</h3>
<p>
Мы оставляем за собой право, но не подразумеваем обязательство, изучать каждый конкретный случай нарушения данных Условий. Мы можем изучать и имеем право удалять, ограничивать доступ или редактировать любую информацию, которая нарушает данные Условия.</p><p>
Мы можем направлять заявления в соответствующие правоохранительные органы, ведомства или иным третьим лицам, если какое-нибудь действие со стороны Пользователя покажется нам противозаконным. В такое заявление может быть включена некоторая информация о Пользователе. Также, для проведения расследований и привлечения к ответственности лиц, совершающих незаконные действия, мы можем сотрудничать с правоохранительными органами, ведомствами или иными третьими лицами, предоставляя последним сетевую и системную информацию, относящуюся к нарушениям данных Условий.
</p>

<h3>3. Сообщения о нарушениях и их исправление</h3>
<p>
Если Вы заметили случаи нарушения данных Условий, незамедлительно сообщите об этом в службу поддержки клиентов. Принимая Условия пользования ресурсом justjob.eu, Вы соглашаетесь оказывать нам помощь при изучении и исправлении нарушений данных Условий.
            </p>


        </div>
    </div>

</div>
{%  endblock %}