{% extends "base_layout.html" %}
{% load staticfiles %}

{%  block title %}Пользовательское Соглашение - {%  endblock %}

{%  block titlebar %}
<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo-02.jpg' %});">
    <div class="container">

        <div class="sixteen columns">
            <h2>Пользовательское Соглашение</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>Текущая страница:</li>
                    <li><a href="{% url 'main:home' %}">Главная</a></li>
                    <li>Пользовательское Соглашение</li>
                </ul>
            </nav>
        </div>

    </div>
</div>
{%  endblock %}


{%  block content %}

<!-- Content
================================================== -->
<div class="container">
    
    <!-- Submit Page -->
    <div class="sixteen columns">
        <div class="submit-page margin-bottom-40">
            
            <h1 class="margin-bottom-20">Пользовательское Соглашение</h1>

            <!-- Notice -->
            <div class="notification notice closeable margin-bottom-40">
                
                <p>
                    Данное пользовательское соглашение (в дальнейшем: "Соглашение") является договором c пользователем (в дальнейшем: "Вы" или "Пользователь") на предоставление услуг веб-сайта <a href="http://justjob.eu">justjob.eu</a> (в дальнейшем: "Сайт").
                </p>
            </div>

            <p>
                Вы должны прочесть, согласиться и принять все положения и условия данного Соглашения, а также приложения и дополнения к Соглашению, предоставленные нами или нашими партнерами.
            </p>
            <p> 
                Вы должны понимать, что используя Сайт или услуги Сайта с момента их вступления в силу, Вы соглашаетесь с условиями данного Соглашения. ЕСЛИ Вы не принимаете условия пользовательского Соглашения в полной мере, Вы не должны заходить на Сайт и пользоваться его услугами. ЕСЛИ Вы принимаете условия Соглашения от имени юридического лица, или агентства, Вы представляете его полномочия и гарантируете соблюдение этим юридическим лицом/агентством условий пользовательского Соглашения. В таком случае, слова "Вы", "Ваш" и т.п. будут относиться и применяться к юридическому лицу или агентству.
                <br>
                Принимая условия данного Соглашения, Пользователь дает свое согласие выполнять условия пользовательского Соглашения на протяжении всего периода пользования Сайтом:
            </p>
            <p> 
                1.1. Не вводить в заблуждение других Пользователей или администрацию Сайта.

            </p>
            <p> 
                1.2. Не создавать несколько учетных записей на Сайте, если они принадлежат одному и тому же лицу.
            </p>
            <p> 
                1.3. Не публиковать заведомо неправдивую или ложную информацию.
            </p>
            <p> 
                1.4. Не использовать слова, напечатанные в верхнем регистре, если они не являются сокращениями.
            </p>
            <p> 
                1.5. Не публиковать объявления, которые предлагают работу в таких областях: заработок в Интернете, обработка сообщений электронной почты, массовая рассылка электронных сообщений, сетевой маркетинг, поиск денежных инвестиций, азартные игры, эротические услуги или услуги в сфере оккультизма.
            </p>
            <p> 
                1.6. Не публиковать вакансии с привязкой к городу, в котором соискатель не будет работать в действительности.
            </p>
            <p> 
                1.7. Не размещать пустые публикации только с названием резюме или вакансии, без подробного описания.

            </p>
            <p> 
                1.8. Не повторять одинаковые слова в заголовке резюме и вакансий.
            </p>
            <p> 
1.9. Не публиковать информацию о более чем одной вакансии в заголовке и её описании.            </p>
            <p> 
                1.10. Не использовать Сайт для распространения материалов рекламного характера, включая предложения зарегистрироваться на сайтах третьих лиц, объявления об услугах поиска работы или персонала, взаимодействия или сотрудничества на сайтах третьих лиц.
            </p>
            <p> 
                1.11. Не публиковать оскорбительные материалы или материалы, которые могут причинить вред Компании или третьей стороне.

            </p>
            <p> 
               1.12. Не публиковать на Сайте информацию, которая может относиться к сбору и хранению персональных данных о других Пользователях.
            </p>
            <p> 
               1.13. Пользователь дает согласие нести полную ответственность за размещаемую на Сайте информацию, включая её соответствие к требованиям законов (например об авторских правах, названии компаний, использованию логотипов, торговых марок), а также следить за соблюдением прав третьих лиц, упоминаемых в публикациях на Сайте. В случае получения жалоб от третьих лиц, упоминаемых в публикациях на Сайте Пользователем, последний независимо от Сайта принимает меры для урегулирования конфликта за свой счет.
            </p>
            <p> 
              1.14. Пользователь несет ответственность за использование Сайта в соответствии с условиями данного Соглашения, а также в соответствии с действующим законодательством.
            </p>

        </div>
    </div>

</div>

{%  endblock %}