{% extends "base_layout.html" %}
{% load staticfiles %}


{%  block title %}Subtleties of the Hungarian language - {%  endblock %}

{%  block titlebar %}
<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo.jpg' %});">
    <div class="container">

        <div class="sixteen columns">
            <h2>Subtleties of the Hungarian language</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>You are here:</li>
                    <li><a href="{% url 'blog:home' %}">Blog</a></li>
                    <li>Subtleties of the Hungarian language</li>
                </ul>
            </nav>
        </div>

    </div>
</div>

{%  endblock %}


{%  block content %}
<!-- Content
================================================== -->
<div class="container">

    <!-- Blog Posts -->
    <div class="eleven columns">
        <div class="padding-right">

            <!-- Post -->
            <div class="post-container">
                <div class="post-img"><img src="{% static 'images/about_lang.jpg' %}" alt=""></div>
                <div class="post-content">
                    <h1>Subtleties of the Hungarian language</h1>
                    <div class="meta-tags">
                        <span>January 1, 2018</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="margin-bottom-25"></div>

                    <p>Hungary is a very interesting country with an ancient and rich history. And it is not surprising that its people communicate with an unusually rich language.</p>

                    <div class="post-quote">
                        <span class="icon"></span>
                        <blockquote>
                            Hungarian is taught to be one of the most complex languages, along with Chinese, Arabic and Japanese. Nevertheless, its popularity is only gaining momentum.
                        </blockquote>
                    </div>

                    <p>First of all, knowledge of the Hungarian language gives an advantage in employment in international companies or in relocation to Europe. Nowadays you won't impress an employer with English or German language.</p>
                    <p class="margin-reset">Secondly, let us mention the fact of a rapid development of the tourist direction in Hungary. Many balneo- and thermal resorts, tourist routes, as well as beautiful nature, low prices and delicious cuisine - Hungary offers all the possibilities for a perfect vacation. However, you won't find many English speakers among the hungarians. English is maily used by young people in Hungary, the older generation does not usually speak other languages but Hungarian. Therefore, even the most elementary knowledge of Hungarian will be useful during your visit to this amazing country.
                    </p>
                    <p>
                        And, of course, the studing of such an unusual language captures and carries more and more polyglots, which find a structure and special sound of the Hungarian a kind of challenge. The history of the origin of language, as of the state itself, comes from Asia.
</p>
                    <p>
The Hungarian language completely differs from the dialects spoken by neighboring states which usually speak Indo-European languages. In fact, Hungarian comes from the Uralic region of Asia and belongs to the Finno-Ugric language group, meaning its closest relatives are actually Finnish and Estonian.
</p>
                    <p>
Over the years since its creation as a language, Hungarian has evolved and changed just like any other dialect and was influenced by many other languages belonging to both hostile tribes and friendly neighbors. Hungarian absorbed little by little from every language which came into contact. In Hungarian, we find traces of borrowings of Anglicisms, Gallicisms and a certain similarity with German and Turkic languages. The Slavic languages also played an important role in the formation of the Hungarian language. However, staying true to its ancient roots, Hungarian contains a whopping 68% of its etymons, or original words. Compare this with the four percent retained by the English language, or the five percent kept by Hebrew, and the scale is even more impressive.
</p>
                    <p>
Hungarian is spoken by approximately 17 million people around the world, most of whom live in the Carpathian basin: 10 million in Hungary, 2.5 million in Romania, 1 million in Slovakia, 700,000 in the territory of the former Yugoslavia, 250 000 in the Carpathians, 50,000 in Austria, and about 300,000 in other European countries.
</p>
                    <h3 class="margin-top-35 margin-bottom-25">                 
                        So what makes the Hungarian language so challenging to learn?
                   </h3>
                   <p>
While opinion varies, more or less everyone agrees it’s up there in the top 10 thanks to its 26 cases and numerous complex rules.
Another reason lies in the alphabet itself. The Hungarian ABC has 40 letters, with 14 vowels in it. In addition to the basic vowels "a, e, i, o, u", the Hungarian language has 9 more variations on these: á, é, í, ó, ö, ő, ú, ü, ű. The pronunciation of each is slightly different  but can change the meaning of a word completely.
As for Hungarian consonants, some letters combinations pronounced as one sound are already included to the alphabet.  For example,  "gy" [dy], "sz" [s], "zs" [dz], "cs" [ch], and "ly" which equates to [j].
</p>
                    <p>
A distinctive feature of the Hungarian, what makes it different from other languages, is the specificity of a word formation. Hungarian is an agglutinative language, which means that various grammatical components – such as affixes and stems – can be added to a word to increase its length (and change its meaning). For clarity, let's take as an example the word "barátainkról", which we translate as "about our friends."
Giving to this "suffixing", in 1996, the longest word consisting of 44 letters got into the Guinness Book of Records. In our time, one of the leaders among the longest words without hyphens is - "folyamatellenőrzésiügyosztályvezetőhelyettesképesítésvizsgálat" (62 letters). Perhaps due to its length, it’s not used in daily conversation on a regular basis. It actually can be translated like something along the lines of "request for a qualification of the deputy head of the process management department."
As we can see, the words of the Hungarian language are often very long. To read a particular word, it is often necessary to divide it into parts of a word or into syllables. As a rule, stress is placed on the first syllable, but in particularly long words there are also side stresses, placed on each odd syllable (first, third, fifth, seventh).
</p>
                    <p>
The Hungarian language is a real puzzle, and now we see that the famous Rubik's cube did had to be invented in Hungary. And once a superfluous excuses are discarded and you got immersed in the language, comes a time for a pleasant surprise and charming harmony of this unusual language.
</p>
                    <p>
We wish you not to be afraid of this unique language. Try to learn a few grammatical structures and some everyday phrases and come to practice in Hungary!
And finally, let us together learn the famous Lenin's quote: "Learn, learn and once again learn!", which is: "Tanulni, tanulni és még egyszer tanulni!"
</p>
                    
                </div>
            </div>

            <!-- Comments -->
            


            <div class="clearfix"></div>
            <div class="margin-top-35"></div>


            <!-- Add Comment -->
            
        </div>
    </div>
    <!-- Blog Posts / End -->


    <!-- Widgets -->
    <div class="five columns blog">
       {% include 'blog/widget_sidebar_posts.html' %}
       <div class="clearfix"></div>
        <div class="margin-bottom-40"></div>
    </div><!-- Widgets / End -->


</div>
{%  endblock %}
