{% extends "base_layout.html" %}
{% load staticfiles %}


{%  block title %}Things you did not know about Hungary (part 1) - {%  endblock %}

{%  block titlebar %}
<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo.jpg' %});">
    <div class="container">

        <div class="sixteen columns">
            <h2>Things you did not know about Hungary (part 1)</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>You are here:</li>
                    <li><a href="{% url 'blog:home' %}">Blog</a></li>
                    <li>Things you did not know about Hungary (part 1)</li>
                </ul>
            </nav>
        </div>

    </div>
</div>

{%  endblock %}


{%  block content %}
<!-- Content
================================================== -->
<div class="container">

    <!-- Blog Posts -->
    <div class="eleven columns">
        <div class="padding-right">

            <!-- Post -->
            <div class="post-container">
                <div class="post-img"><img src="{% static 'images/fun_facts1.jpg' %}" alt=""></div>
                <div class="post-content">
                    <h1>Things you did not know about Hungary (part 1)</h1>
                    <div class="meta-tags">
                        <span>January 3, 2018</span>
                        
                    </div>
                    <div class="clearfix"></div>
                    <div class="margin-bottom-25"></div>

                    
<p>
                    1. The name "Hungary" may very well come from the Medieval Latin Hungaria, which translates as "Land of the Huns". Another source states that the name is derived from the Turkish words on ogur, meaning "ten arrows", or "ten peoples".
</p><p>
2. The name "Hungary" is not used inside the country. The citizens of Hungary call themselves Magyar (correctly "Modyor", not "Madyar"), and the country itself Magyarország (lit. "The Land of Hungarians"). The national language of Magyar people is a direct descendant of the language spoken by the Huns. In Europe there are only two similar languages: Finnish (Suomi) and Estonian (Eesti keel).
</p><p>
3. There are 14 vowels in Hungarian language
The five vowels of the English language pale in comparison to Hungarian’s total of 14. As well as the basic "a, e, i, o, u" vowels, the Hungarian language also includes a further 9 variations on these: á, é, í, ó, ö, ő, ú, ü, ű. The pronunciation of each is slightly different  but can change the meaning of a word completely.
</p><p>
4. St. Stephen’s Crown, Hungary’s national symbol, had to be removed from the country in 1944 to protect it from communist parties. It spent some 30 years in Fort Knox, Kentucky. In 1978, President Jimmy Carter returned it to Hungary. Whenever justice is dispensed in Hungarian, it is always done "in the name of Saint Stephen’s Crown".
</p><p>
5. The Hungarian parliament building in Budapest was built in 1896 to celebrate Hungary’s millennial birthday. No less than 88 lbs. (40 kg) of solid gold were used in its construction. It has 691 rooms and 12.5 miles (20 km) of stairs, and at 315 feet (96 m) high, it is tied with St. Stephen’s Basilica as the tallest building in Hungary. It is also the 3rd largest parliament building in the world, bested only by London’s Westminster and Romania’s parliament building.
</p><p>
6. Hungary have public bathing practices that go back to Roman times. The country boasts around 1,500 spas, 450 of which are public.
</p><p>
7. The number "96" is important in Hungary. Arpad was chosen as first king of the Magyars and the beginning of the Hungarian state in A.D. 896. To celebrate Hungary’s millennial anniversary in 1896, the first metro was built in Budapest. By law, the highest buildings in Budapest can be no taller than 96 feet high, and the Hungarian national anthem takes 96 seconds to sing, if done at proper tempo.
</p><p>
8. Budapest is home to the oldest metro line in continental Europe and is the second oldest in the world after London’s Tube.
9. The world’s largest geothermal cave system is in Hungary. It is located underground Budapest. Europe’s largest underground lake also was recently found under Budapest’s Gellért Hill.
10. Lake Balaton is the second largest lake in Europe and the largest in central Europe. It is known as the "Hungarian Sea". It is 48 miles (77 km) long, 2 to 9 miles (3 to 14 km) wide, and covers an area of 232 square miles (601 sq km).
11. Budapest is the home of Dohány Street Synagogue, the largest in Europe and second largest in the world, after one in New York City. It can seat up to 3,000 people.
</p><p>
12. Hungary was the only country to hold a national referendum on whether or not to join NATO, which it did in 1999.
</p><p>
13. There is a legend in Budapest that says if you touch the pen of an anonymous statue which sits in a park near the Heroes Square, then you could become a great writer. The statue looks a little like the grim reaper, but is said to be the chronicler of Hungarian King Béla.
</p><p>
14. Names are back to front. When introducing yourself in Hungary, your given name is always stated after your surname. For example, Tamás Nagy would be introduced as Nagy Tamás. This can catch some visitors out, however the given name is still the one used when speaking to or about someone.
</p><p>
15. In Hungary, parents are required to name their child from a pre-approved list of names. If a mother or father wants to name their child a name not on the list, they have to submit an application to the Research Institute for Linguistics of the Hungarian Academy of Sciences and hope it gets approved.
</p><p>
16. As of 2007, thirteen Hungarians have won 13 Nobel Prizes, which is more than Japan, China, India, Australia, or Spain.
</p>
                    
                </div>
            </div>

            <!-- Comments -->
            


            <div class="clearfix"></div>
            <div class="margin-top-35"></div>


            <!-- Add Comment -->
            
        </div>
    </div>
    <!-- Blog Posts / End -->


    <!-- Widgets -->
    <div class="five columns blog">
       {% include 'blog/widget_sidebar_posts.html' %}
       <div class="clearfix"></div>
        <div class="margin-bottom-40"></div>
    </div><!-- Widgets / End -->



</div>
{%  endblock %}
