{% extends "base_layout.html" %}
{% load staticfiles %}

{%  block title %}Things you did not know about Hungary (part 2) - {%  endblock %}

{%  block titlebar %}

<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo.jpg' %});">
    <div class="container">

        <div class="sixteen columns">
            <h2>Things you did not know about Hungary (part 2)</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>You are here:</li>
                    <li><a href="{% url 'blog:home' %}">Blog</a></li>
                    <li>Things you did not know about Hungary (part 2)</li>
                </ul>
            </nav>
        </div>

    </div>
</div>

{%  endblock %}


{%  block content %}
<!-- Content
================================================== -->
<div class="container">

    <!-- Blog Posts -->
    <div class="eleven columns">
        <div class="padding-right">

            <!-- Post -->
            <div class="post-container">
                <div class="post-img"><img src="{% static 'images/fun_facts2.jpg' %}" alt=""></div>
                <div class="post-content">
                    <h1>Things you did not know about Hungary (part 2)</h1>
                    <div class="meta-tags">
                        <span>January 5, 2018</span>
                        
                    </div>
                    <div class="clearfix"></div>
                    <div class="margin-bottom-25"></div>
                    
                    <p>Read previous post <a href="{% url 'blog:blog_post' slug='fun-facts-part1' %}">here.</a></p>
<p>
1. Hungary is one of the oldest countries in Europe. It was founded in A.D. 896, before France, Germany, or England.
</p><p>
2. Hungarian inventions include: the noiseless match (Jànos Irinyi), Rubik’s cube (Ernö Rubik), the krypton electric bulb (Imre Bródy), and the discovery of vitamins B6, riboflavin, and biotin (Paul Gyorgy). Several other notable inventions were made by Hungarians who fled the country before World War II, including holography (Dennis Gabor), the ballpoint pen (László Bíró), the theory of the hydrogen bomb (Edward Teller), and BASIC programming language (John Kemény and Thomas E. Kurtz).
</p><p>
3. Financier George Soros was born in Hungary. He has given away some 45% of his net worth. In 2013, his charitable donations totaled US $734 million, according to Forbes.com, putting him No. 5 on their list of philanthropists, after Bill and Melinda Gates, Warren Buffett, and Mark Zuckerberg.
</p><p>
4. Hungarian fencer Aladár Gerevich is regarded as "the greatest swordsman who ever lived". He won gold medals in 6 consecutive Olympics from 1932 to 1960.
</p><p>
5. The 1986 Hungarian Grand Prix was the first Formula One race to take place behind the Iron Curtain.
</p><p>
6. Only five countries—U.S., Russia, U.K., France, and Italy—have won more Summer Olympic gold medals than Hungary. Hungary ranks 9th out of 211 participating nations, with a total of 448 medals. By population size, Hungary is second only to Finland in terms of overall medals won.
</p><p>
7. Soccer is Hungary’s most popular sport, and Hungarians still refer to the match of the century in 1953 when Hungary beat England 6-3 at Wembley Stadium in England, marking the first time the English had ever lost to a continental team on home soil.
</p><p>
8. Hungarian soccer star Ferenc Puskás still holds the world record for the number of goals scored in a World Cup final, scoring more than even Brazil’s legendary Pelé. Puskas earned the nicknames Left-Foot Magician, Little Cannon, and Galloping Major.
</p><p>
9. The world's highest LEGO tower. Official representatives of the company LEGO and the largest store in the capital of Hungary and just fans of the legendary designer, set a world record for the towers of LEGO. The height of the tower was about 36 meters. Its construction took more than 45 thousand of LEGO parts.
</p><p>
10. Hungarians broke the Guinness World Record for simultaneous kissing when more than 6,400 couples locked lips outside Budapest’s parliament building in 2007.
</p><p>
11. Wine has been produced in Hungary since the 5th century A.D. In 1737, King Karoly named the Tokaj wine region a national wine area, making it the world’s first official wine region, almost 120 years before France’s Bordeaux.
</p><p>
12. The term in Hungarian for hangover is "macskajaj" (cat’s wail), and Hungarians claim the best cure is a trip to one of the country’s many thermal bathhouses.
</p><p>
13.  There are two words for the colour red. When faced with describing something red, Hungarians have two words to choose from. "Piros" and "vörös" both offer up the same meaning however slightly confusingly, they are both interchangeable in some cases and not in others. Wine is always vörös, for example, while blood or a rose can be either.
</p><p>
14. Hungarians never clink their glasses, or bottles, of beer. According to legend, when 13 Hungarians generals were executed in Austria, during the Revolution of 1848, Austrians clinked their beer glasses after each execution. Therefore, Hungarians refuse to clink glasses as a way to honor the generals’ memory.
</p><p>
15. The first foreign fast food restaurant in Hungary, a McDonald's, opened in 1988.
16. Paprika is Hungary’s most popular spice and a symbol of its cuisine. It is made out of ground dried peppers, also called paprika, which refuse to grow anywhere other than Hungary. It was first used in the 16th century as a food preservative. It takes 3 lbs (1.4 kg) of dried Hungarian red peppers to make 1 lb (.5 kg) of ground paprika.
</p><p>
17. Hungarians consume more than 1.10 lbs. (500 g) of paprika each year. The spice has more vitamin C than citrus fruits. Hungarians also call red peppers paprika, and there are more than 40 varieties grown in Hungary.
</p>
                    
                </div>
            </div>

            <!-- Comments -->
            


            <div class="clearfix"></div>
            <div class="margin-top-35"></div>


            <!-- Add Comment -->
            
        </div>
    </div>
    <!-- Blog Posts / End -->


    <!-- Widgets -->
    <div class="five columns blog">
       {% include 'blog/widget_sidebar_posts.html' %}
       <div class="clearfix"></div>
        <div class="margin-bottom-40"></div>
    </div><!-- Widgets / End -->



</div>
{%  endblock %}
