{% extends "base_layout.html" %}
{% load staticfiles %}


{%  block title %}Тонкости венгерского языка - {%  endblock %}

{%  block titlebar %}
<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo.jpg' %});">
    <div class="container">

        <div class="sixteen columns">
            <h2>Тонкости венгерского языка</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>Текущая страница:</li>
                    <li><a href="{% url 'blog:home' %}">Блог</a></li>
                    <li>Тонкости венгерского языка</li>
                </ul>
            </nav>
        </div>

    </div>
</div>

{%  endblock %}


{%  block content %}
<!-- Content
================================================== -->
<div class="container">

    <!-- Blog Posts -->
    <div class="eleven columns">
        <div class="padding-right">

            <!-- Post -->
            <div class="post-container">
                <div class="post-img"><img src="{% static 'images/about_lang.jpg' %}" alt=""></div>
                <div class="post-content">
                    <h1>Тонкости венгерского языка</h1>
                    <div class="meta-tags">
                        <span>1 Января 2018</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="margin-bottom-25"></div>

                    <p>Венгрия — очень интересная страна с древней и богатой историей. И совершенно не удивительно что её народ общается на необычайно богатом языке. </p>

                    <div class="post-quote">
                        <span class="icon"></span>
                        <blockquote>
                            Венгерский язык входит в число сложнейших языков, наряду с японским, арабским и китайским. 
                        </blockquote>
                    </div>

                    <p>Но, даже несмотря на это, количество людей, желающих изучить его возрастает с каждым годом. И этому есть ряд весомых причин:</p>
                    <p class="margin-reset">В первую очередь, знание венгерского языка дает преимущество при трудоустройстве в международных компаниях или при переезде в Европу, ведь кого из современных работодателей удивишь владением английского или немецкого?
                    </p>
                    <p>
Во-вторых, упомянем тот факт, что туристическое направление Венгрии активно развивается с каждым днем. Множество бальнео-санаториев, курортов, туристических маршрутов, а также красивая природа, невысокие цены и вкусная кухня – Венгрия предлагает все возможности для идеального отдыха. Однако, английским языком в Венгрии владеет преимущественно молодежь, старшие поколения чаще всего не разговаривают на других языках, кроме венгерского. А это значит, что при визите в эту потрясающую страну, пригодятся даже самые элементарные знания венгерского.
                    </p>
                    <p>
                        Ну и разумеется, изучение столь необычного языка захватывает и увлекает всё больше полиглотов, для которых структура и особое звучание венгерского это своеобразный вызов.
</p>
                    <p>
История возникновения языка, как и самого государства берет свое начало с Азии.
Венгерский язык полностью отличается от диалектов, на которых разговаривают соседние государства из индоевропейской языковой семьи. Фактически, венгерский происходит из уральского региона Азии и относится к финно-угорской языковой группе, что говорит о том, что его ближайшие современные родственники это финский и эстонский языки.
</p>
                    <p>
За свое долгое существование венгерская речь развивалась вместе с народом и подвергалась влиянию множества других языков, принадлежащих как враждебным племенам, так и дружественным соседям. Венгерский впитал понемногу от каждого языка, с которым соприкасался. В венгерском языке мы находим следы заимствований англицизмов, галлицизмов и некую схожесть с немецким и тюркскими языками. Немаловажное значение на развитие и формирование венгерского языка оказали и славянские языки. Однако, храня верность своим древним корням, венгерский содержит колоссальные 68% своих первоначальных слов. Сравните это с четырьмя процентами, что остались в английском языке, или пятью процентами, что сохранились в иврите, и этот масштаб впечатлит еще больше.
</p>
                    <p>
На венгерском языке говорят приблизительно 17 млн человек во всем мире, большая часть которых проживает в Карпатском бассейне: 10 млн – в Венгрии 2,5 млн – в Румынии, 1 млн – в Словакии, 700 000 – на территории бывшей Югославии, 250 000 – на территории Карпат, 50 000 – в Австрии, и около 300 000 в других европейских странах.
</p>
                    <h3 class="margin-top-35 margin-bottom-25">                 
                        Так что же делает венгерский язык столь затруднительным в изучении?
                   </h3>
                   <p>
В то время как мнения расходятся, большинство согласны с тем, что венгерских язык находится в Топ 10 сложных языков благодаря своим 26 падежам и многочисленным сложным правилам.
</p>
                    <p>
Еще одна причина кроется в самом алфавите. В венгерском языке 40 букв, 14 из которых гласные. Помимо основных гласных "a, e, i, o, u", венгерский язык также включает в себя еще 9 вариаций: á, é, í, ó, ö, ő, ú, ü, ű. Произношение каждой из этих букв не на много отличается, но может полностью изменить смысл слова. 
</p>
                    <p>
Что же касается согласных, здесь тоже есть некая особенность. В венгерском алфавите уже собраны некие буквосочетания, обозначающие определенный звук. Эту закономерность следует выучить еще в начале знакомства с венгерским языком. Из самых интересных выделим непривычные нам буквы "gy" [дь], "sz" [с], "zs" [ж], "cs" [ч], и "ly" который равен [й].
                        </p>
                    <p>
Отличительная черта венгерского, то что делает его непохожим на остальные языки, это специфика словообразования. Слова образуются преимущественно методом агглютинации ("приклеивания"). Например, то, что в русском мы выражаем при помощи предлога, в венгерском приклеивается к концу слова в виде падежного окончания. Окончаниями, суффиксами, префиксами и приставками выражаются в венгерском также и обстоятельства места и времени, и многое другое. Для наглядности возьмем за пример слово "barátainkról", что переведем как "о наших друзьях". 
                        </p>
                    <p>
Благодаря "суффиксальному нанизыванию" венгерского языка, в 1996 году в Книгу рекордов Гиннеса было внесено самое длинное слово состоящее из 44 букв. В наше время один из лидеров среди самых длинных слов без дефисов занимает почти целую строку - "folyamatellenőrzésiügyosztályvezetőhelyettesképesítésvizsgálat" (62 буквы) – что означает "запрос о квалификации заместителя начальника отдела управления процессами".

</p>
                    <p>
Как мы сами можем убедиться, слова венгерского языка нередко получаются очень длинными. Чтобы прочитать то или иное слово, зачастую приходится делить его на части слова или на слоги. Как правило, ударение ставится на первый слог, но в особенно длинных словах существуют и побочные ударения, расставляемые на каждом нечетном слоге (первом, третьем, пятом, седьмом). 
</p>
                    <p>
Венгерский язык – это настоящая головоломка, и неслучайно знаменитый кубик Рубика был изобретен именно в Венгрии. И в то же время, как только лишние отговорки отброшены и ты с головой "погружаешься в язык", обязательно наступает время приятного удивления и даже очарования гармонией и логикой этого необыкновенного языка.
                        </p>
                    <p>
Мы желаем Вам не бояться этого неповторимого языка. Попробуйте изучить несколько грамматических структур и бытовых фраз и непременно приезжайте практиковаться в Венгрию!
                        </p>
                    <p>
И напоследок, давайте вместе разучим известную крылатую фразу: "Учиться, учиться и еще раз учиться!", что в переводе на венгерский язык: "Tanulni, tanulni és még egyszer tanulni!"
                        </p>
                    
                    
                </div>
            </div>

            <!-- Comments -->
            


            <div class="clearfix"></div>
            <div class="margin-top-35"></div>


            <!-- Add Comment -->
            
        </div>
    </div>
    <!-- Blog Posts / End -->


<!-- Widgets -->
    <div class="five columns blog">
       {% include 'blog/widget_sidebar_posts.html' %}
        
        <div class="clearfix"></div>
        <div class="margin-bottom-40"></div>

    </div>
    <!-- Widgets / End -->


</div>
{%  endblock %}
