{% extends "base_layout.html" %}
{% load staticfiles %}


{%  block title %}То, чего вы не знали о Венгрии (часть 1) - {%  endblock %}

{%  block titlebar %}
<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo.jpg' %});">
    <div class="container">

        <div class="sixteen columns">
            <h2>То, чего вы не знали о Венгрии (часть 1)</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>Текущая страница:</li>
                    <li><a href="{% url 'blog:home' %}">Блог</a></li>
                    <li>То, чего вы не знали о Венгрии (часть 1)</li>
                </ul>
            </nav>
        </div>

    </div>
</div>

{%  endblock %}


{%  block content %}
<!-- Content
================================================== -->
<div class="container">

    <!-- Blog Posts -->
    <div class="eleven columns">
        <div class="padding-right">

            <!-- Post -->
            <div class="post-container">
                <div class="post-img"><img src="{% static 'images/fun_facts1.jpg' %}" alt=""></div>
                <div class="post-content">
                    <h1>То, чего вы не знали о Венгрии (часть 1)</h1>
                    <div class="meta-tags">
                        <span>3 Января 2018</span>
                        
                    </div>
                    <div class="clearfix"></div>
                    <div class="margin-bottom-25"></div>

                    
<p>
                    1. Английское название "Hungary" (Венгрия) происходит от Средневекового латинского Hungaria, и переводится как "Земля гуннов". Название построено из этнонимов (H)ungarī, Ungrī, Ugrī, которые использовалось средневековыми писателями при упоминании страны Венгрии или её жителей. Согласно другому источнику, название происходит от древнетурецких слов "On ogur", что означает "десять стрел" или "десять народов".
</p><p>
2. Внутри страны не употребляется название "Hungary". Жители Венгрии называют себя Magyar (кстати, правильно "модьор", а не "мадяр"), а саму страну Magyarország (букв. "Страна венгров"). Национальный язык Magyar является прямым потомком языка, на котором говорили гунны. В Европе есть только два похожих языка: финский (Suomi) и эстонский (Eesti keel).
</p><p>
3. В венгерском языке 14 гласных букв. Десять гласных звуков русского языка — это еще не предел. Помимо основных гласных звуков: "a, e, i, o, u", венгерский язык также включает в себя еще 9 вариаций: á, é, í, ó, ö, ő, ú, ü, ű. Произношение каждого из них несколько отличается, но может полностью изменить смысл слова.
</p><p>
4. На протяжении столетий корона Святого Иштвана, национальный символ и священная реликвия Венгрии, неоднократно похищалась. В 1978 году корона великого короля вновь вернулась в Венгрию, и с тех пор вместе с другими королевскими регалиями – державой, скипетром и клятвенным мечом хранится в здании парламента Будапешта. "Во имя короны Святого Иштвана" - произносится каждый раз, когда в Венгрии вершится правосудие.  
</p><p>
5. Здание венгерского парламента в Будапеште было построено в 1896 году, к празднованию тысячелетия Венгрии. В строительстве использовалось не менее 40 кг твердого золота. Высота здания составляет 96 м, наряду с базиликой Святого Иштвана, это самые высокие исторические здания Будапешта. Будапештский парламент это 3-е по величине здание парламента в мире, после лондонского Вестминстера и парламента Румынии.
</p><p>
6. Венгрия поддерживает купальные традиции, которые восходят к римским временам. В стране насчитывается около 1500 купален и курортов, 450 из которых общественные.
</p><p>
7. Число "96" обладает особым значением в Венгрии. При основании венгерского государства, первый король модьоров, Арпад, был избран в 896 году. К тысячелетней годовщине страны, в 1896, в Будапеште было построено первое метро. По закону, самые высокие здания в Будапеште должны превышать 96 футов в высоту, а исполнение национального гимна Венгрии занимает 96 секунд, если спеть его в правильном темпе.
</p><p>
8. К слову о метро. Линия метро в Будапеште стала первой в континентальной Европе, и второй старейшей веткой подземного транспорта в мире после Лондонского метрополитена.
</p><p>

9. Самая большая в мире геотермальная пещерная система находится в Венгрии. Она расположена под землей в Будапеште. Также не так давно было обнаружено крупнейшее в Европе подземное озеро под горой Геллерт в Будапеште.
</p><p>

10. Озеро Балатон - второе по величине озеро в Европе и крупнейшее в Центральной Европе. Оно также известно как "Венгерское море". Размер озера Балатон составляет 77 км в длину и от 3 до 14 км в ширину. Тотальная площадь озера 601 кв. км.
</p><p>

11. В Будапеште находится крупнейшая в Европе и вторая по величине в мире синагога. Знаменитая Будапештская Большая синагога на улице Дохань может вмещать до 3000 человек.
</p><p>
12. Венгрия была единственной страной, которая провела национальный референдум о вступлении в НАТО в 1999 году.
</p><p>
13. В Будапеште есть легенда которая гласит, что если прикоснуться к ручке анонимной статуи в парке возле площади Героев, можно стать великим писателем. Статуя немного похожа на мрачного жнеца, но, бытует мнение, что этот аноним является летописцем венгерского короля Бейлы.
</p><p>
14. В Венгрии, когда люди пишут свои имена или представляются публике, они в первую очередь озвучат свою фамилию, и затем имя.
</p><p>
15. Ранее в Венгрии родители обязывались называть своего ребенка из предварительно утвержденного списка имен. То есть если мать или отец хотели назвать своего ребенка именем, не указанным в списке, они должны были подать заявку в Научно-исследовательский институт лингвистики Венгерской академии наук и надеяться, что получат одобрение.
</p><p>
16. С 2007 года венгры завоевали 13 Нобелевских премий, чем превзошли Японию, Китай, Индию, Австралию или Испанию.
</p>
                    
                </div>
            </div>

            <!-- Comments -->
            


            <div class="clearfix"></div>
            <div class="margin-top-35"></div>


            <!-- Add Comment -->
            
        </div>
    </div>
    <!-- Blog Posts / End -->


    <!-- Widgets -->
    <div class="five columns blog">
       {% include 'blog/widget_sidebar_posts.html' %}
        
        <div class="clearfix"></div>
        <div class="margin-bottom-40"></div>

    </div>
    <!-- Widgets / End -->


</div>
{%  endblock %}
