{% extends "base_layout.html" %}
{% load staticfiles %}

{%  block title %}То, чего вы не знали о Венгрии (часть 2) - {%  endblock %}

{%  block titlebar %}

<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo.jpg' %});">
    <div class="container">

        <div class="sixteen columns">
            <h2>То, чего вы не знали о Венгрии (часть 2)</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>Текущая страница:</li>
                    <li><a href="{% url 'blog:home' %}">Блог</a></li>
                    <li>То, чего вы не знали о Венгрии (часть 2)</li>
                </ul>
            </nav>
        </div>

    </div>
</div>

{%  endblock %}


{%  block content %}
<!-- Content
================================================== -->
<div class="container">

    <!-- Blog Posts -->
    <div class="eleven columns">
        <div class="padding-right">

            <!-- Post -->
            <div class="post-container">
                <div class="post-img"><img src="{% static 'images/fun_facts2.jpg' %}" alt=""></div>
                <div class="post-content">
                    <h1>То, чего вы не знали о Венгрии (часть 2)</h1>
                    <div class="meta-tags">
                        <span>5 Января 2018</span>
                        
                    </div>
                    <div class="clearfix"></div>
                    <div class="margin-bottom-25"></div>
                    
                    
<p>
1. Венгрия одна из старейших стран Европы. Год основания Венгрии датируется 896 годом, задолго до Франции, Германии или Англии.
</p><p>
2. Среди венгерских изобретений: безопасные спички Яноша Ирини (образец современных спичек), кубик Рубика (Эрнё Рубик), криптоновая лампа накаливания Имре Броди (современная электрическая лампочка) и открытие витаминов B6, рибофлавина и биотина (Пол Дьёрдь). Несколько других примечательных изобретений были сделаны венграми, которые покинули страну до Второй мировой войны, включая голографию (Деннис Габор), шариковую ручку (Ласло Биро), теорию водородной бомбы (Эдвард Теллер) и язык программирования BASIC (Джон Кемены и Томас Е. Курц).
</p><p>
3. Известный финансист и меценат Джордж Сорос родился в Венгрии. Согласно данным Forbes.com, в 2013 году его благотворительные пожертвования составили 734 млн. долл. США, заняв 5 место в списке филантропов Forbes после Билла и Мелинды Гейтс, Уоррена Баффета и Марка Цукерберга.
</p><p>
4. Венгерский фехтовальщик Олодар Геревич считается "величайшим фехтовальщиком, из когда-либо живших". Самый титулованный спортсмен на олимпиадах в истории спортивного фехтования на саблях и рапирах. 7-кратный олимпийский чемпион и 14-кратный чемпион мира.
</p><p>
5. Гран-при Венгрии 1986 года (одиннадцатый этап чемпионата мира по автогонкам) стал первой гонкой Формулы-1, которая прошла за пределами "Железного занавеса".
</p><p>
6. Всего лишь пять стран - США, Россия, Великобритания, Франция и Италия - выиграли больше летних олимпийских золотых медалей, чем Венгрия. Венгрия занимает 9-е место из 211 участвующих стран, выиграв в общей сложности 448 медалей. 
</p><p>
7. Футбол является самым популярным видом спорта в Венгрии. Венгры с гордостью вспоминают матч века в 1953 году, когда Венгрия обыграла Англию со счетом 6:3 на стадионе "Уэмбли" в Англии.  Это было первое поражение англичан перед континентальной командой на родине.
</p><p>
8. Венгерская футбольная звезда Ференц Пушкаш занимает 6-е место среди лучших футболистов мира XX века. Входит в список 50-ти лучших игроков в истории футбола. Ференц Пушкаш ещё при жизни был признан лучшим венгерским футболистом всех времён. Имя Ференца Пушкаша носит мультиспортивный стадион в Будапеште. В его честь назван Приз лучшего гола года по версии ФИФА. Ференц Пурцельд Биро (полное имя) также известен по прозвищам "Галопирующий майор" и "Пушечка-Бум".
</p><p>
9. Самая высокая в мире LEGO-башня. Официальные представители компании LEGO совместно с крупнейшим магазином столицы Венгрии и просто поклонниками легендарного конструктора, установили мировой рекорд высоты для башен из LEGO. Высота башни составила около 36 метров. На сооружение башни ушло свыше 45 тысяч деталей конструктора LEGO.
</p><p>
10. И еще один мировой рекорд Гиннеса. 9 июня 2007 года, венгры побили мировой рекорд одновременного поцелуя, когда у здания парламента страны более 6 400 пар соединились губами.
</p><p>
11. Вино производится в Венгрии с 5-го века A.D. В 1737 году король Карой провозгласил винный регион Токай национальной винодельческой зоной, сделав его первым официальным винодельческим регионом в мире, почти за 120 лет до французского Бордо.
</p><p>
12. В венгерском языке есть особый термин для описания состояния похмелья — "macskajaj" (примерный перевод: кошачий вопль). Сами же венгры утверждают, что лучшим лекарством от macskajaj является поездка в одну из многочисленных термальных купален страны.
</p><p>
13. В венгерском языке существует два слова для определения красного цвета: "vörös" и "piros".
</p><p>
14. У венгров нет традиции чокаться бокалами или бутылками. Согласно легенде, когда во время Революции 1848 года, 13 генералов Венгрии были казнены в Австрии, австрийцы после каждой казни сдвигали свои пивные бокалы. Поэтому венгры отказываются звенеть бокалами, чтоб почтить память генералов.

</p><p>
15. Первый зарубежный ресторан быстрого питания в Венгрии был открыт в 1988 году. Им стал McDonald's.
</p><p>
16. Паприка - самая популярная специя в Венгрии и символ ее кухни. Изготовляется из красного молотого сушеного перца, который растет исключительно в Венгрии. Впервые эта специя была использована в XVI веке в качестве консерванта для пищевых продуктов. Для того чтоб чтобы получить 0,5 кг молотой паприки требуется примерно 1,4 кг высушенных венгерских красных перцев.
</p><p>
17. В среднем каждый венгр потребляет более 500 г паприки ежегодно. В специи содержится больше витамина С, чем в цитрусовых. В Венгрии выращивается более 40 сортов красного перца для паприки.

</p>
                    
                </div>
            </div>

            <!-- Comments -->
            


            <div class="clearfix"></div>
            <div class="margin-top-35"></div>


            <!-- Add Comment -->
            
        </div>
    </div>
    <!-- Blog Posts / End -->


    <!-- Widgets -->
    <div class="five columns blog">
       {% include 'blog/widget_sidebar_posts.html' %}
        
        <div class="clearfix"></div>
        <div class="margin-bottom-40"></div>

    </div>
    <!-- Widgets / End -->


</div>
{%  endblock %}
