{% extends "base_layout.html" %}
{% load staticfiles %}

{%  block title %} Blog - {%  endblock %}

{%  block titlebar %}
<div id="titlebar" class="photo-bg" style="background-image: url({% static 'images/all-categories-photo.jpg' %});">
    <div class="container">

        <div class="sixteen columns">
            <h2>Блог</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>Последние новости и занимательные статьи о Венгрии</li>
                </ul>
            </nav>
        </div>

    </div>
</div>

{%  endblock %}


{%  block content %}

<!-- Content
================================================== -->
<div class="container">

    <!-- Blog Posts -->
    <div class="eleven columns">
        <div class="padding-right">

            <!-- Post -->
            <div class="post-container">
                <div class="post-img"><a href="{% url 'blog:blog_post' slug='fun-facts-part2' %}"><img src="{% static 'images/fun_facts2.jpg' %}" alt=""></a><div class="hover-icon"></div></div>
                <div class="post-content">
                    <a href="{% url 'blog:blog_post' slug='fun-facts-part2' %}"><h3>То, чего вы не знали о Венгрии (часть 2)</h3></a>
                    <div class="meta-tags">
                        <span>5 Января 2018</span>
                        <span><a href="{% url 'blog:blog_post' slug='fun-facts-part2' %}"> </a></span>
                    </div>
                    <p>Венгрия одна из старейших стран Европы. Год основания Венгрии датируется 896 годом, задолго до Франции, Германии или Англии. Среди венгерских изобретений: безопасные спички Яноша Ирини (образец современных спичек), кубик Рубика (Эрнё Рубик), криптоновая лампа накаливания Имре Броди (современная электрическая лампочка) и открытие витаминов B6, рибофлавина и биотина (Пол Дьёрдь). Несколько других примечательных изобретений были сделаны венграми, которые покинули страну до Второй мировой войны, включая голографию (Деннис Габор), шариковую ручку (Ласло Биро), теорию водородной бомбы (Эдвард Теллер) и язык программирования BASIC (Джон Кемены и Томас Е. Курц).</p>
                    <a class="button" href="{% url 'blog:blog_post' slug='fun-facts-part2' %}">Читать</a>
                </div>
            </div>

            <!-- Post -->
            <div class="post-container">
                <div class="post-img"><a href="{% url 'blog:blog_post' slug='fun-facts-part1' %}"><img src="{% static 'images/fun_facts1.jpg' %}" alt=""></a><div class="hover-icon"></div></div>
                <div class="post-content">
                    <a href="{% url 'blog:blog_post' slug='fun-facts-part1' %}"><h3>То, чего вы не знали о Венгрии (часть 1)</h3></a>
                    <div class="meta-tags">
                        <span>3 Января 2018</span>
                        <span><a href="{% url 'blog:blog_post' slug='fun-facts-part1' %}"> </a></span>
                    </div>
                    <p>Английское название "Hungary" (Венгрия) происходит от Средневекового латинского Hungaria, и переводится как "Земля гуннов". Название построено из этнонимов (H)ungarī, Ungrī, Ugrī, которые использовалось средневековыми писателями при упоминании страны Венгрии или её жителей.</p>
                    <a class="button" href="{% url 'blog:blog_post' slug='fun-facts-part1' %}">Читать</a>
                </div>
            </div>

            <!-- Post -->
            <div class="post-container">
                <div class="post-img"><a href="{% url 'blog:blog_post' slug='hungarian-language' %}"><img src="{% static 'images/about_lang.jpg' %}" alt=""></a><div class="hover-icon"></div></div>
                <div class="post-content">
                    <a href="{% url 'blog:blog_post' slug='hungarian-language' %}"><h3>Тонкости венгерского языка</h3></a>
                    <div class="meta-tags">
                        <span>1 Января 2018</span>
                        <span><a href="{% url 'blog:blog_post' slug='hungarian-language' %}"> </a></span>
                    </div>
                    <p>Венгрия — очень интересная страна с древней и богатой историей. И совершенно не удивительно что её народ общается на необычайно богатом языке. 

                    </p>
                    <a class="button" href="{% url 'blog:blog_post' slug='hungarian-language' %}">Читать</a>
                </div>
            </div>

            
        </div>
    </div>
    <!-- Blog Posts / End -->


    <!-- Widgets -->
    <div class="five columns blog">

        {% include 'blog/widget_sidebar_posts.html' %}
        
        <div class="clearfix"></div>
        <div class="margin-bottom-40"></div>

    </div>
    <!-- Widgets / End -->


</div>
{%  endblock %}

{%  block custom_js %}
    <script>
        jQuery("#blog-link > a").attr('id', 'current');
    </script>
{%  endblock %}